Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

fix(ci): handle gitignored vendor in pre-push hook
  .githooks/pre-push
Due: none

fix(hpc): add HasCriticalDiscrepancies method to HPCReconciliationRecord
  x/hpc/types/usage_snapshot.go
Due: x/hpc - HPC Scheduling

fix(ci): sync vendor before vet/build/test in quality-gate workflow
  .github/workflows/quality-gate.yaml
Due: none

ci: run lint, build, test-go in parallel for faster PR feedback
  .github/workflows/ci.yaml
Due: none

fix(ci): update fuzz workflow to Go 1.25.5 and improve quality-gate handling
  .github/workflows/fuzz.yaml
  .github/workflows/quality-gate.yaml
Due: none

fix(ci): standardize quotes and formatting in workflow YAML files
  .github/workflows/fuzz.yaml
  .github/workflows/quality-gate.yaml
Due: none

fix(ci): simplify vet and vendor checks in pre-push hook for improved efficiency
  .githooks/pre-push
Due: none

feat: Implement ProtoMessage methods for Params and GenesisState
  app/netsecurity_protection.go
  app/netsecurity_test.go
  pkg/provider_daemon/offering_sync_worker.go
  upgrades/software/v1.1.0/upgrade_test.go
  x/benchmark/keeper/keeper.go
  x/benchmark/keeper/msg_server.go
  x/benchmark/keeper/msg_server_test.go
  x/benchmark/module.go
  x/enclave/module.go
  x/enclave/types/codec.go
  x/encryption/module.go
  x/fraud/module.go
  x/hpc/genesis_test.go
  x/mfa/keeper/gating_test.go
  x/mfa/keeper/msg_server_test.go
  x/mfa/keeper/sessions_test.go
  x/mfa/module.go
  x/provider/handler/handler_test.go
  x/provider/keeper/keeper.go
  x/roles/module.go
  x/roles/types/genesis.go
  x/staking/keeper/keeper_test.go
  x/staking/module.go
  x/staking/types/performance.go
  x/support/module.go
  x/veid/keeper/compliance_test.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/grpc_query.go
  x/veid/keeper/msg_server.go
  x/veid/keeper/msg_server_test.go
  x/veid/keeper/quality_gates_test.go
  x/veid/keeper/tier_transitions_test.go
  x/veid/keeper/verification_benchmark_test.go
  x/veid/module.go
  x/veid/types/codec.go
  x/veid/types/grpc_handlers.go
  x/veid/types/msgs.go
  x/veid/types/msgs_compliance.go
Due: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(ci): add status check aliases for branch protection
  .github/workflows/quality-gate.yaml
Due: none

fix(ci): pre-push hook timeout handling for all tests
  .githooks/pre-push
Due: none

refactor: optimize pre-push checks for changed packages and improve formatting
  .githooks/pre-push
  app/netsecurity_protection.go
  x/staking/types/performance.go
Due: none

feat(app): add fiat off-ramp integration (PayPal/ACH)
  .githooks/pre-push
  _docs/offramp-compliance.md
  pkg/payment/offramp/ach_adapter.go
  pkg/payment/offramp/config.go
  pkg/payment/offramp/doc.go
  pkg/payment/offramp/interfaces.go
  pkg/payment/offramp/kyc_gate.go
  pkg/payment/offramp/monitoring.go
  pkg/payment/offramp/paypal_adapter.go
  pkg/payment/offramp/reconciliation.go
  pkg/payment/offramp/service.go
  pkg/payment/offramp/service_test.go
  pkg/payment/offramp/store.go
  pkg/payment/offramp/types.go
  pkg/payment/offramp/webhooks.go
Due: none

perf(ci): move go mod tidy to pre-commit, speed up pre-push
  .githooks/pre-commit
  .githooks/pre-push
Due: none

fix(pre-push): update environment variable syntax for clarity
  .githooks/pre-push
Due: none

fix(pre-push): correct syntax for quick mode and skip checks comments
  .githooks/pre-push
Due: none

fix(pre-push): enhance unit test timeout handling and optimize execution
  .githooks/pre-push
Due: none

feat(fraud): add evidence handling to fraud report submission and validation
  pkg/govdata/dvs_adapter_test.go
  pkg/govdata/eidas_adapter_test.go
  pkg/govdata/govuk_adapter_test.go
  pkg/govdata/pctf_adapter_test.go
  pkg/provider_daemon/aws_adapter.go
  pkg/provider_daemon/azure_adapter.go
  pkg/provider_daemon/hpc_scheduler_test.go
  pkg/provider_daemon/lifecycle.go
  pkg/provider_daemon/multisig.go
  pkg/provider_daemon/openstack_adapter.go
  pkg/provider_daemon/scaling.go
  pkg/provider_daemon/usage_meter.go
  pkg/provider_daemon/vmware_adapter.go
  pkg/provider_daemon/vmware_adapter_test.go
  pkg/slurm_adapter/ssh_client_test.go
  sdk/go/node/veid/v1/compliance_msgs.go
  x/escrow/genesis_test.go
  x/fraud/keeper/msg_server_test.go
  x/fraud/types/msgs_test.go
  x/hpc/genesis_test.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/waldur_ingest.go
  x/mfa/genesis_test.go
  x/mfa/keeper/msg_server_test.go
  x/mfa/types/challenge.go
  x/provider/handler/server.go
  x/veid/keeper/composite_scoring_test.go
  x/veid/keeper/feature_extraction_test.go
  x/veid/keeper/msg_server_test.go
  x/veid/keeper/tier_transitions_test.go
Due: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(ci): exclude sdk/ and vendor/ from pre-push hook tests
  .githooks/pre-push
Due: none

fix(tests): correct formatting in PCTF adapter test case
  pkg/govdata/eidas_adapter_test.go
  pkg/govdata/pctf_adapter_test.go
Due: none

└ 85 lines read
  docs/usage-reporting-settlement.md
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/settlement_pipeline.go
  pkg/provider_daemon/settlement_pipeline_test.go
  pkg/provider_daemon/usage_alerts.go
  pkg/provider_daemon/waldur_reconciler.go
Due: pkg/provider_daemon - Provider Services

● Edit x\hpc\keeper\workload_template.go (-1)
  cmd/virtengine/cmd/hpc/templates.go
  docs/hpc-workload-publishing.md
  pkg/hpc_workload_library/doc.go
  pkg/hpc_workload_library/signing.go
  pkg/hpc_workload_library/templates.go
  pkg/hpc_workload_library/templates_test.go
  pkg/hpc_workload_library/validation.go
  pkg/hpc_workload_library/validation_test.go
  pkg/provider_daemon/workload_validator.go
  x/hpc/keeper/workload_template.go
  x/hpc/types/errors.go
  x/hpc/types/keys.go
  x/hpc/types/workload_governance.go
  x/hpc/types/workload_template.go
Due: x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

└ 102 lines...
  _docs/runbooks/finance-reconciliation-runbook.md
  x/settlement/keeper/keeper.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_test.go
  x/settlement/types/errors.go
  x/settlement/types/events.go
  x/settlement/types/genesis.go
  x/settlement/types/payout.go
Due: none

● Read x\settlement\keeper\keeper.go lines 54-90 └ 42 lines read
  x/settlement/keeper/payout_executor.go
Due: none

✗ Read pkg\enclave_runtime\sgx_gramine.go Path does not exist
  pkg/enclave_runtime/enclave_manager.go
Due: none

● List directory pkg\pricefeed └ 20 files found
  pkg/pricefeed/retry.go
Due: none

- **Unpredictable**: Based on SHA-256 which is cryptographically secure - **Unbiased**: Uses rejection sampling to avoid modulo bias - **No weak random**: `math/rand` completely removed from the file
  x/enclave/keeper/committee.go
  x/enclave/keeper/committee_test.go
Due: none

● Glob "**/x/encryption/**/*.go" └ 34 files found
  pkg/edugain/encryption.go
  pkg/edugain/encryption_test.go
Due: none

● List directory x\veid\keeper └ 93 files found
  x/veid/module.go
  x/veid/types/grpc_handlers.go
Due: x/veid - Identity Verification

docs: update agent task guidelines and commit conventions
  AGENTS.md
Due: none

feat(config): add secure secrets configuration module
  pkg/config/secrets.go
  pkg/config/secrets_test.go
Due: none

fix(mfa): re-enable gating tests and fix VEID gRPC registration
  x/mfa/keeper/gating_test.go
  x/veid/keeper/sdk_query_server.go
  x/veid/module.go
  x/veid/types/grpc_handlers.go
  x/veid/types/score_query.go
  x/veid/types/wallet_query.go
Due: x/veid - Identity Verification, x/mfa - Multi-Factor Auth

docs(security): add security policy and guidelines
  SECURITY.md
  _docs/security-checklist.md
  _docs/security-guidelines.md
Due: none

fix(security): 7A - command injection prevention and input sanitization
  cmd/hpc-node-agent/metrics.go
  pkg/benchmark_daemon/runner.go
  pkg/enclave_runtime/hardware_nitro.go
  pkg/inference/scorer.go
  pkg/provider_daemon/ansible_adapter.go
  pkg/security/validation.go
  pkg/security/validation_test.go
Due: pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(security): add path traversal prevention and integer overflow protection
  pkg/provider_daemon/event_checkpoint_store.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/ratelimit/redis_limiter.go
  pkg/security/overflow.go
  pkg/security/overflow_test.go
  pkg/security/path.go
  pkg/security/path_test.go
  pkg/security/permissions.go
  pkg/security/permissions_test.go
  pkg/verification/keystorage/file.go
  sdk/go/cli/auth_tips.go
  sdk/go/cli/enclave_tx.go
  sdk/go/cli/gov_tx.go
  sdk/go/cli/keys_add.go
  sdk/go/cli/keys_import.go
  sdk/go/cli/provider_tx.go
  sdk/go/cli/sso.go
  sdk/go/cli/staking_tx.go
  sdk/go/cli/vesting_tx.go
  sdk/go/cli/wasm_parse.go
  x/enclave/client/cli/tx.go
  x/escrow/keeper/keeper.go
Due: x/escrow - Escrow, pkg/provider_daemon - Provider Services

feat: enhance vibe-kanban workflow and add task planning guidelines
  .claude/settings.local.json
  .github/agents/Task Planner.agent.md
  _docs/ralph/progress.md
  _docs/ralph/vibe-kanban-workflow.md
Due: none

test(veid): add deterministic inference conformance suite
  .github/workflows/veid-conformance.yml
  docs/veid/determinism-conformance.md
  pkg/inference/conformance_test.go
  pkg/inference/deterministic_conformance_suite_test.go
  pkg/inference/golden_vectors.go
  pkg/inference/savedmodel_integration_test.go
  pkg/inference/test_vectors.go
  pkg/security/validation.go
Due: pkg/inference - ML Inference

fix(veid): close IAVL stores in tests to prevent goroutine leaks
  x/veid/keeper/appeal_test.go
  x/veid/keeper/audit_export_test.go
  x/veid/keeper/biometric_hash_test.go
  x/veid/keeper/borderline_handler_test.go
  x/veid/keeper/borderline_test.go
  x/veid/keeper/compliance_test.go
  x/veid/keeper/composite_scoring_test.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/credential_issuance_test.go
  x/veid/keeper/delegation_test.go
  x/veid/keeper/eligibility_enhanced_test.go
  x/veid/keeper/geo_restrictions_test.go
  x/veid/keeper/grpc_query_test.go
  x/veid/keeper/keeper_test.go
  x/veid/keeper/market_integration_test.go
  x/veid/keeper/model_version_test.go
  x/veid/keeper/pipeline_version_integration_test.go
  x/veid/keeper/pipeline_version_test.go
  x/veid/keeper/privacy_proofs_test.go
  x/veid/keeper/score_test.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/signature_crypto_test.go
  x/veid/keeper/test_store_helper_test.go
  x/veid/keeper/tier_transitions_test.go
  x/veid/keeper/validator_auth_test.go
  x/veid/keeper/validator_sync_test.go
  x/veid/keeper/verification_benchmark_test.go
  x/veid/keeper/wallet_test.go
  x/veid/keeper/zkproofs_benchmark_test.go
Due: x/veid - Identity Verification

fix: remove duplicate error declarations in pkg/security
  pkg/security/validation.go
Due: none

test(provider): add E2E HPC marketplace provider flow tests
  .github/workflows/ci.yaml
  _docs/hpc-marketplace-e2e-test-guide.md
  pkg/security/validation.go
  tests/e2e/fixtures/hpc_provider_fixtures.go
  tests/e2e/hpc_marketplace_e2e_test.go
Due: none
