Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

feat(escrow): apply atomic IBC custody transitions
  x/settlement/ibc/errors.go
  x/settlement/ibc/hooks.go
  x/settlement/ibc/keeper.go
  x/settlement/ibc/keeper_test.go
  x/settlement/ibc/types.go
Due: none

docs(escrow): record T3-02 handoff evidence
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

feat(sdk): harden wallet session authority
  lib/portal/__tests__/wallet/context.test.tsx
  lib/portal/__tests__/wallet/session.test.ts
  lib/portal/index.ts
  lib/portal/package.json
  lib/portal/src/wallet/context.tsx
  lib/portal/src/wallet/index.ts
  lib/portal/src/wallet/session.ts
  pnpm-lock.yaml
Due: none

docs(sdk): record T2-02 handoff evidence
  _docs/ralph/handoffs/prototype-t2/HANDOFF.yaml
Due: none

test(ci): enforce T5 negative enablement
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
  pkg/platformsecurity/contracts/manifest.go
  pkg/platformsecurity/contracts/manifest_test.go
  pkg/platformsecurity/contracts/testdata/dependency-manifest.json
Due: none

docs(ci): finalize T5 prototype handoff
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

feat(veid): add fail-closed evidence trust inventory
  scripts/task85d-preflight.ps1
  x/veid/types/evidence_trust_inventory.go
  x/veid/types/evidence_trust_inventory_test.go
Due: x/veid - Identity Verification

docs(veid): record T1-01 handoff evidence
  _docs/ralph/handoffs/prototype-t1/HANDOFF.yaml
Due: none

feat(ci): enforce model provenance evidence
  _docs/INDEX.md
  _docs/ralph/prototype-integration/model-provenance.json
  _docs/ralph/prototype-integration/model-provenance.schema.json
  scripts/validate-model-provenance.cjs
  scripts/validate-model-provenance.test.cjs
  scripts/validate-prototype-integration.cjs
Due: none

docs(ci): record model provenance checkpoint
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

feat(provider): fail closed on unavailable portal routes
  lib/portal/__tests__/provider-api/client.test.ts
  lib/portal/src/provider-api/client.ts
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_billing.go
  pkg/provider_daemon/portal_capability_routes_test.go
  pkg/provider_daemon/portal_chain_query.go
  pkg/provider_daemon/portal_chain_query_grpc.go
  pkg/provider_daemon/portal_chain_query_test.go
  pkg/provider_daemon/portal_events.go
  pkg/provider_daemon/portal_metrics.go
  pkg/provider_daemon/portal_middleware.go
  pkg/provider_daemon/portal_organizations.go
  pkg/provider_daemon/portal_readiness_test.go
  pkg/provider_daemon/portal_tickets.go
Due: pkg/provider_daemon - Provider Services

docs(provider): record T2-03 handoff evidence
  _docs/ralph/handoffs/prototype-t2/HANDOFF.yaml
Due: none

fix(app): require approved model provenance
  cmd/inference-sidecar/manifest.go
  cmd/inference-sidecar/manifest_test.go
Due: none

docs(ci): record bundle provenance gate
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

fix(provider): reject undeclared portal capabilities
  pkg/provider_daemon/portal_chain_query.go
  pkg/provider_daemon/portal_readiness_test.go
Due: pkg/provider_daemon - Provider Services

feat(provider): classify reconciliation evidence states
  pkg/provider_daemon/settlement_pipeline.go
  pkg/provider_daemon/usage_alerts.go
  pkg/provider_daemon/waldur_reconciler.go
  pkg/provider_daemon/waldur_reconciler_test.go
Due: pkg/provider_daemon - Provider Services

docs(provider): record T3-03 handoff evidence
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

test(provider): enforce legacy capability declarations
  pkg/provider_daemon/portal_readiness_test.go
Due: pkg/provider_daemon - Provider Services

feat(veid): freeze evidence envelope v1
  x/veid/types/evidence_envelope.go
  x/veid/types/evidence_envelope_test.go
Due: x/veid - Identity Verification

docs(veid): record T1-02 handoff evidence
  _docs/ralph/handoffs/prototype-t1/HANDOFF.yaml
Due: none

docs(provider): synchronize T3-03 intake metadata
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

docs(provider): record synchronized T2-03 evidence
  _docs/ralph/handoffs/prototype-t2/HANDOFF.yaml
  _docs/ralph/handoffs/prototype-t2/T2-03B-evidence.txt
Due: none

fix(encryption): authenticate envelope v2
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
  x/encryption/crypto/envelope.go
  x/encryption/crypto/envelope_fuzz_test.go
  x/encryption/crypto/envelope_test.go
  x/encryption/types/envelope.go
  x/encryption/types/envelope_test.go
Due: x/encryption - Cryptography

docs(encryption): record T5-08 handoff
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

docs(ci): repair prototype thread intake protocol
  _docs/INDEX.md
  _docs/audits/prototype-thread-progress-audit-2026-08-01.md
  _docs/five-agent-protocol-completion-plan.md
  _docs/prototype-thread-intake-runbook.md
  _docs/thread-queues/thread-1-identity-trust.md
  _docs/thread-queues/thread-2-product-clients.md
  _docs/thread-queues/thread-3-protocol-reliability.md
  _docs/thread-queues/thread-4-integration-release.md
  _docs/thread-queues/thread-5-platform-security.md
Due: none

feat(provider): persist reconciliation jobs and intents
  pkg/provider_daemon/waldur_reconciler.go
  pkg/provider_daemon/waldur_reconciler_test.go
  pkg/provider_daemon/waldur_reconciliation_store.go
  pkg/provider_daemon/waldur_reconciliation_store_test.go
Due: pkg/provider_daemon - Provider Services

docs(provider): record T3-04 handoff evidence
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

feat(hpc): require authoritative client adapters
  portal/src/features/hpc/components/JobWizard.test.tsx
  portal/src/features/hpc/components/JobWizard.tsx
  portal/src/features/hpc/context/HPCClientProvider.tsx
  portal/src/features/hpc/hooks/index.test.tsx
  portal/src/features/hpc/hooks/index.ts
  portal/src/features/hpc/index.ts
  portal/src/features/hpc/lib/hpc-client.test.ts
  portal/src/features/hpc/lib/hpc-client.ts
  portal/tests/unit/hpc/hpcClient.test.ts
Due: none

docs(hpc): record T2-04 handoff evidence
  _docs/ralph/handoffs/prototype-t2/HANDOFF.yaml
  _docs/ralph/handoffs/prototype-t2/T2-04-evidence.txt
Due: none

feat(veid): add fail-closed runtime policy reader
  x/veid/keeper/governance_hooks.go
  x/veid/keeper/runtime_policy.go
  x/veid/keeper/runtime_policy_test.go
  x/veid/keeper/verification_pipeline.go
  x/veid/keeper/verification_pipeline_governance_test.go
  x/veidregistry/keeper/keeper.go
  x/veidregistry/keeper/keeper_test.go
Due: x/veid - Identity Verification

docs(veid): record T1-03 handoff evidence
  _docs/ralph/handoffs/prototype-t1/HANDOFF.yaml
Due: none

fix(mfa): require signed OTP verifier receipts
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
  x/mfa/keeper/keeper.go
  x/mfa/keeper/keeper_test.go
  x/mfa/keeper/msg_server.go
  x/mfa/keeper/msg_server_test.go
  x/mfa/keeper/verification.go
  x/mfa/keeper/verification_test.go
Due: x/mfa - Multi-Factor Auth

docs(mfa): record T5-09 handoff
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

feat(provider): export bounded reliability metrics
  pkg/provider_daemon/reconciliation_metrics.go
  pkg/provider_daemon/reconciliation_metrics_test.go
  pkg/provider_daemon/waldur_reconciler.go
  pkg/provider_daemon/waldur_reconciliation_store.go
  x/settlement/ibc/keeper.go
  x/settlement/ibc/metrics.go
  x/settlement/ibc/metrics_test.go
Due: pkg/provider_daemon - Provider Services

docs(provider): record T3-05 handoff evidence
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

feat(provider): define inactive reliability envelope
  x/benchmark/types/evidence_envelope.go
  x/benchmark/types/evidence_envelope_test.go
  x/benchmark/types/genesis.go
Due: none

docs(provider): record T3-06 handoff evidence
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

fix(provider): hold unmatched reconciliations
  pkg/provider_daemon/waldur_reconciler.go
  pkg/provider_daemon/waldur_reconciler_test.go
Due: pkg/provider_daemon - Provider Services

docs(provider): publish T3-07 final handoff
  _docs/ralph/handoffs/prototype-t3/HANDOFF.yaml
Due: none

feat(veid): reject untrusted capture providers
  lib/capture/__tests__/liveness.test.ts
  lib/capture/components/SelfieCapture.tsx
  lib/capture/index.ts
  lib/capture/types/capture.ts
  lib/capture/utils/liveness.ts
  mobile/veid-capture-app/README.md
  mobile/veid-capture-app/src/components/CameraFrame.tsx
  mobile/veid-capture-app/src/core/biometric/index.ts
  mobile/veid-capture-app/src/core/captureModels.ts
  mobile/veid-capture-app/src/core/captureSession.ts
  mobile/veid-capture-app/src/core/deviceAttestation.ts
  mobile/veid-capture-app/src/screens/BiometricCaptureScreen.tsx
  mobile/veid-capture-app/src/screens/DocumentCaptureScreen.tsx
  mobile/veid-capture-app/src/screens/SelfieCaptureScreen.tsx
  mobile/veid-capture-app/src/screens/UploadScreen.tsx
  mobile/veid-capture-app/src/services/camera/cameraAdapter.ts
  mobile/veid-capture-app/src/services/camera/visionCameraAdapter.ts
  mobile/veid-capture-app/src/test/biometricCapture.test.ts
  mobile/veid-capture-app/src/test/deviceAttestation.test.ts
  mobile/veid-capture-app/src/test/visionCameraAdapter.test.ts
  mobile/veid-capture-app/tsconfig.json
  portal/src/app/(customer)/verify/page.tsx
  portal/src/components/veid/DocumentCapture.tsx
  portal/src/components/veid/LivenessChallenge.test.tsx
  portal/src/components/veid/LivenessChallenge.tsx
  portal/src/components/veid/SelfieCapture.tsx
  portal/src/components/veid/VeidCaptureProviders.test.ts
  portal/src/components/veid/VeidCaptureProviders.ts
  portal/src/components/veid/VerificationStatus.tsx
  portal/src/components/veid/VerificationWizard.test.tsx
  portal/src/components/veid/VerificationWizard.tsx
  portal/src/components/veid/__tests__/captureProviderTestUtils.ts
  portal/src/components/veid/index.ts
  portal/src/lib/capture-adapter.ts
Due: none

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
