Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

test(veid): add E2E onboarding and verification flows
  .github/workflows/veid-e2e.yaml
  pkg/security/validation.go
  tests/e2e/README_VEID.md
  tests/e2e/veid_e2e_test.go
  tests/e2e/veid_fixtures.go
  tests/integration/identity_test.go
  x/veid/types/msgs.go
Due: x/veid - Identity Verification

fix(ci): update VEID conformance workflow
  .github/workflows/veid-conformance.yml
Due: none

feat(escrow): add billing audit logging types for reconciliation and disputes
  x/escrow/types/billing/audit.go
Due: x/escrow - Escrow

Potential fix for code scanning alert no. 5694: Workflow does not contain permissions
  .github/workflows/veid-e2e.yaml
Due: none

fix(ci): use direct go build in VEID E2E workflow
  .github/workflows/veid-e2e.yaml
Due: none

fix(ci): bypass direnv requirement in conformance tests
  .github/workflows/veid-conformance.yml
Due: none

feat(escrow): add dispute workflow keeper implementation
  x/escrow/keeper/dispute.go
Due: x/escrow - Escrow

docs: clarify workflow phases and cleanup script exit codes in vibe-kanban documentation
  _docs/ralph/vibe-kanban-workflow.md
Due: none

test(security): add ML and verification services security review
  _docs/security-review-8d-ml-verification.md
  _docs/threat-model.md
  tests/security/ml_verification_test.go
Due: none

docs(escrow): add reconciliation SOP documentation
  x/escrow/types/billing/RECONCILIATION_SOP.md
Due: x/escrow - Escrow

docs: update vibe-kanban workflow documentation for cleanup script exit codes and next steps
  _docs/ralph/progress.md
  _docs/ralph/vibe-kanban-workflow.md
Due: none

fix(security): implement comprehensive supply chain security hardening
  .github/workflows/supply-chain.yaml
  .goreleaser.yaml
  .vulnerability-allowlist.yaml
  Makefile
  SECURITY.md
  SUPPLY_CHAIN_SECURITY.md
  make/supply-chain.mk
  scripts/supply-chain/assess-dependencies.go
  scripts/supply-chain/detect-supply-chain-attacks.sh
  scripts/supply-chain/generate-sbom.sh
  scripts/supply-chain/verify-dependencies.sh
Due: none

feat(escrow): add billing reconciliation and dispute workflow
  x/escrow/keeper/reconciliation.go
  x/escrow/types/billing/alerts.go
  x/escrow/types/billing/correction.go
  x/escrow/types/billing/dispute_workflow.go
  x/escrow/types/billing/export.go
  x/escrow/types/billing/reconciliation_service.go
  x/escrow/types/billing/reconciliation_test.go
Due: x/escrow - Escrow

docs: add comprehensive operator training program
  _docs/training/README.md
  _docs/training/certification/certification-program.md
  _docs/training/incident-response/incident-response-training.md
  _docs/training/incident-response/post-incident-analysis.md
  _docs/training/incident-response/runbook-procedures.md
  _docs/training/labs/incident-simulation-lab.md
  _docs/training/labs/lab-environment.md
  _docs/training/labs/provider-ops-lab.md
  _docs/training/labs/security-assessment-lab.md
  _docs/training/labs/validator-ops-lab.md
  _docs/training/materials/cheat-sheets/incident-cheatsheet.md
  _docs/training/materials/cheat-sheets/provider-cheatsheet.md
  _docs/training/materials/cheat-sheets/validator-cheatsheet.md
  _docs/training/materials/exercises.md
  _docs/training/materials/videos.md
  _docs/training/modules/architecture-overview.md
  _docs/training/modules/incident-response-basics.md
  _docs/training/modules/security-fundamentals.md
  _docs/training/provider/infrastructure-adapters.md
  _docs/training/provider/marketplace-operations.md
  _docs/training/provider/provider-daemon-training.md
  _docs/training/refresher/refresher-schedule.md
  _docs/training/security/security-best-practices.md
  _docs/training/security/security-incident-response.md
  _docs/training/security/threat-modeling.md
  _docs/training/validator/validator-key-management.md
  _docs/training/validator/validator-operator-training.md
  _docs/training/validator/veid-operations.md
Due: none

fix(security): remove duplicate deps-tidy target
  make/supply-chain.mk
Due: none

fix: update pre-commit and pre-push hooks to support workspace mode for module syncing
  .githooks/pre-commit
  .githooks/pre-push
Due: none

fix(ci): resolve training, e2e, and YAML lint issues
  .github/workflows/ml-model-verify.yaml
  deploy/monitoring/alerts/chain-health.yaml
  deploy/monitoring/alerts/enclave-health.yaml
  deploy/monitoring/alerts/errors.yaml
  deploy/monitoring/alerts/hpc-scheduling.yaml
  deploy/monitoring/alerts/marketplace.yaml
  deploy/monitoring/alerts/security.yaml
  deploy/monitoring/alerts/slo-compliance.yaml
  deploy/monitoring/alerts/veid-scoring.yaml
  sdk/go/cli/test_helpers.go
  tests/e2e/cli_test.go
Due: none

fix(ci): rename remaining .yml files to .yaml
  .github/dependabot.yaml
  .github/workflows/veid-conformance.yaml
  deploy/monitoring/alertmanager/alertmanager.yaml
  deploy/monitoring/prometheus/prometheus.yaml
  deploy/monitoring/prometheus/rules/chain_alerts.yaml
  deploy/monitoring/prometheus/rules/scaling_alerts.yaml
  deploy/monitoring/prometheus/rules/slo_alerts.yaml
Due: none

fix(ci): revert dependabot rename and add PyYAML
  .github/dependabot.yml
  .github/workflows/standardize-yaml.yaml
  ml/requirements-deterministic.txt
Due: none

perf(infra): implement infrastructure cost optimization program
  infra/README.md
  infra/docs/MONTHLY_COST_REVIEW_RUNBOOK.md
  infra/docs/RESERVED_INSTANCES_SAVINGS_PLANS.md
  infra/terraform/modules/autoscaling_optimization/main.tf
  infra/terraform/modules/autoscaling_optimization/outputs.tf
  infra/terraform/modules/autoscaling_optimization/variables.tf
  infra/terraform/modules/cost_optimization/files/cleanup_lambda.py
  infra/terraform/modules/cost_optimization/files/cost_recommendations_lambda.py
  infra/terraform/modules/cost_optimization/main.tf
  infra/terraform/modules/cost_optimization/outputs.tf
  infra/terraform/modules/cost_optimization/variables.tf
  pkg/provider_daemon/cost_tracker.go
  pkg/provider_daemon/cost_tracker_test.go
Due: pkg/provider_daemon - Provider Services

feat(test): add node failure scenarios for chaos testing
  pkg/chaos/scenarios/node.go
  pkg/chaos/scenarios/types.go
Due: none

test(infra): add chaos engineering and resilience testing program
  _docs/runbooks/chaos-engineering/README.md
  infra/kubernetes/chaos/chaos-mesh/kustomization.yaml
  infra/kubernetes/chaos/chaos-mesh/namespace.yaml
  infra/kubernetes/chaos/chaos-mesh/network-chaos.yaml
  infra/kubernetes/chaos/chaos-mesh/pod-chaos.yaml
  infra/kubernetes/chaos/chaos-mesh/rbac.yaml
  infra/kubernetes/chaos/chaos-mesh/stress-chaos.yaml
  infra/kubernetes/chaos/chaos-mesh/time-chaos.yaml
  infra/kubernetes/chaos/litmus/chaoshub.yaml
  infra/kubernetes/chaos/litmus/kustomization.yaml
  infra/kubernetes/chaos/litmus/namespace.yaml
  infra/kubernetes/chaos/litmus/workflows/provider-chaos.yaml
  infra/kubernetes/chaos/litmus/workflows/validator-chaos.yaml
  pkg/chaos/controller.go
  pkg/chaos/metrics.go
  pkg/chaos/runner/kubernetes.go
  pkg/chaos/runner/local.go
  pkg/chaos/scenarios/byzantine.go
  pkg/chaos/scenarios/network.go
  pkg/chaos/scenarios/resource.go
  pkg/chaos/slo/baselines.go
  pkg/chaos/slo/verifier.go
  pkg/chaos/types.go
  tests/chaos/chaos_test.go
Due: none

fix(infra): add go.sum and required_providers for CI
  infra/terraform/modules/tee-hardware/main.tf
  infra/tests/go.mod
  infra/tests/go.sum
Due: none

fix(ci): install tesseract for training tests
  .github/workflows/ml-model-verify.yaml
Due: none

style(infra): fix Terraform formatting
  infra/terraform/environments/staging/main.tf
  infra/terraform/modules/main.tf
Due: none

ci: add GOWORK=off to fix workspace mode issues in workflows
  .github/workflows/ci.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/fuzz.yaml
  .github/workflows/infrastructure.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/ml-model-verify.yaml
  .github/workflows/pr-security-check.yaml
  .github/workflows/quality-gate.yaml
  .github/workflows/security.yaml
  .github/workflows/supply-chain.yaml
  tests/chaos/doc.go
Due: none

fix(veid): add ModelConfig.get_config() for TF serialization and fix CI
  .github/workflows/ml-model-verify.yaml
  ml/training/config.py
  ml/training/tests/test_features.py
Due: none

fix(veid): convert numpy float32 to Python float for JSON serialization
  ml/training/model/training.py
Due: none

chore: set GOWORK environment variable to "off" in multiple workflow files
  .github/workflows/ci.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/fuzz.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/ml-model-verify.yaml
  .github/workflows/pr-security-check.yaml
  .github/workflows/quality-gate.yaml
  .github/workflows/security.yaml
  .github/workflows/supply-chain.yaml
Due: none

feat(veid): add trust score model training and export pipeline
  ml/training/model/governance.py
  ml/training/model/train_and_export.py
  ml/training/tests/test_training.py
  models/trust_score/.gitkeep
  models/trust_score/MODEL_CARD.md
Due: none

feat(veid): implement real feature extraction for Face/OCR/Liveness
  pkg/inference/extraction_test.go
  pkg/inference/face_extractor.go
  pkg/inference/feature_pipeline.go
  pkg/inference/liveness_scorer.go
  pkg/inference/ocr_extractor.go
Due: pkg/inference - ML Inference

fix: increase test timeouts for improved reliability on slower machines
  .githooks/pre-push
Due: none

feat(veid): add ML production dataset + labeling pipeline
  ml/training/ci_data/synthetic_dataset.json
  ml/training/data/__init__.py
  ml/training/data/ingestion.py
  ml/training/data/labeling.py
  ml/training/data/versioning.py
  ml/training/tests/test_data_pipeline.py
Due: none

fix(ci): improve pre-push hook reliability on Windows
  .githooks/pre-push
Due: none

feat(veid): add comprehensive health checks for inference system
  pkg/inference/health.go
Due: pkg/inference - ML Inference

feat(veid): implement real TensorFlow inference runtime (VE-205)
  _docs/inference-fallback-behavior.md
  pkg/inference/model_reload.go
  pkg/inference/tensorflow_runtime.go
  pkg/inference/tensorflow_runtime_stub.go
  x/veid/keeper/scoring.go
Due: x/veid - Identity Verification, pkg/inference - ML Inference

Refactor VirtEngine configuration and documentation
  .github/.repo
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/other.md
  .github/repo
  CONTRIBUTING.md
  README.md
  RELEASE.md
  SECURITY.md
  SUPPLY_CHAIN_SECURITY.md
  _docs/adr/adr-001-network-upgrades.md
  _docs/development-environment.md
  _docs/protocols/hpc-node-agent-protocol.md
  _docs/training/incident-response/incident-response-training.md
  _docs/training/security/security-best-practices.md
  cmd/hpc-node-agent/main.go
  deploy/kubernetes/base/secrets.yaml
  deploy/slurm/slurm-cluster/templates/compute-statefulset.yaml
  docs/hpc-node-agent.md
  docs/operations/runbooks/low-validators.md
  infra/kubernetes/base/kustomization.yaml
  infra/kubernetes/base/virtengine-node.yaml
  infra/kubernetes/overlays/dev/kustomization.yaml
  infra/kubernetes/overlays/prod/kustomization.yaml
  infra/kubernetes/overlays/staging/kustomization.yaml
  infra/rollouts/virtengine-node-rollout.yaml
  make/releasing.mk
  sdk/README.md
  sdk/proto/node/buf.yaml
Due: none

fix(ci): resolve ineffassign lint errors across codebase
  cmd/inference-sidecar/server.go
  pkg/chaos/runner/local.go
  pkg/edugain/security_test.go
  pkg/nli/classifier.go
  pkg/provider_daemon/ansible_vault_test.go
  pkg/provider_daemon/slurm_k8s/adapter.go
  pkg/slurm_adapter/ssh_client.go
  pkg/verification/email/service_test.go
  x/hpc/types/billing_rules.go
  x/market/keeper/veid_gating.go
  x/veid/keeper/score_decay_test.go
Due: x/veid - Identity Verification, x/market - Marketplace, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(ci): resolve staticcheck lint errors
  pkg/artifact_store/filesystem_archive_backend.go
  pkg/artifact_store/ipfs_backend.go
  pkg/capture_protocol/salt.go
  pkg/chaos/slo/verifier.go
  pkg/ood_adapter/client.go
  pkg/ood_adapter/mock_client.go
  pkg/security_monitoring/fraud_detector.go
  x/enclave/keeper/heartbeat.go
  x/enclave/types/health.go
  x/mfa/keeper/verification.go
  x/mfa/types/enrollment.go
  x/veid/keeper/borderline_handler.go
  x/veid/keeper/model_version.go
  x/veid/keeper/validator_sync_test.go
Due: x/veid - Identity Verification, x/mfa - Multi-Factor Auth

fix(ci): resolve gosec security lint errors
  cmd/hpc-node-agent/metrics.go
  cmd/inference-sidecar/main.go
  pkg/benchmark/memory_profile.go
  pkg/capture_protocol/mobile/gallery_prevention.go
  pkg/chaos/runner/kubernetes.go
  pkg/chaos/scenarios/resource.go
  pkg/chaos/slo/verifier.go
  pkg/enclave_runtime/attestation_verifier.go
  pkg/enclave_runtime/crypto_common.go
  pkg/enclave_runtime/crypto_nitro.go
  pkg/enclave_runtime/crypto_sgx.go
  pkg/enclave_runtime/enclave_manager.go
  pkg/enclave_runtime/enclave_manager_test.go
  pkg/enclave_runtime/hardware_nitro.go
  pkg/enclave_runtime/hardware_sev.go
  pkg/enclave_runtime/hardware_sgx.go
  pkg/enclave_runtime/nitro_enclave.go
  pkg/enclave_runtime/sev_enclave_test.go
  pkg/enclave_runtime/sev_production.go
  pkg/enclave_runtime/sgx_enclave.go
  pkg/moab_adapter/client.go
  pkg/ood_adapter/oauth2_test.go
  pkg/payment/offramp/service.go
  pkg/pricefeed/retry.go
  pkg/security/path_test.go
  pkg/security/permissions_test.go
  pkg/slurm_adapter/ssh_client.go
  pkg/verification/metrics/metrics.go
  pkg/workflow/engine.go
  tests/load/scenarios_test.go
Due: none
