Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001 + INFRA-003: Code Coverage Configuration
# Target: 80% minimum (enforced), 90%+ aspirational for unit tests
# Updated with stricter enforcement for CI/CD hardening
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
  # INFRA-003: Strict CI integration
  ci:
    - "github-actions"

# INFRA-003: GitHub Checks integration for required status checks
github_checks:
  annotations: true

coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # INFRA-003: Minimum 80% coverage enforced (fail CI if below)
        target: 80%
        threshold: 2%
        if_not_found: error  # Changed from success to enforce coverage
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
        # INFRA-003: Require informational comment even if passing
        informational: false
      # Aspirational target for overall project
      aspirational:
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        informational: true  # Don't fail, just report
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 85%  # Stricter for blockchain modules
        threshold: 1%
        if_not_found: error
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 80%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # INFRA-003: All new code must have 80% minimum coverage
        target: 80%
        if_not_found: success
        only_pulls: true
        # New code should not reduce coverage
        threshold: 0%
      # Aspirational patch coverage
      aspirational:
        target: 90%
        if_not_found: success
        only_pulls: true
        informational: true
      # Critical modules require 90% patch coverage (enforced)
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 90%
        if_not_found: success
        # INFRA-003: Critical security code must meet coverage
        informational: false
    changes:
      default:
        # Track changes to ensure coverage trends
        target: auto
        threshold: 5%
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

test(veid): pin jaraco.context==6.1.0 to clear CVE-2026-23949 in veid-pipeline scan (#971)
  ml/requirements-deterministic.txt
Due: none

ci(deps): migrate remaining workflows off Node-20 actions to Node-24-native majors (#967)
  .github/AGENTS.md
  .github/actions/deploy-region/action.yaml
  .github/actions/setup-macos/action.yaml
  .github/actions/setup-ubuntu/action.yaml
  .github/workflows/api-spec.yaml
  .github/workflows/audit-remediation.yaml
  .github/workflows/bosun-pr-attach.yaml
  .github/workflows/changelog.yaml
  .github/workflows/chaos-test.yaml
  .github/workflows/ci.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/dispatch.yaml
  .github/workflows/dr-failover-test.yaml
  .github/workflows/dr-tools-image.yaml
  .github/workflows/fuzz.yaml
  .github/workflows/infrastructure.yaml
  .github/workflows/labeler.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/load-test.yaml
  .github/workflows/ml-determinism.yaml
  .github/workflows/ml-model-verify.yaml
  .github/workflows/multi-region-deploy.yaml
  .github/workflows/portal-ci.yaml
  .github/workflows/portal-deploy-pages.yaml
  .github/workflows/portal-deploy-prod.yaml
  .github/workflows/pr-security-check.yaml
  .github/workflows/pr-shepherd.yaml
  .github/workflows/proto-generation.yaml
  .github/workflows/quality-gate.yaml
  .github/workflows/release.yaml
  .github/workflows/sdk-publish.yaml
  .github/workflows/security.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/staging-e2e.yaml
  .github/workflows/stale.yaml
  .github/workflows/standardize-yaml.yaml
  .github/workflows/supply-chain.yaml
  .github/workflows/veid-conformance.yaml
  .github/workflows/veid-e2e.yaml
Due: none

test(veid): purge base installer toolchain before site-packages overlay in final
  _build/Dockerfile.veid-pipeline
Due: none

test(veid): purge base installer toolchain before site-packages overlay in final (#972)
  _build/Dockerfile.veid-pipeline
Due: none

fix(security): clear the gosec gate after the develop rebase
  app/types/marketplace_capacity.go
  pkg/capture_protocol/mobile/gallery_prevention.go
  pkg/enclave_runtime/memory_scrub.go
  pkg/enclave_runtime/nitro/document.go
  pkg/enclave_runtime/nitro/verifier.go
  pkg/enclave_runtime/sev/enclave.go
  pkg/enclave_runtime/sgx/quote.go
  pkg/payment/paypal_adapter.go
  pkg/pricefeed/coingecko.go
  pkg/provider_daemon/ansible_adapter.go
  pkg/provider_daemon/lifecycle_controller.go
  pkg/security/httpclient.go
  x/deployment/simulation/operations.go
  x/issuancepolicy/keeper/keeper.go
  x/market/types/marketplace/eligibility_scope.go
  x/market/types/marketplace/milestones.go
  x/oracle/keeper/genesis.go
  x/settlement/keeper/financial_case.go
  x/veid/keeper/validator_sync.go
  x/veid/types/evidence_trust_inventory.go
Due: x/veid - Identity Verification, x/market - Marketplace, pkg/provider_daemon - Provider Services

fix(x/market): enforce per-listing VEID requirements and fix zero-requirement check
  app/types/marketplace_adapters.go
  x/market/keeper/keeper.go
  x/market/keeper/veid_gating.go
  x/market/keeper/veid_gating_test.go
  x/market/types/marketplace/identity_gating.go
  x/market/types/marketplace/keeper/identity_gating_offer_test.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/offering.go
Due: x/market - Marketplace

test(x/market): invert the pinned isZeroRequirements assertion now the guard is corrected
  x/market/keeper/veid_gating_internal_test.go
Due: x/market - Marketplace

fix(proto): regenerate the proto inventory after the #899 marketplace RPCs
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
Due: none

fix(test): register the v1.9.0 upgrade in the upgrade test registry
  tests/upgrade/registry_test.go
  tests/upgrade/test-cases.json
  tests/upgrade/workers_test.go
Due: none

fix(test): register the v1.9.0 upgrade in the upgrade test registry (#976)
  tests/upgrade/registry_test.go
  tests/upgrade/test-cases.json
  tests/upgrade/workers_test.go
Due: none

fix(portal): stop passing a literal -- to next dev in the E2E webServer
  portal/playwright.config.ts
Due: none

fix(portal): stop passing a literal -- to next dev in the E2E webServer (#977)
  portal/playwright.config.ts
Due: none

feat(x/fraud): open fraud reporting to tenants with order linkage, dedup and rebuttal flow
  app/types/app.go
  sdk/go/node/fraud/v1/genesis.pb.go
  sdk/go/node/fraud/v1/params.pb.go
  sdk/go/node/fraud/v1/query.pb.go
  sdk/go/node/fraud/v1/query.pb.gw.go
  sdk/go/node/fraud/v1/tx.pb.go
  sdk/go/node/fraud/v1/types.pb.go
  sdk/proto/node/virtengine/fraud/v1/genesis.proto
  sdk/proto/node/virtengine/fraud/v1/params.proto
  sdk/proto/node/virtengine/fraud/v1/query.proto
  sdk/proto/node/virtengine/fraud/v1/tx.proto
  sdk/proto/node/virtengine/fraud/v1/types.proto
  x/fraud/alias.go
  x/fraud/genesis.go
  x/fraud/keeper/grpc_query.go
  x/fraud/keeper/invariants.go
  x/fraud/keeper/keeper.go
  x/fraud/keeper/keeper_test.go
  x/fraud/keeper/msg_server.go
  x/fraud/keeper/msg_server_test.go
  x/fraud/keeper/reporter.go
  x/fraud/keeper/reporter_test.go
  x/fraud/types/codec.go
  x/fraud/types/errors.go
  x/fraud/types/events.go
  x/fraud/types/fraud_report.go
  x/fraud/types/genesis.go
  x/fraud/types/keys.go
  x/fraud/types/proto_types.go
Due: x/fraud - Fraud Detection

feat(x/fraud): expose submit-response CLI for the rebuttal flow
  x/fraud/client/cli/flags.go
  x/fraud/client/cli/tx.go
Due: x/fraud - Fraud Detection

feat(x/fraud): open fraud reporting to tenants with order linkage, dedup and rebuttal flow (#978)
  app/types/app.go
  sdk/go/node/fraud/v1/genesis.pb.go
  sdk/go/node/fraud/v1/params.pb.go
  sdk/go/node/fraud/v1/query.pb.go
  sdk/go/node/fraud/v1/query.pb.gw.go
  sdk/go/node/fraud/v1/tx.pb.go
  sdk/go/node/fraud/v1/types.pb.go
  sdk/proto/node/virtengine/fraud/v1/genesis.proto
  sdk/proto/node/virtengine/fraud/v1/params.proto
  sdk/proto/node/virtengine/fraud/v1/query.proto
  sdk/proto/node/virtengine/fraud/v1/tx.proto
  sdk/proto/node/virtengine/fraud/v1/types.proto
  x/fraud/alias.go
  x/fraud/client/cli/flags.go
  x/fraud/client/cli/tx.go
  x/fraud/genesis.go
  x/fraud/keeper/grpc_query.go
  x/fraud/keeper/invariants.go
  x/fraud/keeper/keeper.go
  x/fraud/keeper/keeper_test.go
  x/fraud/keeper/msg_server.go
  x/fraud/keeper/msg_server_test.go
  x/fraud/keeper/reporter.go
  x/fraud/keeper/reporter_test.go
  x/fraud/types/codec.go
  x/fraud/types/errors.go
  x/fraud/types/events.go
  x/fraud/types/fraud_report.go
  x/fraud/types/genesis.go
  x/fraud/types/keys.go
  x/fraud/types/proto_types.go
Due: x/fraud - Fraud Detection

docs(adr): scope future VESC VEID condition to VESC only (ADR-011)
  _docs/INDEX.md
  _docs/adr/ADR-011-vesc-veid-scoping.md
Due: none

docs(adr): scope future VESC VEID condition to VESC only (ADR-011) (#979)
  _docs/INDEX.md
  _docs/adr/ADR-011-vesc-veid-scoping.md
Due: none

docs(adr): link VESC VEID scoping doc with reviewer guard in index
  _docs/INDEX.md
Due: none

docs(adr): link VESC VEID scoping doc with reviewer guard in index (#980)
  _docs/INDEX.md
Due: none

docs(adr): wrap the ADR-011 non-goal paragraph to the file's line width
  _docs/adr/ADR-011-vesc-veid-scoping.md
Due: none

docs(adr): wrap the ADR-011 non-goal paragraph to the file's line width (#981)
  _docs/adr/ADR-011-vesc-veid-scoping.md
Due: none

fix(security): clear the two x/fraud G115 findings reddening gosec
  x/fraud/keeper/reporter.go
  x/fraud/keeper/reporter_test.go
  x/fraud/types/keys.go
Due: x/fraud - Fraud Detection

fix(security): clear the two x/fraud G115 findings reddening gosec (#982)
  x/fraud/keeper/reporter.go
  x/fraud/keeper/reporter_test.go
  x/fraud/types/keys.go
Due: x/fraud - Fraud Detection

test(fraud): make the high-bit height-key regression test discriminating
  x/fraud/keeper/reporter_test.go
Due: x/fraud - Fraud Detection

test(fraud): make the high-bit height-key regression test discriminating (#983)
  x/fraud/keeper/reporter_test.go
Due: x/fraud - Fraud Detection

fix(x/fraud): fail closed on unwired market keeper and stop burning response sequences
  app/types/app.go
  x/fraud/keeper/keeper_test.go
  x/fraud/keeper/reporter.go
  x/fraud/keeper/reporter_test.go
  x/fraud/types/errors.go
Due: x/fraud - Fraud Detection

fix(x/fraud): fail closed on unwired market keeper and stop burning response sequences (#985)
  app/types/app.go
  x/fraud/keeper/keeper_test.go
  x/fraud/keeper/reporter.go
  x/fraud/keeper/reporter_test.go
  x/fraud/types/errors.go
Due: x/fraud - Fraud Detection

fix(x/fraud): check iter.Close in the open-reporting iterators
  x/fraud/keeper/reporter.go
Due: x/fraud - Fraud Detection

fix(x/fraud): check iter.Close in the open-reporting iterators (#986)
  x/fraud/keeper/reporter.go
Due: x/fraud - Fraud Detection

feat(x/roles,x/fraud): scoped, time-limited, appealable sanction model
  x/fraud/keeper/cosign_test.go
  x/fraud/keeper/keeper.go
  x/fraud/keeper/keys.go
  x/fraud/keeper/msg_server.go
  x/fraud/keeper/msg_server_cosign_test.go
  x/fraud/keeper/pending_resolution.go
  x/fraud/module.go
  x/fraud/types/errors.go
  x/fraud/types/events.go
  x/fraud/types/fraud_report.go
  x/fraud/types/keys.go
  x/fraud/types/pending_resolution.go
  x/roles/genesis.go
  x/roles/genesis_sanction_test.go
  x/roles/keeper/keeper.go
  x/roles/keeper/msg_server.go
  x/roles/keeper/msg_server_test.go
  x/roles/keeper/sanction.go
  x/roles/keeper/sanction_test.go
  x/roles/module.go
  x/roles/types/errors.go
  x/roles/types/events.go
  x/roles/types/genesis.go
  x/roles/types/keys.go
  x/roles/types/sanction.go
Due: x/fraud - Fraud Detection

feat(x/roles,x/fraud): scoped, time-limited, appealable sanction model (#987)
  x/fraud/keeper/cosign_test.go
  x/fraud/keeper/keeper.go
  x/fraud/keeper/keys.go
  x/fraud/keeper/msg_server.go
  x/fraud/keeper/msg_server_cosign_test.go
  x/fraud/keeper/pending_resolution.go
  x/fraud/module.go
  x/fraud/types/errors.go
  x/fraud/types/events.go
  x/fraud/types/fraud_report.go
  x/fraud/types/keys.go
  x/fraud/types/pending_resolution.go
  x/roles/genesis.go
  x/roles/genesis_sanction_test.go
  x/roles/keeper/keeper.go
  x/roles/keeper/msg_server.go
  x/roles/keeper/msg_server_test.go
  x/roles/keeper/sanction.go
  x/roles/keeper/sanction_test.go
  x/roles/module.go
  x/roles/types/errors.go
  x/roles/types/events.go
  x/roles/types/genesis.go
  x/roles/types/keys.go
  x/roles/types/sanction.go
Due: x/fraud - Fraud Detection

fix(x/roles,x/fraud): make the sanction model reachable on-chain and honest on the wire
  sdk/go/node/fraud/v1/tx.pb.go
  sdk/go/node/roles/v1/tx.pb.go
  sdk/proto/node/virtengine/fraud/v1/tx.proto
  sdk/proto/node/virtengine/roles/v1/tx.proto
  x/fraud/keeper/msg_server.go
  x/fraud/keeper/msg_server_cosign_test.go
  x/fraud/types/codec.go
  x/fraud/types/proto_types.go
  x/roles/keeper/keeper.go
  x/roles/keeper/msg_server.go
  x/roles/keeper/sanction.go
  x/roles/keeper/sanction_msg_test.go
  x/roles/types/codec.go
  x/roles/types/grpc_handlers.go
  x/roles/types/msgs.go
  x/roles/types/proto_impl.go
Due: x/fraud - Fraud Detection

chore(sdk): regenerate the protobuf OpenAPI inventory for the new Msg RPCs
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
Due: none

fix(ci): clear the Windows-native and portal E2E reds inherited by #931
  .github/workflows/ci.yaml
  .github/workflows/portal-ci.yaml
  .github/workflows/portal-deploy-prod.yaml
  .github/workflows/smoke-test.yaml
  pkg/security/filepath_validator.go
  pkg/security/filepath_validator_compare.go
  pkg/security/filepath_validator_compare_unix.go
  pkg/security/filepath_validator_compare_windows.go
  pkg/security/filepath_validator_windows_test.go
  pkg/slurm_adapter/ssh_client_test.go
Due: none

fix(ci): clear the Windows-native and portal E2E reds inherited by #931 (#989)
  .github/workflows/ci.yaml
  .github/workflows/portal-ci.yaml
  .github/workflows/portal-deploy-prod.yaml
  .github/workflows/smoke-test.yaml
  pkg/security/filepath_validator.go
  pkg/security/filepath_validator_compare.go
  pkg/security/filepath_validator_compare_unix.go
  pkg/security/filepath_validator_compare_windows.go
  pkg/security/filepath_validator_windows_test.go
  pkg/slurm_adapter/ssh_client_test.go
Due: none

fix(x/roles): drop the deprecated WrapSDKContext from the sanction msg tests
  x/roles/keeper/sanction_msg_test.go
Due: none
