Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001 + INFRA-003: Code Coverage Configuration
# Target: 80% minimum (enforced), 90%+ aspirational for unit tests
# Updated with stricter enforcement for CI/CD hardening
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
  # INFRA-003: Strict CI integration
  ci:
    - "github-actions"

# INFRA-003: GitHub Checks integration for required status checks
github_checks:
  annotations: true

coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # INFRA-003: Minimum 80% coverage enforced (fail CI if below)
        target: 80%
        threshold: 2%
        if_not_found: error  # Changed from success to enforce coverage
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
        # INFRA-003: Require informational comment even if passing
        informational: false
      # Aspirational target for overall project
      aspirational:
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        informational: true  # Don't fail, just report
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 85%  # Stricter for blockchain modules
        threshold: 1%
        if_not_found: error
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 80%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # INFRA-003: All new code must have 80% minimum coverage
        target: 80%
        if_not_found: success
        only_pulls: true
        # New code should not reduce coverage
        threshold: 0%
      # Aspirational patch coverage
      aspirational:
        target: 90%
        if_not_found: success
        only_pulls: true
        informational: true
      # Critical modules require 90% patch coverage (enforced)
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 90%
        if_not_found: success
        # INFRA-003: Critical security code must meet coverage
        informational: false
    changes:
      default:
        # Track changes to ensure coverage trends
        target: auto
        threshold: 5%
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

test(escrow): cover partial refund payout
  x/settlement/keeper/payout_executor_flow_test.go
Due: none

feat(veid): implement privacy proofs and gdpr export
  app/types/app.go
  x/veid/keeper/determinism.go
  x/veid/keeper/external_keepers.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/gdpr_portability_test.go
  x/veid/keeper/keeper.go
  x/veid/keeper/msg_server_test.go
  x/veid/keeper/privacy_proofs.go
  x/veid/keeper/privacy_proofs_test.go
  x/veid/keeper/proof_revocation.go
  x/veid/types/audit_export.go
  x/veid/types/gdpr_portability.go
  x/veid/types/keys.go
  x/veid/types/privacy_proofs.go
  x/veid/types/proof_types.go
Due: x/veid - Identity Verification

feat(settlement): unify hpc settlement and add cli (#671)
  app/mac.go
  app/types/app.go
  tests/integration/settlement/doc.go
  x/hpc/keeper/billing_integration_test.go
  x/hpc/keeper/keeper.go
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_integration.go
  x/hpc/keeper/settlement_integration_test.go
  x/hpc/keeper/test_helpers_test.go
  x/settlement/client/cli/cli_integration_test.go
  x/settlement/client/cli/query.go
  x/settlement/client/cli/tx.go
  x/settlement/keeper/escrow.go
  x/settlement/keeper/invariants.go
  x/settlement/keeper/invariants_test.go
  x/settlement/keeper/settlement_test.go
  x/settlement/module.go
Due: x/hpc - HPC Scheduling

feat(portal): wire all mock stores to chain REST API + tx signing (#670)
  pkg/provider_daemon/domain_verification_checker.go
  portal/src/app/(customer)/dashboard/CustomerDashboardPage.tsx
  portal/src/app/(customer)/dashboard/allocations/[id]/AllocationDetailClient.tsx
  portal/src/app/(customer)/marketplace/[provider]/[sequence]/order/OrderCreateClient.tsx
  portal/src/app/(customer)/orders/[id]/OrderDetailClient.tsx
  portal/src/app/admin/users/page.tsx
  portal/src/app/provider/dashboard/ProviderDashboardClient.tsx
  portal/src/app/provider/orders/[id]/DeploymentDetailClient.tsx
  portal/src/components/admin/__tests__/AdminDashboard.test.tsx
  portal/src/components/admin/__tests__/AuditLog.test.tsx
  portal/src/components/admin/__tests__/ModuleParams.test.tsx
  portal/src/components/admin/__tests__/UserManagement.test.tsx
  portal/src/components/admin/__tests__/ValidatorManagement.test.tsx
  portal/src/components/mfa/MFASettings.tsx
  portal/src/components/orders/OrderList.tsx
  portal/src/config/env.ts
  portal/src/layouts/AdminLayout.tsx
  portal/src/lib/api/chain.ts
  portal/src/lib/config.ts
  portal/src/lib/portal-adapter.ts
  portal/src/stores/__tests__/adminStore.test.ts
  portal/src/stores/__tests__/customerDashboardStore.test.ts
  portal/src/stores/__tests__/deploymentStore.test.ts
  portal/src/stores/__tests__/identityStore.test.ts
  portal/src/stores/__tests__/metricsStore.test.ts
  portal/src/stores/__tests__/orderStore.test.ts
  portal/src/stores/__tests__/providerStore.test.ts
  portal/src/stores/adminStore.ts
  portal/src/stores/customerDashboardStore.ts
  portal/src/stores/deploymentStore.ts
  portal/src/stores/identityStore.ts
  portal/src/stores/metricsStore.ts
  portal/src/stores/orderStore.ts
  portal/src/stores/providerStore.ts
  portal/tests/unit/dashboard/customerDashboardStore.test.ts
  portal/tests/unit/provider/providerStore.test.ts
  portal/tests/unit/stores/admin/adminStore.test.ts
  portal/tests/unit/veid/identityStore.test.tsx
Due: pkg/provider_daemon - Provider Services

fix(hpc): stabilize settlement tests
  testutil/network/network.go
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_integration_test.go
  x/hpc/keeper/test_helpers_test.go
  x/settlement/client/cli/cli_integration_test.go
  x/settlement/keeper/escrow.go
Due: x/hpc - HPC Scheduling

fix(ci): resolve VEID E2E test failures + gitleaks false positives
  .gitleaks.toml
  tests/e2e/veid_e2e_test.go
  tests/e2e/veid_fixtures.go
Due: none

test(ci): allow e2e package build without tags
  tests/e2e/non_e2e.go
Due: none

test(ci): normalize e2e non-tag file
  tests/e2e/non_e2e.go
Due: none

feat(veid): add on-chain capture submission pipeline
  lib/capture/__tests__/components.test.tsx
  lib/capture/__tests__/metadata-strip.test.ts
  lib/capture/__tests__/quality-checks.test.ts
  lib/capture/__tests__/salt-generator.test.ts
  lib/capture/__tests__/signature.test.ts
  lib/capture/index.ts
  lib/capture/package.json
  lib/capture/src/submission/encryption.ts
  lib/capture/src/submission/envelope.ts
  lib/capture/src/submission/index.ts
  lib/capture/src/submission/pipeline.ts
  lib/capture/src/submission/transaction.ts
  lib/capture/src/submission/types.ts
  lib/capture/src/submission/validator-keys.ts
  lib/capture/tests/submission/encryption.test.ts
  lib/capture/tests/submission/envelope.test.ts
  lib/capture/tests/submission/pipeline.test.ts
  lib/capture/tests/submission/transaction.test.ts
  pnpm-lock.yaml
  portal/package.json
  portal/src/components/identity/IdentityVerificationFlow.tsx
  portal/src/config/env.ts
  portal/src/lib/capture-adapter.ts
  portal/src/lib/veid-submission.ts
  portal/src/stores/identityStore.ts
  portal/src/types/virtengine-capture.d.ts
Due: none

fix(ci): expand gitleaks allowlist for docs and mock files
  .gitleaks.toml
Due: none

docs(app): update backlog progress report
  _docs/ralph/progress.md
Due: none

fix(ci): further expand gitleaks allowlist
  .gitleaks.toml
Due: none

fix(e2e): resolve VEID E2E test failures
  tests/e2e/veid_e2e_test.go
  tests/e2e/veid_fixtures.go
Due: none

feat(app): add signed backup and DR automation
  _docs/disaster-recovery.md
  scripts/AGENTS.md
  scripts/ci/backup-restore-smoke-test.sh
  scripts/dr/README.md
  scripts/dr/backup-chain-state.sh
  scripts/dr/backup-provider-state.sh
  scripts/dr/dr-test.sh
Due: none

fix(ci): codex-monitor autonomous PR lifecycle — push+create+auto-merge+conflict-resolution
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/pr-cleanup-daemon.mjs
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/worktree-manager.mjs
Due: none

feat(app): add signed backup and DR automation (#675)
  _docs/disaster-recovery.md
  scripts/AGENTS.md
  scripts/ci/backup-restore-smoke-test.sh
  scripts/dr/README.md
  scripts/dr/backup-chain-state.sh
  scripts/dr/backup-provider-state.sh
  scripts/dr/dr-test.sh
Due: none
