Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

docs(security): add comprehensive security compliance documentation
  docs/security/COMPLIANCE_MATRIX.md
  docs/security/ENCRYPTION.md
  docs/security/README.md
  docs/security/SECURITY_ARCHITECTURE.md
  docs/security/SECURITY_INCIDENT_RESPONSE.md
Due: none

--no-pager diff --stat 2>&1 └ 7 lines...
  _docs/tee-failover-strategy.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/tee-enclave-configmap.yaml
  deploy/kubernetes/base/tee-enclave-deployment.yaml
  deploy/kubernetes/base/tee-enclave-service.yaml
  deploy/kubernetes/overlays/prod/kustomization.yaml
  deploy/monitoring/alerts/enclave-health.yml
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/prod/outputs.tf
  infra/terraform/environments/prod/variables.tf
  infra/terraform/modules/tee-hardware/main.tf
  infra/terraform/modules/tee-hardware/outputs.tf
  infra/terraform/modules/tee-hardware/variables.tf
Due: none

● update_todo └ TODO list updated
  _docs/horizontal-scaling-guide.md
  deploy/kubernetes/overlays/prod/hpa-enhanced.yaml
  deploy/kubernetes/overlays/prod/keda-scaledobject.yaml
  deploy/kubernetes/overlays/prod/kustomization.yaml
  deploy/monitoring/prometheus/rules/scaling_alerts.yml
  infra/terraform/modules/scaling/main.tf
  pkg/provider_daemon/scaling.go
  pkg/provider_daemon/scaling_metrics.go
  pkg/provider_daemon/scaling_test.go
  scripts/state-sync-bootstrap.sh
Due: pkg/provider_daemon - Provider Services

.github/workflows/license-compliance.yaml .github/workflows/pr-security-check.yaml codecov.yml INFRA-003-IMPLEMENTATION-SUMMARY.md └ 7 lines...
  .github/workflows/ci.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/infrastructure.yaml
  .github/workflows/security.yaml
  .github/workflows/standardize-yaml.yaml
  .github/workflows/tests.yaml
  INFRA-003-IMPLEMENTATION-SUMMARY.md
Due: none

● Read tests\load\scale\degradation_analysis_test.go lines 1-30 └ 35 lines read
  tests/load/README.md
  tests/load/scale/README.md
  tests/load/scale/SCALE_BASELINES.json
  tests/load/scale/degradation_analysis_test.go
  tests/load/scale/marketplace_scale_test.go
  tests/load/scale/network_partition_test.go
  tests/load/scale/provider_stress_test.go
  tests/load/scale/state_sync_test.go
  tests/load/scale/validator_scale_test.go
Due: none

Revert "CI:INFRA-003: CI/CD Pipeline Hardening "
  .github/workflows/ci.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/infrastructure.yml
  .github/workflows/security.yaml
  .github/workflows/standardize-yaml.yaml
  .github/workflows/tests.yaml
  INFRA-003-IMPLEMENTATION-SUMMARY.md
Due: none

Move DOCS to docs folder
  docs/documentation/ENCLAVE-ENH-006-IMPLEMENTATION.md
  docs/documentation/ERROR_CODE_POLICY.md
  docs/documentation/HEALTH_CHECK.md
  docs/documentation/HPC_PROTO_README.md
  docs/documentation/INFRA-001-IMPLEMENTATION-SUMMARY.md
  docs/documentation/INFRA-002-IMPLEMENTATION-SUMMARY.md
  docs/documentation/INFRA-003-IMPLEMENTATION-SUMMARY.md
  docs/documentation/LEGAL_COMPLIANCE_CHECKLIST.md
  docs/documentation/LEGAL_QUICK_REFERENCE.md
  docs/documentation/LEGAL_README.md
  docs/documentation/MONITOR-002-IMPLEMENTATION-SUMMARY.md
  docs/documentation/PENETRATION_TESTING_PROGRAM.md
  docs/documentation/PRIVACY_IMPACT_ASSESSMENT.md
Due: none

Add SSH host key verification options to MOAB configuration
  pkg/moab_adapter/client.go
  pkg/moab_adapter/types.go
Due: none

--no-pager status --short 2>&1 └ 9 lines...
  pkg/nli/config.go
  pkg/nli/errors.go
  pkg/nli/llm_backend.go
  pkg/nli/metrics.go
  pkg/nli/response_generator.go
  pkg/nli/service.go
  pkg/nli/session_store.go
  pkg/nli/session_store_test.go
Due: none

- `ConversionLedgerEntry` with full audit trail, retry tracking, and state transitions - `ConversionExecutionRequest/Result` and `TreasuryTransferResult` types
  pkg/payment/conversion.go
  pkg/payment/conversion_test.go
  pkg/payment/interfaces.go
  pkg/payment/types.go
Due: none

- Added `AcceptDispute()` - Accept chargeback via Adyen API - Added Adyen dispute response mapping
  pkg/payment/adyen_adapter.go
  pkg/payment/dispute_store.go
  pkg/payment/dispute_store_test.go
  pkg/payment/service.go
  pkg/payment/stripe_adapter.go
  pkg/payment/types.go
Due: none

└ 9 lines...
  pkg/artifact_store/ipfs_client.go
  pkg/artifact_store/waldur_backend.go
  pkg/artifact_store/waldur_backend_test.go
  pkg/waldur/aws.go
  pkg/waldur/azure.go
  pkg/waldur/client.go
  pkg/waldur/marketplace.go
  pkg/waldur/object_storage.go
  pkg/waldur/openstack.go
  pkg/waldur/slurm.go
Due: none

└ 46 lines read
  .github/workflows/fuzz.yaml
  fuzz/README.md
  fuzz/build.sh
  fuzz/corpus/envelope/multi_recipient_envelope.json
  fuzz/corpus/manifest/gpu_manifest.json
  fuzz/corpus/manifest/minimal_invalid.json
  fuzz/corpus/order/invalid_order.json
  fuzz/corpus/order/open_order.json
  fuzz/corpus/scope/id_document_scope.json
  fuzz/corpus/scope/invalid_scope.json
  sdk/go/node/enclave/v1/constants.go
  sdk/go/node/enclave/v1/identity.go
  sdk/go/node/enclave/v1/msgs.go
  sdk/go/node/enclave/v1/query.go
  sdk/go/node/enclave/v1/types.go
  x/enclave/types/msgs.go
  x/mfa/types/mfa_fuzz_test.go
Due: x/mfa - Multi-Factor Auth

● List directory x\hpc └ 12 files found
  _docs/protocols/hpc-cluster-template-spec.md
  _docs/protocols/hpc-node-agent-protocol.md
  x/hpc/types/cluster_template.go
  x/hpc/types/errors.go
  x/hpc/types/keys.go
  x/hpc/types/node_agent.go
Due: x/hpc - HPC Scheduling

● List directory . └ 85 files found
  _docs/veid-ml-feature-schema.md
  x/veid/types/ml_feature_schema.go
  x/veid/types/ml_feature_schema_test.go
Due: x/veid - Identity Verification

● update_todo └ TODO list updated
  _docs/architecture/waldur-market-mapping-spec.md
  pkg/waldur/testdata/fixtures.go
Due: none

- `NonceRecord` with issuer binding and expiry - `ReplayProtectionPolicy` with 1-hour default window - Weak nonce detection (all zeros/ones) - Timestamp validation with clock skew tolerance
  _docs/protocols/veid-attestation-schema.md
  x/veid/types/attestation.go
  x/veid/types/attestation_keys.go
  x/veid/types/attestation_keys_test.go
  x/veid/types/attestation_nonce.go
  x/veid/types/attestation_nonce_test.go
  x/veid/types/attestation_test.go
  x/veid/types/errors.go
  x/veid/types/events.go
  x/veid/types/keys.go
Due: x/veid - Identity Verification

└ 8 files found
  _docs/billing-policy.md
  x/escrow/types/billing/billing_test.go
  x/escrow/types/billing/codec.go
  x/escrow/types/billing/discount.go
  x/escrow/types/billing/dispute.go
  x/escrow/types/billing/invoice.go
  x/escrow/types/billing/keys.go
  x/escrow/types/billing/pricing.go
  x/escrow/types/billing/schema/example-invoice-compute.json
  x/escrow/types/billing/schema/invoice.schema.json
  x/escrow/types/billing/tax.go
Due: x/escrow - Escrow

vet ./x/escrow/types/billing/... 2>&1 └ 1 line...
  x/escrow/keeper/invoice.go
  x/escrow/types/billing/INVOICE_LIFECYCLE.md
  x/escrow/types/billing/artifact_store.go
  x/escrow/types/billing/codec.go
  x/escrow/types/billing/generator.go
  x/escrow/types/billing/invoice_test.go
  x/escrow/types/billing/ledger.go
  x/escrow/types/billing/reconciliation.go
  x/escrow/types/billing/transitions.go
Due: x/escrow - Escrow

- **Rate limiting** with daily limits and max open tickets per customer - **Events** emitted for all lifecycle transitions - **26 tests passing** covering all flows
  x/support/README.md
  x/support/alias.go
  x/support/genesis.go
  x/support/genesis_test.go
  x/support/keeper/grpc_query.go
  x/support/keeper/keeper.go
  x/support/keeper/keeper_test.go
  x/support/keeper/msg_server.go
  x/support/keeper/msg_server_test.go
  x/support/module.go
  x/support/types/codec.go
  x/support/types/errors.go
  x/support/types/events.go
  x/support/types/genesis.go
  x/support/types/keys.go
  x/support/types/msgs.go
  x/support/types/query.go
  x/support/types/server.go
  x/support/types/ticket.go
Due: none

● List directory ml └ 18 files found
  docs/veid-dataset-runbook.md
  ml/training/README.md
  ml/training/build_dataset.py
  ml/training/dataset/__init__.py
  ml/training/dataset/connectors.py
  ml/training/dataset/labeling.py
  ml/training/dataset/lineage.py
  ml/training/dataset/manifest.py
  ml/training/dataset/splits.py
  ml/training/dataset/storage.py
  ml/training/dataset/synthetic.py
  ml/training/dataset/validation.py
  ml/training/tests/test_pipeline.py
Due: none

- **Metrics**: Request counts, latencies, key rotation, abuse scores
  _docs/verification-deployment.md
  _docs/verification-runbook.md
  pkg/verification/audit/errors.go
  pkg/verification/audit/logger.go
  pkg/verification/audit/types.go
  pkg/verification/keystorage/errors.go
  pkg/verification/keystorage/file.go
  pkg/verification/keystorage/memory.go
  pkg/verification/keystorage/types.go
  pkg/verification/metrics/metrics.go
  pkg/verification/nonce/errors.go
  pkg/verification/nonce/memory.go
  pkg/verification/nonce/nonce_test.go
  pkg/verification/nonce/types.go
  pkg/verification/ratelimit/types.go
  pkg/verification/sdk/types.go
  pkg/verification/signer/errors.go
  pkg/verification/signer/signer.go
  pkg/verification/signer/signer_test.go
  pkg/verification/signer/types.go
Due: none

go build -n ./pkg/waldur ./x/market/types/marketplace 2>&1 | Select-Object -First 10 └ 1 line...
  _docs/operations/offering-sync-guide.md
  cmd/provider-daemon/main.go
  pkg/provider_daemon/offering_sync_state.go
  pkg/provider_daemon/offering_sync_worker.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/waldur/client.go
  pkg/waldur/marketplace.go
  x/market/types/marketplace/offering_sync.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

● update_todo └ TODO list updated
  cmd/hpc-node-agent/agent.go
  cmd/hpc-node-agent/main.go
  cmd/hpc-node-agent/metrics.go
  docs/hpc-node-agent.md
  pkg/provider_daemon/hpc_heartbeat_monitor.go
  pkg/provider_daemon/hpc_node_aggregator.go
  tests/integration/hpc/node_agent_test.go
  x/hpc/keeper/keeper.go
  x/hpc/keeper/node_health.go
  x/hpc/keeper/scheduling.go
  x/hpc/types/scheduling.go
Due: x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

I need to return a copy of the metrics without copying the mutex. Let me also check the struct definition.
  _docs/architecture/waldur-market-mapping-spec.md
  pkg/provider_daemon/waldur_ingest_state.go
  pkg/provider_daemon/waldur_ingest_worker.go
  pkg/provider_daemon/waldur_ingest_worker_test.go
  pkg/waldur/testdata/fixtures.go
  x/market/types/marketplace/waldur_ingest.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

I see - errors should use `cosmossdk.io/errors` not `verrors`. Let me fix the config.go:
  _docs/operations/servicedesk-sync.md
  pkg/jira/bridge.go
  pkg/jira/client.go
  pkg/jira/service.go
  pkg/jira/sla.go
  pkg/jira/webhook.go
  pkg/servicedesk/attachments.go
  pkg/servicedesk/audit.go
  pkg/servicedesk/audit_test.go
  pkg/servicedesk/bridge.go
  pkg/servicedesk/callbacks.go
  pkg/servicedesk/config.go
  pkg/servicedesk/config_test.go
  pkg/servicedesk/doc.go
  pkg/servicedesk/retry.go
  pkg/servicedesk/retry_test.go
  pkg/servicedesk/sync.go
  pkg/servicedesk/types.go
  pkg/servicedesk/types_test.go
  x/support/types/errors.go
  x/support/types/external_sync.go
Due: none

● Edit pkg\verification\email\templates.go (+3 -3)
  pkg/verification/audit/types.go
  pkg/verification/email/README.md
  pkg/verification/email/errors.go
  pkg/verification/email/metrics.go
  pkg/verification/email/providers.go
  pkg/verification/email/service.go
  pkg/verification/email/service_test.go
  pkg/verification/email/templates.go
  pkg/verification/email/types.go
Due: none

The task 3B implementation is complete. Here's the summary:
  docs/feature_extraction.md
  testutil/fixtures/golden_face_embedding.json
  testutil/fixtures/golden_ocr_features.json
  x/veid/keeper/feature_extraction.go
  x/veid/keeper/feature_extraction_test.go
  x/veid/keeper/media_parser.go
  x/veid/keeper/quality_gates.go
  x/veid/keeper/quality_gates_test.go
  x/veid/keeper/scoring.go
  x/veid/types/feature_extraction_metadata.go
  x/veid/types/scope.go
Due: x/veid - Identity Verification

--no-pager status --short pkg/verification/sms/ _docs/verification-runbook.md 2>&1 └ 3 lines...
  _docs/verification-runbook.md
  pkg/verification/sms/antifraud.go
  pkg/verification/sms/errors.go
  pkg/verification/sms/metrics.go
  pkg/verification/sms/providers.go
  pkg/verification/sms/service.go
  pkg/verification/sms/service_test.go
  pkg/verification/sms/templates.go
  pkg/verification/sms/types.go
Due: none

● List directory x\veid └ 12 files found
  _docs/protocols/mobile-capture-sdk.md
  pkg/capture_protocol/mobile/capture_contract.go
  pkg/capture_protocol/mobile/capture_flow.go
  pkg/capture_protocol/mobile/device_integrity.go
  pkg/capture_protocol/mobile/encryption.go
  pkg/capture_protocol/mobile/errors.go
  pkg/capture_protocol/mobile/gallery_prevention.go
  pkg/capture_protocol/server/scope_submission.go
  pkg/capture_protocol/server/upload.go
  pkg/capture_protocol/server/validation.go
  pkg/capture_protocol/signature.go
  pkg/capture_protocol/testdata/sample_payloads.json
Due: none

at-market-i\virtengine\x\market\types\marketplace) └ 12 lines found
  _docs/operations/lifecycle-control.md
  pkg/provider_daemon/lifecycle_controller.go
  pkg/provider_daemon/lifecycle_controller_test.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/waldur/lifecycle.go
  x/market/keeper/lifecycle_callback.go
  x/market/types/marketplace/events.go
  x/market/types/marketplace/lifecycle.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

Enhance production readiness documentation and implement dependency-aware parallelization plan
  .claude/settings.local.json
  _docs/ralph/production-readiness-kanban.json
  _docs/ralph/production-readiness-tasks.md
  ml/requirements-deterministic.txt
  x/market/keeper/keeper_benchmark_test.go
Due: x/market - Marketplace

refactor: update test cases and validation logic for reviews and domain verification
  .githooks/pre-push
  make/init.mk
  pkg/pruning/manager.go
  pkg/pruning/metrics.go
  x/benchmark/types/codec.go
  x/enclave/ibc/keeper_test.go
  x/enclave/keeper/signature_verification_test.go
  x/escrow/genesis_test.go
  x/fraud/keeper/msg_server_test.go
  x/fraud/types/errors.go
  x/hpc/genesis_test.go
  x/market/keeper/keeper_benchmark_test.go
  x/mfa/genesis_test.go
  x/mfa/keeper/sessions_test.go
  x/provider/handler/handler_test.go
  x/provider/keeper/domain_verification_test.go
  x/review/genesis_test.go
  x/review/keeper/keeper_test.go
Due: x/mfa - Multi-Factor Auth, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling

ci: add quality gate workflow mirroring pre-push hook
  .github/workflows/quality-gate.yaml
Due: none

refactor: improve consistency checks in pre-push hook and clean up metrics struct formatting
  .githooks/pre-push
  pkg/pruning/manager.go
  pkg/pruning/metrics.go
Due: none

fix(ci): correct vendor sync check to use go mod vendor -o
  .githooks/pre-push
Due: none

fix(ci): use git diff for mod tidy check
  .githooks/pre-push
Due: none

$ cd C:\Users\jON\AppData\Local\Temp\vibe-kanban\worktrees\9806-5a-feat-hpc-impl\virtengine && go test -v ./tests/integration/hpc/accounting_test.go 2>&1 | Select-Object -First 60 └ 54 lines...
  _docs/hpc-billing-rules.md
  pkg/provider_daemon/hpc_accounting_service.go
  pkg/provider_daemon/hpc_reconciliation.go
  tests/integration/hpc/accounting_test.go
  x/hpc/keeper/accounting.go
  x/hpc/keeper/billing.go
  x/hpc/keeper/settlement.go
  x/hpc/types/accounting.go
  x/hpc/types/billing_rules.go
  x/hpc/types/genesis.go
  x/hpc/types/keys.go
  x/hpc/types/usage_snapshot.go
Due: x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services
