Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001 + INFRA-003: Code Coverage Configuration
# Target: 80% minimum (enforced), 90%+ aspirational for unit tests
# Updated with stricter enforcement for CI/CD hardening
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
  # INFRA-003: Strict CI integration
  ci:
    - "github-actions"

# INFRA-003: GitHub Checks integration for required status checks
github_checks:
  annotations: true

coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # INFRA-003: Minimum 80% coverage enforced (fail CI if below)
        target: 80%
        threshold: 2%
        if_not_found: error  # Changed from success to enforce coverage
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
        # INFRA-003: Require informational comment even if passing
        informational: false
      # Aspirational target for overall project
      aspirational:
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        informational: true  # Don't fail, just report
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 85%  # Stricter for blockchain modules
        threshold: 1%
        if_not_found: error
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 80%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # INFRA-003: All new code must have 80% minimum coverage
        target: 80%
        if_not_found: success
        only_pulls: true
        # New code should not reduce coverage
        threshold: 0%
      # Aspirational patch coverage
      aspirational:
        target: 90%
        if_not_found: success
        only_pulls: true
        informational: true
      # Critical modules require 90% patch coverage (enforced)
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 90%
        if_not_found: success
        # INFRA-003: Critical security code must meet coverage
        informational: false
    changes:
      default:
        # Track changes to ensure coverage trends
        target: auto
        threshold: 5%
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

ci: make go coverage upload non-blocking
  .github/workflows/ci.yaml
Due: none

fix(ci): skip irrelevant heavy jobs on dependency PRs
  .github/workflows/ci.yaml
Due: none

fix(ci): skip Go tests for non-Go PRs
  .github/AGENTS.md
  .github/workflows/ci.yaml
Due: none

feat(settlement): wire external FX and crypto oracle feeds
  app/types/app.go
  x/settlement/keeper/oracle_external.go
  x/settlement/keeper/oracle_external_test.go
Due: none

fix(ci): repair PR formatting and coverage gates
  .github/workflows/ci.yaml
  x/settlement/keeper/oracle_external_test.go
Due: none

feat(settlement): wire external FX and crypto oracle feeds (#770)
  .github/workflows/ci.yaml
  app/types/app.go
  x/settlement/keeper/oracle_external.go
  x/settlement/keeper/oracle_external_test.go
Due: none

feat(hpc): implement node-level settlement rewards by proximity
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_rewards_test.go
Due: x/hpc - HPC Scheduling

feat(hpc): implement node-level settlement rewards by proximity (#772)
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_rewards_test.go
Due: x/hpc - HPC Scheduling

feat(escrow): add durable dex-to-fiat payout state machine
  x/settlement/keeper/dex.go
  x/settlement/keeper/dex_offramp_test.go
  x/settlement/keeper/fiat_conversion_test.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/fiat_conversion_state_test.go
Due: none

feat(provider): broadcast settlement txs via durable idempotent queue
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/chain_submitter_integration_test.go
  pkg/provider_daemon/chain_submitter_queue.go
  pkg/provider_daemon/chain_submitter_test.go
Due: pkg/provider_daemon - Provider Services

feat(escrow): add durable dex-to-fiat payout state machine (#773)
  x/settlement/keeper/dex.go
  x/settlement/keeper/dex_offramp_test.go
  x/settlement/keeper/fiat_conversion_test.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/fiat_conversion_state_test.go
Due: none

feat(provider): broadcast settlement txs via durable idempotent queue (#774)
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/chain_submitter_integration_test.go
  pkg/provider_daemon/chain_submitter_queue.go
  pkg/provider_daemon/chain_submitter_test.go
Due: pkg/provider_daemon - Provider Services

docs(app): update HPC reward completion status in progress audit
  _docs/ralph/progress.md
Due: none

fix(escrow): harden fiat payout state indexing and transition audit
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/fiat_conversion_state_test.go
Due: none

feat(app): add durable in-flight fiat conversion recovery loop
  x/settlement/keeper/dex.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/module.go
Due: none

docs(app): align HPC phase-2 backlog after rewards delivery
  _docs/ralph/progress.md
Due: none

feat: harden settlement fiat offramp idempotency and indexing
  x/settlement/keeper/dex.go
  x/settlement/keeper/fiat_conversion_test.go
  x/settlement/types/keys.go
Due: none

docs(app): align HPC phase-2 backlog after rewards delivery (#775)
  _docs/ralph/progress.md
Due: none

feat: integrate durable fiat offramp idempotency in settlement (#776)
  x/settlement/keeper/dex.go
  x/settlement/keeper/fiat_conversion_test.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/module.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/fiat_conversion_state_test.go
  x/settlement/types/keys.go
Due: none

refactor(cli): replace clitestutil.ExecTestCLICmd with execTxCmd for improved error handling
  x/settlement/client/cli/cli_integration_test.go
Due: none

fix(ci): resolve PR #777 merge conflict
  .github/workflows/ci.yaml
  x/settlement/client/cli/cli_integration_test.go
Due: none

feat(hpc): harden proximity scheduling rewards
  x/hpc/keeper/scheduling.go
  x/hpc/keeper/scheduling_test.go
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_rewards_test.go
Due: x/hpc - HPC Scheduling

fix(ci): repair PR #777 checks
  .github/workflows/ci.yaml
  x/settlement/client/cli/cli_integration_test.go
Due: none

feat(hpc): harden proximity scheduling rewards (#780)
  x/hpc/keeper/scheduling.go
  x/hpc/keeper/scheduling_test.go
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_rewards_test.go
Due: x/hpc - HPC Scheduling

fix(ci): use valid trivy-action tag
  .github/workflows/ci.yaml
Due: none

feat(api): expose settlement conversion transition history
  sdk/go/node/settlement/v1/query.pb.go
  sdk/proto/node/virtengine/settlement/v1/query.proto
  x/settlement/keeper/grpc_query_conversions.go
  x/settlement/keeper/grpc_query_test.go
Due: none

feat(api): expose settlement conversion transition history (#781)
  sdk/go/node/settlement/v1/query.pb.go
  sdk/proto/node/virtengine/settlement/v1/query.proto
  x/settlement/keeper/grpc_query_conversions.go
  x/settlement/keeper/grpc_query_test.go
Due: none

feat(app): harden external pricing ingestion
  app/types/app.go
  x/settlement/keeper/oracle_external.go
  x/settlement/keeper/oracle_external_test.go
  x/settlement/keeper/oracle_test.go
  x/settlement/keeper/price_aggregator.go
  x/settlement/types/genesis.go
  x/settlement/types/genesis_test.go
Due: none

fix: preserve terminal settlement payout retry semantics
  x/settlement/keeper/payout_executor.go
Due: none

fix: finalize durable settlement offramp retry state
  sdk/go/node/settlement/v1/query.pb.go
  sdk/proto/node/virtengine/settlement/v1/query.proto
  x/settlement/keeper/dex.go
  x/settlement/keeper/grpc_query_conversions.go
  x/settlement/keeper/grpc_query_test.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/keeper/payout_executor_test.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/fiat_conversion_state_test.go
  x/settlement/types/payout.go
  x/settlement/types/payout_state_test.go
Due: none

fix(provider): harden chain submitter idempotency
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/chain_submitter_queue.go
  pkg/provider_daemon/chain_submitter_test.go
Due: pkg/provider_daemon - Provider Services

fix(provider): harden chain submitter retries
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/chain_submitter_queue.go
  pkg/provider_daemon/chain_submitter_test.go
Due: pkg/provider_daemon - Provider Services

fix(app): close mainnet launch evidence gap
  _docs/INDEX.md
  _docs/operations/mainnet-backup-restore-drill-report-2026-04-11.md
  _docs/operations/mainnet-dress-rehearsal-report.md
  _docs/operations/mainnet-finance-reconciliation-report-2026-04-11.md
  _docs/operations/mainnet-go-no-go-decision.md
  _docs/operations/mainnet-launch-comms-packet-2026-04-11.md
  _docs/operations/mainnet-launch-control-record-2026-04-11.md
  _docs/operations/mainnet-launch-evidence-audit-2026-04-11.md
  _docs/operations/mainnet-launch-packet.md
  _docs/operations/mainnet-launch-readiness-checklist.md
  _docs/operations/mainnet-provider-hpc-e2e-report-2026-04-11.md
  _docs/operations/mainnet-veid-e2e-report-2026-04-11.md
  _docs/runbooks/mainnet-launch-runbook.md
  output/mainnet-launch/2026-04-11/backup-restore-smoke.log
  output/mainnet-launch/2026-04-11/finance-bridge-e2e.log
  output/mainnet-launch/2026-04-11/finance-bridge-unit.log
  output/mainnet-launch/2026-04-11/finance-evidence.jsonl
  output/mainnet-launch/2026-04-11/finance-settlement.log
  output/mainnet-launch/2026-04-11/prelaunch-checklist-pass.log
  output/mainnet-launch/2026-04-11/provider-hpc-marketplace.log
  output/mainnet-launch/2026-04-11/upgrade-readiness.log
  output/mainnet-launch/2026-04-11/veid-launch-suite.log
  scripts/validate-agents-docs.mjs
  tests/e2e/veid_e2e_test.go
Due: none

fix(ci): scope gofmt to changed Go files
  .github/workflows/ci.yaml
Due: none

fix(ci): skip Go coverage gate for non-Go PRs
  .github/AGENTS.md
  .github/workflows/ci.yaml
Due: none
