Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

feat(market): add vm/container provisioning workflow
  cmd/provider-daemon/main.go
  pkg/provider_daemon/kubernetes_noop_client.go
  pkg/provider_daemon/provisioning_kubernetes.go
  pkg/provider_daemon/provisioning_kubernetes_test.go
  pkg/provider_daemon/provisioning_state.go
  pkg/provider_daemon/provisioning_waldur.go
  pkg/provider_daemon/provisioning_worker.go
  pkg/provider_daemon/settlement_pipeline.go
  x/market/types/marketplace/allocation.go
  x/market/types/marketplace/events.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/provisioning.go
  x/market/types/marketplace/keeper/usage.go
  x/market/types/marketplace/marketplace_test.go
  x/market/types/marketplace/service_types.go
  x/market/types/marketplace/service_types_test.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

feat(encryption): add versioned envelopes and vault rotation
  pkg/data_vault/access_control.go
  pkg/data_vault/consent.go
  pkg/data_vault/errors.go
  pkg/data_vault/keys/key_manager.go
  pkg/data_vault/keys/key_manager_test.go
  pkg/data_vault/service.go
  pkg/data_vault/store.go
  pkg/data_vault/types.go
  pkg/data_vault/vault_service.go
  pkg/data_vault/vault_service_test.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_vault.go
  x/encryption/crypto/envelope.go
  x/encryption/crypto/envelope_test.go
  x/encryption/keeper/keeper.go
  x/encryption/types/envelope.go
  x/encryption/types/keys.go
  x/encryption/types/recipient_key_id.go
Due: x/encryption - Cryptography, pkg/provider_daemon - Provider Services

feat(api): add lifecycle management controls
  api/openapi/portal_api.yaml
  cmd/provider-daemon/main.go
  cmd/virtengine/cmd/access/access.go
  cmd/virtengine/cmd/access/lifecycle.go
  cmd/virtengine/cmd/access/lifecycle_test.go
  cmd/virtengine/cmd/root.go
  pkg/provider_daemon/api/generated/types.go
  pkg/provider_daemon/lifecycle_controller.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_chain_query.go
  pkg/provider_daemon/portal_chain_query_grpc.go
  pkg/provider_daemon/portal_lifecycle.go
  pkg/provider_daemon/portal_lifecycle_test.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/provider_daemon/waldur_callbacks.go
  x/market/types/marketplace/keeper/keeper.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

docs(provider): add AGENTS guides for core packages
  api/AGENTS.md
  scripts/codex-monitor/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

chore(provider): silence unused settlement helpers
  pkg/provider_daemon/settlement_pipeline.go
  pkg/provider_daemon/waldur_callbacks.go
Due: pkg/provider_daemon - Provider Services

feat(market): add vm/container provisioning workflow
  pkg/provider_daemon/settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services

feat(dex): add fiat conversion settlement pipeline
  pkg/payments/offramp/bridge.go
  pkg/payments/offramp/doc.go
  pkg/payments/offramp/errors.go
  pkg/payments/offramp/mock_provider.go
  pkg/payments/offramp/types.go
  tests/integration/settlement/dex_offramp_test.go
  x/settlement/client/cli/query.go
  x/settlement/genesis.go
  x/settlement/keeper/dex.go
  x/settlement/keeper/dex_offramp_test.go
  x/settlement/keeper/grpc_query.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/settlement.go
  x/settlement/module.go
  x/settlement/types/codec.go
  x/settlement/types/errors.go
  x/settlement/types/events.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/genesis.go
  x/settlement/types/keys.go
  x/settlement/types/payout.go
Due: none

docs(provider): add AGENTS guides for core packages
  pkg/provider_daemon/settlement_pipeline.go
  scripts/codex-monitor/AGENTS.md
Due: pkg/provider_daemon - Provider Services

chore(provider): resolve settlement helper merge markers
  pkg/provider_daemon/settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services

docs: add AGENTS documentation standards
  .github/workflows/ci.yaml
  .github/workflows/quality-gate.yaml
  AGENTS.md
  api/AGENTS.md
  docs/AGENTS_INDEX.md
  docs/AGENTS_STANDARDS.md
  docs/templates/AGENTS.template.md
  scripts/codex-monitor/AGENTS.md
  scripts/validate-agents-docs.mjs
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

docs: align AGENTS guides with template
  api/AGENTS.md
  docs/AGENTS_INDEX.md
  scripts/AGENTS.md
  scripts/codex-monitor/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

docs: add AGENTS documentation standards
  api/AGENTS.md
  scripts/codex-monitor/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

docs: align AGENTS required sections
  api/AGENTS.md
  scripts/codex-monitor/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

fix(ci): eliminate rebase thundering herd across orchestrator and monitor
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/ve-orchestrator.ps1
Due: none

fix(ci): skip golangci-lint during merge/rebase commits
  .githooks/pre-commit
Due: none

chore(ci): bump codex-monitor to v0.13.3
  scripts/codex-monitor/package.json
Due: none

feat(monitor): SDK-based conflict resolution with worktree access
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/sdk-conflict-resolver.mjs
  scripts/codex-monitor/tests/sdk-conflict-resolver.test.mjs
  scripts/codex-monitor/ve-orchestrator.ps1
Due: none

chore(provider): silence unused settlement helpers
  pkg/provider_daemon/settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services

docs: align AGENTS required sections
  pkg/provider_daemon/settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services
