Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

build -mod=mod ./x/market/keeper/... 2>&1 | Select-Object -First 60 └ 23 lines...
  _docs/INDEX_STRATEGY.md
  x/deployment/keeper/grpc_query.go
  x/deployment/keeper/keeper.go
  x/escrow/keeper/keeper.go
  x/market/keeper/keeper.go
  x/market/keeper/keeper_benchmark_test.go
  x/market/keeper/keys/key.go
  x/veid/keeper/grpc_query.go
  x/veid/types/grpc_handlers.go
Due: x/veid - Identity Verification, x/market - Marketplace, x/escrow - Escrow

└ 92 lines read
  SECURITY-002-IMPLEMENTATION-SUMMARY.md
  _docs/tee-deployment-guide.md
  go.mod
  pkg/enclave_runtime/config.go
  pkg/enclave_runtime/enclave_factory.go
  pkg/enclave_runtime/remote_attestation.go
Due: none

● List directory pkg └ 26 files found
  pkg/govdata/cost_manager.go
  pkg/govdata/doc.go
  pkg/govdata/fraud_hooks.go
  pkg/govdata/govuk_adapter.go
  pkg/govdata/liveness_integration.go
  pkg/govdata/privacy.go
  pkg/govdata/privacy_cost_test.go
Due: none

● List directory pkg\edugain └ 22 files found
  pkg/edugain/encryption.go
  pkg/edugain/encryption_test.go
  pkg/edugain/saml.go
  pkg/edugain/security_test.go
Due: none

● List directory . └ 90 files found
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/cache/config.go
  pkg/cache/manager.go
  pkg/cache/memory.go
  pkg/cache/metrics.go
  pkg/cache/redis.go
  x/market/keeper/cache.go
  x/provider/keeper/cache.go
  x/veid/keeper/cache.go
Due: x/veid - Identity Verification, x/market - Marketplace

### Deliverables Created:
  DATA_INVENTORY.md
  GDPR_COMPLIANCE.md
  LEGAL_COMPLIANCE_CHECKLIST.md
  PRIVACY_IMPACT_ASSESSMENT.md
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/gdpr_portability.go
  x/veid/types/gdpr_erasure.go
  x/veid/types/gdpr_portability.go
Due: x/veid - Identity Verification

-tags="e2e.integration" ./testutil/partition/... ./tests/integration/partition/... └ 1 line...
  docs/operations/partition-recovery-runbook.md
  tests/integration/partition/consensus_recovery_test.go
  tests/integration/partition/message_replay_test.go
  tests/integration/partition/partition_recovery_test.go
  tests/integration/partition/split_brain_test.go
  tests/integration/partition/state_sync_test.go
  tests/integration/partition/validator_changes_test.go
  testutil/partition/controller.go
  testutil/partition/filter.go
  testutil/partition/metrics.go
  testutil/partition/scenarios.go
Due: none

● Build x/roles with mod mode $ cd "C:\Users\jON\AppData\Local\Temp\vibe-kanban\worktrees\907d-proto-stub-002-m\virtengine" && go build -mod=mod ./x/roles/... 2>&1 └ 33 lines...
  sdk/go/node/roles/v1/store.pb.go
  sdk/proto/node/virtengine/roles/v1/store.proto
  x/roles/keeper/keeper.go
  x/roles/keeper/proto_stub.go
  x/roles/types/proto_impl.go
  x/roles/types/proto_types.go
Due: none

Update production readiness documentation and task status
  _docs/ralph/PRODUCTION_GAP_ANALYSIS.md
  _docs/ralph/production-readiness-kanban.json
  _docs/ralph/production-readiness-tasks.md
Due: none

1\virtengine\pkg\moab_adapter) └ 1 line found
  pkg/moab_adapter/adapter.go
  pkg/moab_adapter/client.go
  pkg/moab_adapter/client_integration_test.go
  pkg/moab_adapter/mock_client.go
  pkg/moab_adapter/types.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/codec.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/errors.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/event.pb.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/genesis.pb.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/key.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/msg.pb.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/msgs.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/provider.pb.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/public_key.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/query.pb.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/query.pb.gw.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/service.pb.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/types.go
Due: none

● List directory pkg └ 30 files found
  pkg/ood_adapter/adapter.go
  pkg/ood_adapter/auth.go
  pkg/ood_adapter/client.go
  pkg/ood_adapter/client_integration_test.go
  pkg/ood_adapter/client_test.go
  pkg/ood_adapter/interactive_apps.go
  pkg/ood_adapter/mock_client.go
  pkg/ood_adapter/oauth2.go
  pkg/ood_adapter/oauth2_test.go
  pkg/ood_adapter/types.go
Due: none

● update_todo └ TODO list updated
  _docs/tee-deployment-guide.md
  pkg/enclave_runtime/attestation_verifier.go
  pkg/enclave_runtime/crypto_common.go
  pkg/enclave_runtime/crypto_nitro.go
  pkg/enclave_runtime/crypto_sev.go
  pkg/enclave_runtime/crypto_sgx.go
  pkg/enclave_runtime/enclave_factory.go
  pkg/enclave_runtime/enclave_manager.go
  pkg/enclave_runtime/enclave_service.go
  pkg/enclave_runtime/hardware_common.go
  pkg/enclave_runtime/hardware_nitro.go
  pkg/enclave_runtime/hardware_sev.go
  pkg/enclave_runtime/hardware_sgx.go
  pkg/enclave_runtime/memory_scrub.go
  pkg/enclave_runtime/nitro_enclave.go
  pkg/enclave_runtime/production_config.go
  pkg/enclave_runtime/real_enclave.go
  pkg/enclave_runtime/sev_enclave.go
  pkg/enclave_runtime/sgx_enclave.go
Due: none

● List directory deploy └ 8 files found
  deploy/monitoring/alerts/chain-health.yml
  deploy/monitoring/alerts/hpc-scheduling.yml
  deploy/monitoring/alerts/marketplace.yml
  deploy/monitoring/alerts/slo-compliance.yml
  deploy/monitoring/alerts/veid-scoring.yml
  deploy/monitoring/grafana/dashboards/chain-health.json
  deploy/monitoring/grafana/dashboards/error-budget.json
  deploy/monitoring/grafana/dashboards/hpc-scheduling.json
  deploy/monitoring/grafana/dashboards/marketplace.json
  deploy/monitoring/grafana/dashboards/veid-scoring.json
  deploy/monitoring/loki/loki.yaml
  deploy/monitoring/prometheus/prometheus.yml
  deploy/monitoring/promtail/promtail.yaml
  deploy/monitoring/tempo/tempo.yaml
  docs/operations/ON_CALL_RUNBOOK.md
Due: none

● Read x\encryption\module.go lines 130-175 └ 51 lines read
  sdk/buf.yaml
  sdk/go/node/encryption/v1/genesis.pb.go
  sdk/go/node/encryption/v1/query.pb.go
  sdk/go/node/encryption/v1/query.pb.gw.go
  sdk/go/node/encryption/v1/tx.pb.go
  sdk/go/node/encryption/v1/types.pb.go
  sdk/proto/node/virtengine/encryption/v1/genesis.proto
  sdk/proto/node/virtengine/encryption/v1/query.proto
  sdk/proto/node/virtengine/encryption/v1/tx.proto
  sdk/proto/node/virtengine/encryption/v1/types.proto
  x/encryption/genesis.go
  x/encryption/keeper/grpc_query.go
  x/encryption/keeper/keeper.go
  x/encryption/keeper/msg_server.go
  x/encryption/keeper/msg_server_test.go
  x/encryption/keeper/proto_stub.go
  x/encryption/module.go
  x/encryption/types/codec.go
  x/encryption/types/genesis.go
  x/encryption/types/genesis_test.go
  x/encryption/types/msgs.go
  x/encryption/types/proto_stub.go
  x/encryption/types/proto_types.go
  x/encryption/types/query.go
Due: x/encryption - Cryptography

└ 85 lines read
  x/market/handler/handler_test.go
Due: x/market - Marketplace

● Read x\veid\keeper\compliance.go lines 35-60 └ 31 lines read
  pkg/inference/config.go
  pkg/inference/doc.go
  pkg/inference/feature_extractor.go
  pkg/inference/model_loader.go
  pkg/inference/scorer.go
  pkg/inference/sidecar.go
  pkg/inference/types.go
  x/veid/keeper/compliance.go
  x/veid/keeper/msg_server.go
  x/veid/types/archival.go
  x/veid/types/gdpr_erasure.go
  x/veid/types/msgs.go
  x/veid/types/msgs_compliance.go
  x/veid/types/proto_stub.go
  x/veid/types/wallet_msgs.go
Due: x/veid - Identity Verification, pkg/inference - ML Inference

feat(infra): implement disaster recovery and business continuity
  INFRA-002-IMPLEMENTATION-SUMMARY.md
  _docs/business-continuity.md
  _docs/disaster-recovery.md
  scripts/dr/README.md
  scripts/dr/backup-chain-state.sh
  scripts/dr/backup-keys.sh
  scripts/dr/dr-test.sh
Due: none

docs(api): add comprehensive API documentation
  docs/api/README.md
  docs/api/examples/curl.md
  docs/api/examples/go/README.md
  docs/api/examples/typescript/README.md
  docs/api/guides/authentication.md
  docs/api/guides/getting-started.md
  docs/api/guides/versioning.md
  docs/api/openapi/README.md
  docs/api/openapi/redoc.html
  docs/api/reference/deployment.md
  docs/api/reference/escrow.md
  docs/api/reference/market.md
  docs/api/reference/mfa.md
  docs/api/reference/provider.md
  docs/api/reference/veid.md
Due: none

"*benchmark*" -Recurse -Name | Where-Object { $_ -notmatch "vendor" } └ 15 lines...
  docs/performance/BENCHMARKS.md
  pkg/benchmark/doc.go
  pkg/benchmark/memory_profile.go
  pkg/benchmark/memory_profile_test.go
  pkg/provider_daemon/bid_engine_benchmark_test.go
  tests/benchmark/BASELINE_METRICS.json
  tests/benchmark/baselines.go
  tests/benchmark/baselines_test.go
  tests/benchmark/throughput_benchmark_test.go
  x/veid/keeper/verification_benchmark_test.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

- Codec registers generated types for proper serialization - Runtime uses local types
  sdk/go/node/delegation/v1/genesis.pb.go
  sdk/go/node/delegation/v1/query.pb.go
  sdk/go/node/delegation/v1/query.pb.gw.go
  sdk/go/node/delegation/v1/tx.pb.go
  sdk/go/node/delegation/v1/types.go
  sdk/go/node/delegation/v1/types.pb.go
  sdk/proto/node/virtengine/delegation/v1/genesis.proto
  sdk/proto/node/virtengine/delegation/v1/query.proto
  sdk/proto/node/virtengine/delegation/v1/tx.proto
  sdk/proto/node/virtengine/delegation/v1/types.proto
  x/delegation/keeper/delegation.go
  x/delegation/keeper/rewards.go
  x/delegation/types/codec.go
  x/delegation/types/genesis.go
  x/delegation/types/msg_server.go
  x/delegation/types/proto_types.go
  x/delegation/types/types_test.go
Due: none

- Complete configurations for all monitoring components
  deploy/monitoring/alertmanager/alertmanager.yml
  deploy/monitoring/alertmanager/templates/virtengine.tmpl
  deploy/monitoring/grafana/dashboards/provider.json
  deploy/monitoring/grafana/dashboards/slo-overview.json
  deploy/monitoring/grafana/dashboards/veid.json
  deploy/monitoring/grafana/provisioning/dashboards/dashboards.yaml
  deploy/monitoring/grafana/provisioning/datasources/datasources.yaml
  deploy/monitoring/loki/loki.yaml
  deploy/monitoring/otel/otel-collector.yaml
  deploy/monitoring/prometheus/prometheus.yml
  deploy/monitoring/prometheus/rules/chain_alerts.yml
  deploy/monitoring/prometheus/rules/slo_alerts.yml
  deploy/monitoring/promtail/promtail.yaml
  deploy/monitoring/tempo/tempo.yaml
  docker-compose.observability.yaml
  docs/operations/runbooks/README.md
  docs/operations/runbooks/block-stalled.md
  docs/operations/runbooks/high-error-rate.md
  docs/operations/runbooks/low-validators.md
  docs/operations/runbooks/node-down.md
  docs/operations/runbooks/provider-deployment.md
  docs/operations/runbooks/slo-budget-burning.md
  docs/operations/runbooks/veid-non-deterministic.md
  pkg/observability/prometheus.go
  pkg/observability/tracing.go
Due: none

● Glob "**/waldur_integration_test.go" └ 1 file found
  x/veid/types/security_controls_test.go
  x/veid/types/sms_rate_limit_test.go
  x/veid/types/sso_verification_test.go
  x/veid/types/voip_detection_test.go
  x/veid/types/waldur_integration_test.go
Due: x/veid - Identity Verification

● Run all payment tests $ cd C:\Users\jON\AppData\Local\Temp\vibe-kanban\worktrees\180d-test-003-ve-3059\virtengine && go test -v ./pkg/payment/... 2>&1 | Select-Object -Last 50 └ 51 lines...
  pkg/payment/adapters.go
  pkg/payment/adyen_adapter.go
  pkg/payment/adyen_adapter_test.go
  pkg/payment/integration_test.go
  pkg/payment/payment_test.go
  pkg/payment/service.go
  pkg/payment/stripe_adapter.go
  pkg/payment/types.go
Due: none

● List directory _docs └ 42 files found
  _docs/onboarding/01-environment-setup.md
  _docs/onboarding/02-architecture-overview.md
  _docs/onboarding/03-code-contribution.md
  _docs/onboarding/04-testing-guide.md
  _docs/onboarding/05-code-review-checklist.md
  _docs/onboarding/06-module-development.md
  _docs/onboarding/07-patterns-antipatterns.md
  _docs/onboarding/08-debugging-guide.md
  _docs/onboarding/README.md
Due: none

● List directory docs └ 15 files found
  docs/operations/runbooks/BACKUP_RESTORE.md
  docs/operations/runbooks/DISASTER_RECOVERY.md
  docs/operations/runbooks/INCIDENT_RESPONSE.md
  docs/operations/runbooks/PERFORMANCE_TUNING.md
  docs/operations/runbooks/PROVIDER_OPERATIONS.md
  docs/operations/runbooks/README.md
  docs/operations/runbooks/TROUBLESHOOTING.md
  docs/operations/runbooks/UPGRADE_PROCEDURES.md
  docs/operations/runbooks/VALIDATOR_SETUP.md
Due: none

feat(hpc): add Query service protobuf definitions
  sdk/go/node/hpc/v1/query.pb.go
  sdk/go/node/hpc/v1/query.pb.gw.go
  sdk/proto/node/virtengine/hpc/v1/query.proto
Due: none

✅ TestGracefulDegradation - PASS ✅ TestWhitelisting - PASS ⏭️ TestRedisRateLimiter - SKIP (Redis not available) ```
  pkg/ratelimit/integration.go
  pkg/ratelimit/monitoring.go
  pkg/ratelimit/redis_limiter.go
  pkg/ratelimit/redis_limiter_test.go
Due: none

● List directory . └ 104 files found
  .github/workflows/compatibility.yaml
  docs/COMPATIBILITY.md
  docs/MIGRATION_GUIDE_TEMPLATE.md
  make/test-integration.mk
  pkg/compatibility/checker.go
  pkg/compatibility/matrix.go
  pkg/compatibility/negotiation.go
  pkg/compatibility/version.go
  pkg/compatibility/version_test.go
  tests/compatibility/api_version_test.go
  tests/compatibility/old_client_test.go
  tests/compatibility/protocol_negotiation_test.go
Due: none

└ 20 lines read
  _docs/adr/adr-003-technical-debt-refactoring.md
  x/config/types/keys.go
  x/delegation/keeper/keeper.go
  x/delegation/keeper/rewards_test.go
  x/delegation/types/types_test.go
  x/escrow/keeper/key.go
  x/market/types/marketplace/waldur_bridge.go
  x/roles/types/grpc_handlers.go
  x/roles/types/query.go
  x/settlement/keeper/keeper.go
  x/veid/types/grpc_handlers.go
  x/veid/types/verification_property_test.go
Due: x/veid - Identity Verification, x/market - Marketplace, x/escrow - Escrow

Update production readiness tasks: Revise blocker statuses, complete proto generation, and enhance government data integration
  _docs/ralph/PRODUCTION_GAP_ANALYSIS.md
  _docs/ralph/production-readiness-kanban.json
  _docs/ralph/production-readiness-tasks.md
Due: none

Potential fix for code scanning alert no. 74: Workflow does not contain permissions
  .github/workflows/compatibility.yaml
Due: none

Potential fix for code scanning alert no. 76: Workflow does not contain permissions
  .github/workflows/infrastructure.yml
Due: none

- Checkpoint-based replay on reconnect (uses existing `EventCheckpointStore`) - Event parsing from ABCI events to structured types
  pkg/provider_daemon/bid_engine.go
  pkg/provider_daemon/event_subscriber.go
  pkg/provider_daemon/stream_client.go
  pkg/provider_daemon/stream_client_test.go
Due: pkg/provider_daemon - Provider Services

● List directory . └ 109 files found
  .github/dependabot.yml
  .github/workflows/changelog.yaml
  .github/workflows/ci.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/pr-security-check.yaml
  .github/workflows/security.yaml
  INFRA-003-IMPLEMENTATION-SUMMARY.md
  codecov.yml
Due: none

● List directory . └ 109 files found
  _docs/business-continuity.md
  _docs/disaster-recovery.md
  _docs/horizontal-scaling-guide.md
Due: none

Moved docs to docs folder
  docs/documentation/PKG_SECURITY_AUDIT.md
  docs/documentation/REFACTOR-002-COMPLETE.md
  docs/documentation/REFACTOR-002-FINAL-MIGRATION-REPORT.md
  docs/documentation/REFACTOR-002-FINAL-REPORT.md
  docs/documentation/REFACTOR-002-MIGRATION-STATUS.md
  docs/documentation/SECURITY-001-CRYPTOGRAPHIC-AUDIT.md
  docs/documentation/SECURITY-002-IMPLEMENTATION-SUMMARY.md
  docs/documentation/SECURITY-005-IMPLEMENTATION-SUMMARY.md
  docs/documentation/SECURITY-006-IMPLEMENTATION-SUMMARY.md
  docs/documentation/SECURITY_AUDIT_GAP_ANALYSIS.md
  docs/documentation/SECURITY_SCOPE.md
  docs/documentation/TEE-IMPL-002-SUMMARY.md
Due: none
