Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

docs(vault): record T5-32 rotation authorization
  _docs/ralph/evidence/prototype-t5/T5-32/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

feat(veid): complete authenticated evidence vertical
  x/veid/keeper/evidence_vertical_test.go
  x/veid/keeper/scoring_model.go
  x/veid/keeper/sso_verification.go
  x/veid/keeper/web_scope_msg_server.go
  x/veid/keeper/web_scope_msg_server_test.go
  x/veid/keeper/web_scope_scoring.go
Due: x/veid - Identity Verification

fix(veid): authorize derived feature updates
  x/veid/keeper/msg_server.go
  x/veid/keeper/msg_server_test.go
Due: x/veid - Identity Verification

docs(veid): record T5-33 validator boundary
  _docs/ralph/evidence/prototype-t5/T5-33/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

fix(veid): consume issuer authentication challenges
  pkg/platformsecurity/issuerlink/contracts.go
  pkg/platformsecurity/issuerlink/fixture.go
  pkg/platformsecurity/issuerlink/fixture_test.go
Due: none

docs(veid): record T5-34 challenge consumption
  _docs/ralph/evidence/prototype-t5/T5-34/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

ci(ai): gate prohibited production paths
  _docs/INDEX.md
  _docs/audits/task-t4-12a-ai-production-policy-2026-08-02.md
  _docs/ralph/prototype-integration/ai-production-policy.json
  _docs/ralph/prototype-integration/required-gate-matrix.json
  scripts/validate-ai-production-policy.cjs
  scripts/validate-ai-production-policy.test.cjs
  scripts/validate-prototype-integration.cjs
  scripts/validate-required-gate-matrix.cjs
Due: none

docs(veid): normalize T5-34 evidence
  _docs/ralph/evidence/prototype-t5/T5-34/validation.txt
Due: none

docs(veid): record T1-04 intake evidence
  _docs/ralph/evidence/prototype-t1/t1-04/commits.txt
  _docs/ralph/evidence/prototype-t1/t1-04/files.txt
  _docs/ralph/evidence/prototype-t1/t1-04/focused-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-04/git-diff-check.txt
  _docs/ralph/evidence/prototype-t1/t1-04/git-version.txt
  _docs/ralph/evidence/prototype-t1/t1-04/go-version.txt
  _docs/ralph/evidence/prototype-t1/t1-04/go-vet.txt
  _docs/ralph/evidence/prototype-t1/t1-04/keeper-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-04/payload-head.txt
  _docs/ralph/handoffs/prototype-t1/HANDOFF.yaml
Due: none

docs(ai): record prohibited path gate
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

fix(mfa): fail closed on corrupt policy state
  x/mfa/keeper/gating_test.go
  x/mfa/keeper/keeper.go
Due: x/mfa - Multi-Factor Auth

feat(release): bind AI policy in core manifest
  _docs/audits/task-t4-12a-ai-production-policy-2026-08-02.md
  scripts/generate-core-rc-manifest.cjs
  scripts/generate-core-rc-manifest.test.cjs
Due: none

docs(release): record AI manifest binding
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

docs(mfa): record T5-35 policy corruption gate
  _docs/ralph/evidence/prototype-t5/T5-35/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

docs(release): refresh AI-bound core manifest
  _docs/ralph/prototype-integration/core-rc-manifest.json
Due: none

docs(release): record AI-bound manifest
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

fix(hpc): require authoritative output access
  lib/portal/__tests__/hpc/use-hpc-outputs.test.tsx
  lib/portal/components/PortalProvider.tsx
  lib/portal/components/hpc/hpc-output.ts
  lib/portal/hooks/useHPC.tsx
  lib/portal/index.d.ts
  lib/portal/index.ts
  lib/portal/types/config.ts
  portal/src/lib/portal-adapter.ts
Due: none

fix(mfa): validate persisted account policy
  x/mfa/keeper/gating_test.go
  x/mfa/keeper/keeper.go
Due: x/mfa - Multi-Factor Auth

docs(mfa): record T5-36 account policy gate
  _docs/ralph/evidence/prototype-t5/T5-36/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

feat(release): derive AI assurance manifest
  _docs/INDEX.md
  _docs/audits/task-t4-14a-ai-assurance-manifest-2026-08-02.md
  _docs/ralph/prototype-integration/core-rc-manifest.schema.json
  scripts/generate-core-rc-manifest.cjs
  scripts/generate-core-rc-manifest.test.cjs
Due: none

docs(release): record AI assurance generator
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

feat(veid): add workload binding verifier contract
  pkg/enclave_runtime/workload_binding.go
  pkg/enclave_runtime/workload_binding_test.go
  pkg/enclave_runtime/workload_binding_verifier.go
  pkg/enclave_runtime/workload_binding_verifier_test.go
Due: none

docs(release): refresh AI assurance manifest
  _docs/ralph/prototype-integration/core-rc-manifest.json
Due: none

docs(release): record AI assurance manifest
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

docs(hpc): record T2-X13 handoff evidence
  _docs/ralph/handoffs/prototype-t2/HANDOFF.yaml
  _docs/ralph/handoffs/prototype-t2/T2-X13-evidence.txt
Due: none

fix(mfa): validate persisted authorization sessions
  x/mfa/keeper/keeper.go
  x/mfa/keeper/sessions_test.go
Due: x/mfa - Multi-Factor Auth

docs(veid): record T1-05 intake evidence
  _docs/ralph/evidence/prototype-t1/t1-05/commits.txt
  _docs/ralph/evidence/prototype-t1/t1-05/files.txt
  _docs/ralph/evidence/prototype-t1/t1-05/focused-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-05/git-diff-check.txt
  _docs/ralph/evidence/prototype-t1/t1-05/git-version.txt
  _docs/ralph/evidence/prototype-t1/t1-05/go-version.txt
  _docs/ralph/evidence/prototype-t1/t1-05/go-vet.txt
  _docs/ralph/evidence/prototype-t1/t1-05/package-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-05/payload-head.txt
  _docs/ralph/evidence/prototype-t1/t1-05/race-tests.txt
  _docs/ralph/handoffs/prototype-t1/HANDOFF.yaml
Due: none

docs(mfa): record T5-37 session state gate
  _docs/ralph/evidence/prototype-t5/T5-37/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

fix(encryption): enforce recipient key lifetime
  x/encryption/keeper/access_control.go
  x/encryption/keeper/access_control_test.go
Due: x/encryption - Cryptography

ci(security): gate AI biometric release evidence
  _docs/INDEX.md
  _docs/audits/task-t4-15a-ai-biometric-security-gates-2026-08-02.md
  _docs/ralph/prototype-integration/ai-biometric-security-gates.json
  _docs/ralph/prototype-integration/required-gate-matrix.json
  scripts/generate-core-rc-manifest.cjs
  scripts/generate-core-rc-manifest.test.cjs
  scripts/validate-ai-biometric-security-gates.cjs
  scripts/validate-ai-biometric-security-gates.test.cjs
  scripts/validate-prototype-integration.cjs
  scripts/validate-required-gate-matrix.cjs
Due: none

docs(security): record AI biometric gates
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

docs(encryption): record T5-38 key lifetime gate
  _docs/ralph/evidence/prototype-t5/T5-38/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

docs(release): bind AI biometric security gates
  _docs/ralph/prototype-integration/core-rc-manifest.json
Due: none

docs(security): record AI biometric manifest
  _docs/ralph/handoffs/prototype-integration/HANDOFF.yaml
Due: none

fix(mfa): validate persisted trusted devices
  x/mfa/keeper/gating_test.go
  x/mfa/keeper/keeper.go
Due: x/mfa - Multi-Factor Auth

docs(mfa): record T5-39 trusted device gate
  _docs/ralph/evidence/prototype-t5/T5-39/validation.txt
  _docs/ralph/handoffs/prototype-t5/HANDOFF.yaml
Due: none

feat(veid): add deterministic receipt producer
  pkg/inference/receipt_producer.go
  pkg/inference/receipt_producer_test.go
  x/veid/keeper/inference_receipt.go
  x/veid/keeper/inference_receipt_test.go
  x/veid/types/inference_receipt.go
  x/veid/types/inference_receipt_test.go
Due: x/veid - Identity Verification, pkg/inference - ML Inference

docs(intake): require clean validation clone
  _docs/prototype-thread-intake-runbook.md
Due: none

docs(veid): record T1-06 intake evidence
  _docs/ralph/evidence/prototype-t1/t1-06/commits.txt
  _docs/ralph/evidence/prototype-t1/t1-06/files.txt
  _docs/ralph/evidence/prototype-t1/t1-06/git-diff-check.txt
  _docs/ralph/evidence/prototype-t1/t1-06/git-version.txt
  _docs/ralph/evidence/prototype-t1/t1-06/go-version.txt
  _docs/ralph/evidence/prototype-t1/t1-06/go-vet.txt
  _docs/ralph/evidence/prototype-t1/t1-06/keeper-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-06/payload-head.txt
  _docs/ralph/evidence/prototype-t1/t1-06/producer-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-06/race-tests.txt
  _docs/ralph/evidence/prototype-t1/t1-06/types-tests.txt
  _docs/ralph/handoffs/prototype-t1/HANDOFF.yaml
Due: none

test(veid): freeze lifecycle compatibility states
  x/veid/keeper/runtime_policy_test.go
Due: x/veid - Identity Verification

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
