Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

fix(hpc): remove unused batch template
  pkg/hpc_workload_library/batch_script.go
Due: none

feat(market): implement automated Waldur marketplace E2E integration
  pkg/provider_daemon/waldur_usage_reporter.go
  pkg/waldur/usage.go
  tests/e2e/waldur/marketplace_lifecycle_test.go
Due: pkg/provider_daemon - Provider Services

chore(portal): chain message gap analysis for portal actions
  docs/documentation/portal-chain-gap-analysis.md
  sdk/proto/node/virtengine/marketplace/v1/tx.proto
Due: none

feat(app): add account settings page
  portal/src/app/(customer)/account/settings/page.tsx
  portal/src/app/(customer)/marketplace/page.tsx
  portal/src/app/(customer)/orders/page.tsx
  portal/src/app/hpc/jobs/page.tsx
  portal/src/app/provider/offerings/page.tsx
Due: none

feat(portal): manage deployment actions
  portal/src/app/(customer)/marketplace/page.tsx
  portal/src/app/(customer)/orders/page.tsx
  portal/src/app/hpc/jobs/page.tsx
  portal/src/app/provider/offerings/page.tsx
  portal/src/app/provider/orders/[id]/page.tsx
  portal/src/components/provider/deployments/DeploymentActionsMenu.tsx
  portal/src/components/provider/deployments/DeploymentUpdateModal.tsx
  portal/src/components/provider/deployments/ResourceScaler.tsx
  portal/src/components/provider/deployments/TerminateConfirmDialog.tsx
  portal/src/components/provider/deployments/index.ts
  portal/src/stores/deploymentStore.ts
  portal/src/stores/index.ts
Due: none

chore: add 'nul' to .gitignore
  .gitignore
Due: none

ci(ci): align portal workflows with pnpm 10
  .github/workflows/portal-ci.yml
  .github/workflows/portal-deploy-preview.yml
  .github/workflows/portal-deploy-prod.yml
Due: none

ci: allowlist licenses in dependency review
  .github/workflows/pr-security-check.yaml
Due: none

feat(portal): add shell access and log streaming
  cmd/provider-daemon/main.go
  pkg/provider_daemon/audit.go
  pkg/provider_daemon/portal_api.go
  pnpm-lock.yaml
  portal/package.json
  portal/src/app/provider/orders/[id]/page.tsx
  portal/src/components/deployments/LogViewer.tsx
  portal/src/components/deployments/ShellTerminal.tsx
  portal/src/stores/identityStore.ts
  portal/src/stores/index.ts
Due: pkg/provider_daemon - Provider Services

fix(ci): enforce golangci-lint in pre-push hook and fix lint errors
  .githooks/pre-push
  pkg/provider_daemon/waldur_usage_reporter.go
Due: pkg/provider_daemon - Provider Services

feat: add allocation management features
  sdk/go/node/marketplace/v1/msgs.go
  sdk/go/node/marketplace/v1/query.pb.go
  sdk/go/node/marketplace/v1/tx.pb.go
  sdk/proto/node/virtengine/marketplace/v1/query.proto
  sdk/proto/node/virtengine/marketplace/v1/tx.proto
  x/market/types/marketplace/codec.go
  x/market/types/marketplace/errors.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/keeper/convert.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/msg_server.go
  x/market/types/marketplace/keeper/query_server.go
  x/market/types/marketplace/mfa_gating.go
  x/market/types/marketplace/msgs.go
Due: x/market - Marketplace

chore(ci): sync lockfile and marketplace protos
  .githooks/pre-push
  pnpm-lock.yaml
  sdk/go/node/marketplace/v1/query.pb.go
  sdk/go/node/marketplace/v1/query.pb.gw.go
  sdk/go/node/marketplace/v1/tx.pb.go
  sdk/go/node/marketplace/v1/types.pb.go
  x/oracle/keeper/delegation.go
  x/oracle/keeper/rewards.go
Due: none

feat(portal): add marketplace offering browser with chain-sourced data
  portal/src/app/(customer)/marketplace/[id]/page.tsx
  portal/src/app/(customer)/marketplace/[provider]/[sequence]/page.tsx
  portal/src/app/(customer)/marketplace/page.tsx
  portal/src/components/marketplace/OfferingCard.tsx
  portal/src/components/marketplace/OfferingFilters.tsx
  portal/src/components/marketplace/OfferingGrid.tsx
  portal/src/components/marketplace/ProviderBadge.tsx
  portal/src/components/marketplace/index.ts
  portal/src/stores/index.ts
  portal/src/stores/offeringStore.ts
  portal/src/types/offerings.ts
Due: none

feat(hpc): add HPCProvider aggregating all HPC components
  pkg/provider_daemon/hpc_provider.go
  pkg/provider_daemon/hpc_provider_test.go
Due: pkg/provider_daemon - Provider Services

feat(hpc): add hpc tx cli commands
  x/hpc/client/cli/tx.go
  x/hpc/client/cli/tx_job.go
  x/hpc/client/cli/tx_provider.go
  x/hpc/client/cli/tx_test.go
Due: x/hpc - HPC Scheduling

chore: relocate scripts out of repo root
  docs/documentation/HPC_PROTO_README.md
  scripts/dev/_check_build.py
  scripts/dev/_check_status.js
  scripts/dev/_check_status.py
  scripts/dev/_execute_commands.ps1
  scripts/dev/_run_and_save.ps1
  scripts/dev/_run_build_test.ps1
  scripts/dev/_run_go_commands.bat
  scripts/dev/_simple_build.ps1
  scripts/dev/_test_script.ps1
  scripts/dev/commit.bat
  scripts/dev/run_build.bat
  scripts/dev/run_build.ps1
  scripts/dev/run_build_tests.ps1
  scripts/dev/run_commands.bat
  scripts/dev/run_commands.py
  scripts/dev/run_e2e_build.bat
  scripts/dev/run_go_commands.ps1
  scripts/dev/run_tasks.bat
  scripts/dev/run_tests.bat
  scripts/hpc/create_dirs.go
  scripts/hpc/create_network_security_dirs.py
  scripts/hpc/proto/hpc_genesis.proto.txt
  scripts/hpc/proto/hpc_query.proto.txt
  scripts/hpc/proto/hpc_tx.proto.txt
  scripts/hpc/proto/hpc_types.proto.txt
  scripts/hpc/setup_hpc_dirs.js
  scripts/hpc/setup_hpc_proto.bat
  scripts/hpc/setup_hpc_proto.sh
  setup_hpc_dirs.js
Due: none

feat(hpc): wire SLURM adapter into provider daemon with K8s deployment
  deploy/slurm/slurm-cluster/templates/servicemonitor.yaml
  pkg/provider_daemon/hpc_backend_manager.go
  pkg/provider_daemon/hpc_backend_manager_test.go
  pkg/provider_daemon/hpc_chain_subscriber.go
  pkg/provider_daemon/hpc_chain_subscriber_test.go
  pkg/provider_daemon/hpc_settlement_pipeline.go
  pkg/provider_daemon/hpc_settlement_pipeline_test.go
  tests/e2e/hpc_slurm_integration_test.go
Due: pkg/provider_daemon - Provider Services

chore(ci): skip scripts in pre-push checks
  .githooks/pre-push
Due: none

fix(hpc): guard template param casts
  x/hpc/client/cli/tx.go
  x/hpc/client/cli/tx_job.go
Due: x/hpc - HPC Scheduling

style(oracle): gofmt keeper files
  x/oracle/keeper/delegation.go
  x/oracle/keeper/rewards.go
Due: none

chore(build): add root package doc
  doc.go
Due: none

fix(hpc): validate cli spec schemas
  docs/hpc-cli-specs.md
  x/hpc/client/cli/tx.go
  x/hpc/client/cli/tx_job.go
  x/hpc/client/cli/tx_provider.go
Due: x/hpc - HPC Scheduling

test(hpc): add lifecycle e2e coverage
  tests/e2e/hpc_lifecycle_test.go
  tests/e2e/hpc_provider_test.go
  tests/e2e/hpc_queue_test.go
  tests/e2e/hpc_scheduling_test.go
  tests/e2e/hpc_settlement_test.go
  tests/e2e/market_cli_test.go
  tests/e2e/mocks/hpc_provider_mock.go
  tests/e2e/mocks/waldur_mock.go
  tests/e2e/provider_cli_test.go
  tests/e2e/provider_grpc_test.go
  tests/e2e/waldur/marketplace_lifecycle_test.go
Due: none

chore: add root package stub
  doc.go
Due: none

fix(ci): add root package stub
  doc.go
Due: none

feat(hpc): wire provider daemon startup
  Makefile
  cmd/provider-daemon/main.go
  make/init.mk
  pkg/provider_daemon/chain_client.go
Due: pkg/provider_daemon - Provider Services

fix(build): quiet git describe on Windows
  Makefile
  make/init.mk
Due: none

chore(build): restore root doc for vet
  doc.go
Due: none

fix(provider): address lint issues
  cmd/provider-daemon/main.go
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/hpc_backend_manager.go
  pkg/provider_daemon/hpc_backend_manager_test.go
  pkg/provider_daemon/hpc_chain_subscriber_test.go
  pkg/provider_daemon/hpc_settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services

style(provider): gofmt provider daemon
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/hpc_chain_subscriber.go
  pkg/provider_daemon/hpc_chain_subscriber_test.go
  pkg/provider_daemon/hpc_provider.go
Due: pkg/provider_daemon - Provider Services

Commit changes from coding agent for workspace d7987955-09d4-4f96-a1c1-377ef71ac3bd
  lib/portal/__tests__/portal.test.ts
  lib/portal/index.ts
  lib/portal/package.json
  lib/portal/src/components/wallet/WalletButton.tsx
  lib/portal/src/components/wallet/WalletModal.tsx
  lib/portal/src/components/wallet/index.ts
  lib/portal/src/wallet/adapters/cosmostation.ts
  lib/portal/src/wallet/adapters/keplr.ts
  lib/portal/src/wallet/adapters/leap.ts
  lib/portal/src/wallet/adapters/walletconnect.ts
  lib/portal/src/wallet/context.tsx
  lib/portal/src/wallet/types.ts
  lib/portal/utils/a11y-testing.ts
  lib/portal/utils/encryption.ts
  lib/portal/utils/wallet.ts
  pnpm-lock.yaml
  portal/src/app/provider/orders/[id]/page.tsx
  portal/src/components/wallet/WalletButton.tsx
  portal/src/components/wallet/WalletModal.tsx
Due: none

chore(ci): sync lockfile and marketplace protos
  pnpm-lock.yaml
Due: none

feat(hpc): add hpc tx cli commands
  x/hpc/client/cli/tx.go
  x/hpc/client/cli/tx_job.go
  x/hpc/client/cli/tx_provider.go
Due: x/hpc - HPC Scheduling
