Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

feat(codex-monitor): integrate VK error resolver and enhance worktree management
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/workspace-reaper.mjs
Due: none

add final changes
  pkg/payment/ach_adapter.go
  pkg/payment/paypal_adapter.go
  pkg/payment/stripe_adapter.go
  pkg/payment/types.go
  scripts/codex-monitor/pr-cleanup-daemon.mjs
Due: none

fix(sdk): remove broken SDK mirror paths (staking, settlement)
  sdk/github.com/virtengine/virtengine/sdk/go/node/settlement/v1/query.pb.go
  sdk/github.com/virtengine/virtengine/sdk/go/node/settlement/v1/query.pb.gw.go
  sdk/github.com/virtengine/virtengine/sdk/go/node/staking/v1/query.pb.go
  sdk/github.com/virtengine/virtengine/sdk/go/node/staking/v1/query.pb.gw.go
Due: none

Refactor codex-monitor scripts to enhance agent management and improve logging
  .codex/instructions.md
  .gitconfig
  .github/AGENT_PREFLIGHT.md
  .github/workflows/dependabot-auto-merge.yaml
  AGENTS.md
  scripts/agent-preflight.ps1
  scripts/agent-preflight.sh
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/git-editor-fix.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/pr-cleanup-daemon.mjs
  scripts/codex-monitor/sdk-conflict-resolver.mjs
  scripts/codex-monitor/ve-kanban.ps1
  scripts/codex-monitor/ve-orchestrator.ps1
Due: none

chore: update Task Planner agent description and tools list for clarity and organization
  .github/agents/Task Planner.agent.md
Due: none

fix(cli): resolve repo root from env
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/claude-shell.mjs
  scripts/codex-monitor/codex-shell.mjs
  scripts/codex-monitor/copilot-shell.mjs
  scripts/codex-monitor/git-editor-fix.mjs
  scripts/codex-monitor/repo-root.mjs
  scripts/codex-monitor/setup.mjs
Due: none

feat: introduce agent pool SDK management and commands
  .github/agents/ralph-orchestrator.agent.md
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/config.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
  scripts/codex-monitor/telegram-bot.mjs
  scripts/codex-monitor/tests/agent-pool.test.mjs
Due: none

feat(mfa): add trusted browser token support
  sdk/go/node/mfa/v1/tx.pb.go
  sdk/go/node/mfa/v1/types.pb.go
  x/mfa/keeper/gating.go
  x/mfa/keeper/gating_test.go
  x/mfa/keeper/keeper.go
  x/mfa/keeper/keeper_test.go
  x/mfa/keeper/msg_server.go
  x/mfa/keeper/msg_server_test.go
  x/mfa/types/enrollment.go
  x/mfa/types/mfa_proof_provider.go
  x/mfa/types/msgs.go
  x/mfa/types/proto_conversions.go
Due: x/mfa - Multi-Factor Auth

[xl] feat(mfa): trusted browser scope to reduce MFA... (#663)
  portal/src/components/mfa/MFAChallenge.tsx
  portal/tests/unit/mfa/components.test.tsx
  sdk/go/node/mfa/v1/tx.pb.go
  sdk/go/node/mfa/v1/types.pb.go
  x/mfa/keeper/gating.go
  x/mfa/keeper/gating_test.go
  x/mfa/keeper/keeper.go
  x/mfa/keeper/keeper_test.go
  x/mfa/keeper/msg_server.go
  x/mfa/keeper/msg_server_test.go
  x/mfa/types/enrollment.go
  x/mfa/types/mfa_proof_provider.go
  x/mfa/types/msgs.go
  x/mfa/types/proto_conversions.go
Due: x/mfa - Multi-Factor Auth

fix(security): command execution allowlist + exec.Command hardening
  cmd/hpc-node-agent/metrics.go
  pkg/benchmark_daemon/runner.go
  pkg/chaos/runner/kubernetes.go
  pkg/chaos/slo/verifier.go
  pkg/enclave_runtime/hardware/detector.go
  pkg/enclave_runtime/hardware_common.go
  pkg/enclave_runtime/hardware_nitro.go
  pkg/enclave_runtime/nitro/enclave.go
  pkg/provider_daemon/slurm_k8s/cli_clients.go
  pkg/security/validation.go
  pkg/security/validation_test.go
Due: pkg/provider_daemon - Provider Services

fix(security): command execution allowlist + exec.Command hardening (#664)
  cmd/hpc-node-agent/metrics.go
  pkg/benchmark_daemon/runner.go
  pkg/chaos/runner/kubernetes.go
  pkg/chaos/slo/verifier.go
  pkg/enclave_runtime/hardware/detector.go
  pkg/enclave_runtime/hardware_common.go
  pkg/enclave_runtime/hardware_nitro.go
  pkg/enclave_runtime/nitro/enclave.go
  pkg/provider_daemon/slurm_k8s/cli_clients.go
  pkg/security/validation.go
  pkg/security/validation_test.go
Due: pkg/provider_daemon - Provider Services

fix(security): path traversal remediation + file path validator
  SECURITY_CHANGELOG.md
  pkg/inference/model_loader.go
  pkg/provider_daemon/event_checkpoint_store.go
  pkg/provider_daemon/hpc_node_checkpoint_store.go
  pkg/provider_daemon/provisioning_state.go
  pkg/provider_daemon/waldur_orders.go
  pkg/pruning/disk_monitor.go
  pkg/pruning/snapshot_manager.go
  pkg/security/path_test.go
  pkg/verification/keystorage/file.go
Due: pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(security): path traversal remediation + file path validator (#665)
  SECURITY_CHANGELOG.md
  pkg/inference/model_loader.go
  pkg/provider_daemon/event_checkpoint_store.go
  pkg/provider_daemon/hpc_node_checkpoint_store.go
  pkg/provider_daemon/provisioning_state.go
  pkg/provider_daemon/waldur_orders.go
  pkg/pruning/disk_monitor.go
  pkg/pruning/snapshot_manager.go
  pkg/security/path_test.go
  pkg/verification/keystorage/file.go
Due: pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

feat(encryption): enforce encrypted payload standard across modules
  x/encryption/alias.go
  x/encryption/keeper/access_control.go
  x/encryption/keeper/access_control_test.go
  x/encryption/keeper/keeper.go
  x/encryption/types/errors.go
  x/encryption/types/introspection.go
  x/encryption/types/introspection_test.go
  x/market/keeper/encryption_enforcer.go
  x/market/keeper/encryption_enforcer_test.go
Due: x/encryption - Cryptography, x/market - Marketplace

feat(encryption): enforce encrypted payload standard across modules (#666)
  x/encryption/alias.go
  x/encryption/keeper/access_control.go
  x/encryption/keeper/access_control_test.go
  x/encryption/keeper/keeper.go
  x/encryption/types/errors.go
  x/encryption/types/introspection.go
  x/encryption/types/introspection_test.go
  x/market/keeper/encryption_enforcer.go
  x/market/keeper/encryption_enforcer_test.go
Due: x/encryption - Cryptography, x/market - Marketplace

test(take): add comprehensive unit tests for fee deduction module
  x/take/TEST_SUMMARY.md
  x/take/keeper/grpc_query_test.go
  x/take/keeper/keeper_test.go
  x/take/types/genesis_test.go
  x/take/types/params_test.go
Due: none

test(take): add comprehensive unit tests for fee deduction module (#667)
  x/take/TEST_SUMMARY.md
  x/take/keeper/grpc_query_test.go
  x/take/keeper/keeper_test.go
  x/take/types/genesis_test.go
  x/take/types/params_test.go
Due: none

feat: add worktree management functionality
  .codex/instructions.md
  .github/agents/Task Planner.agent.md
  AGENTS.md
  _docs/ralph/progress.md
  codex-subagent-test-mcp-access.md
  scripts/agent-preflight.ps1
  scripts/agent-preflight.sh
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/config.mjs
  scripts/codex-monitor/copilot-shell.mjs
  scripts/codex-monitor/kanban-adapter.mjs
  scripts/codex-monitor/maintenance.mjs
  scripts/codex-monitor/merge-strategy.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package.json
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/telegram-bot.mjs
  scripts/codex-monitor/tests/task-executor.test.mjs
  scripts/codex-monitor/tests/worktree-manager.test.mjs
  scripts/codex-monitor/vk-error-resolver.mjs
  scripts/codex-monitor/vk-log-stream.mjs
  scripts/codex-monitor/worktree-manager.mjs
Due: none

fix(ci): resolve VK API routing, PATCH 405, and project auto-detection bugs
  scripts/codex-monitor/kanban-adapter.mjs
  scripts/codex-monitor/task-executor.mjs
Due: none

feat(portal): add LLM chat agent integration
  lib/portal/__tests__/chat/actions.test.ts
  lib/portal/__tests__/chat/agent.test.ts
  lib/portal/__tests__/chat/context.test.ts
  lib/portal/__tests__/chat/tools.test.ts
  lib/portal/index.ts
  lib/portal/package.json
  lib/portal/src/chat/agent.ts
  lib/portal/src/chat/chain-tools/deployments.ts
  lib/portal/src/chat/chain-tools/governance.ts
  lib/portal/src/chat/chain-tools/identity.ts
  lib/portal/src/chat/chain-tools/index.ts
  lib/portal/src/chat/chain-tools/marketplace.ts
  lib/portal/src/chat/chain-tools/wallet.ts
  lib/portal/src/chat/context.ts
  lib/portal/src/chat/index.ts
  lib/portal/src/chat/providers/base.ts
  lib/portal/src/chat/providers/local.ts
  lib/portal/src/chat/providers/openai.ts
  lib/portal/src/chat/tools.ts
  lib/portal/src/chat/types.ts
  pnpm-lock.yaml
  portal/src/components/chat/ActionConfirmation.tsx
  portal/src/components/chat/ChatMessage.tsx
  portal/src/components/chat/ChatPanel.tsx
  portal/src/components/chat/index.ts
  portal/src/config/env.ts
  portal/src/lib/config.ts
  portal/src/lib/portal-adapter.ts
  portal/src/providers/AppProviders.tsx
  portal/src/stores/chatStore.ts
  portal/src/stores/index.ts
  portal/tests/unit/mfa/components.test.tsx
Due: none

fix(app): reconcile settlement escrow and endblockers
  app/app.go
  app/types/app.go
  x/resources/keeper/end_blocker_test.go
  x/resources/module.go
  x/settlement/keeper/escrow.go
  x/settlement/keeper/escrow_test.go
  x/settlement/keeper/grpc_query_test.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/payout_executor_flow_test.go
  x/settlement/keeper/reward_distribution_test.go
  x/settlement/keeper/rewards.go
  x/settlement/keeper/rewards_test.go
  x/settlement/keeper/settlement.go
  x/settlement/types/genesis.go
Due: none

fix(ci): handle missing sdk/go in pre-push build fallback
  .githooks/pre-push
Due: none

feat(portal): wire mock stores to chain REST API + tx signing
  portal/src/app/(customer)/dashboard/CustomerDashboardPage.tsx
  portal/src/app/(customer)/dashboard/allocations/[id]/AllocationDetailClient.tsx
  portal/src/app/(customer)/marketplace/[provider]/[sequence]/order/OrderCreateClient.tsx
  portal/src/app/(customer)/orders/[id]/OrderDetailClient.tsx
  portal/src/app/admin/users/page.tsx
  portal/src/app/provider/dashboard/ProviderDashboardClient.tsx
  portal/src/app/provider/orders/[id]/DeploymentDetailClient.tsx
  portal/src/components/admin/__tests__/AdminDashboard.test.tsx
  portal/src/components/orders/OrderList.tsx
  portal/src/config/env.ts
  portal/src/layouts/AdminLayout.tsx
  portal/src/lib/api/chain.ts
  portal/src/lib/config.ts
  portal/src/stores/__tests__/adminStore.test.ts
  portal/src/stores/__tests__/customerDashboardStore.test.ts
  portal/src/stores/__tests__/deploymentStore.test.ts
  portal/src/stores/__tests__/identityStore.test.ts
  portal/src/stores/__tests__/metricsStore.test.ts
  portal/src/stores/__tests__/orderStore.test.ts
  portal/src/stores/__tests__/providerStore.test.ts
  portal/src/stores/adminStore.ts
  portal/src/stores/customerDashboardStore.ts
  portal/src/stores/deploymentStore.ts
  portal/src/stores/identityStore.ts
  portal/src/stores/metricsStore.ts
  portal/src/stores/orderStore.ts
  portal/src/stores/providerStore.ts
Due: none

fix(portal): resolve TypeScript error and test failures in store refactor
  portal/src/app/(customer)/marketplace/[provider]/[sequence]/order/OrderCreateClient.tsx
  portal/src/components/admin/__tests__/AdminDashboard.test.tsx
  portal/src/components/admin/__tests__/AuditLog.test.tsx
  portal/src/components/admin/__tests__/ModuleParams.test.tsx
  portal/src/components/admin/__tests__/UserManagement.test.tsx
  portal/src/components/admin/__tests__/ValidatorManagement.test.tsx
Due: none

fix(app): stabilize mfa audit flow
  pkg/provider_daemon/domain_verification_checker.go
  pkg/provider_daemon/domain_verification_checker_test.go
  portal/src/components/mfa/MFASettings.tsx
  portal/tests/unit/mfa/components.test.tsx
Due: pkg/provider_daemon - Provider Services

fix(portal): resolve all test failures and type errors in store refactor
  portal/src/app/(customer)/orders/[id]/OrderDetailClient.tsx
  portal/src/components/mfa/MFASettings.tsx
  portal/src/stores/__tests__/adminStore.test.ts
  portal/src/stores/__tests__/customerDashboardStore.test.ts
  portal/src/stores/__tests__/deploymentStore.test.ts
  portal/src/stores/__tests__/metricsStore.test.ts
  portal/src/stores/__tests__/providerStore.test.ts
  portal/tests/unit/dashboard/customerDashboardStore.test.ts
  portal/tests/unit/provider/providerStore.test.ts
  portal/tests/unit/stores/admin/adminStore.test.ts
  portal/tests/unit/veid/identityStore.test.tsx
Due: none

fix(portal): resolve TypeScript, lint, and type compatibility errors
  pkg/provider_daemon/domain_verification_checker.go
  pkg/provider_daemon/domain_verification_checker_test.go
  portal/src/lib/api/chain.ts
  portal/src/lib/portal-adapter.ts
  portal/src/stores/__tests__/adminStore.test.ts
  portal/src/stores/__tests__/customerDashboardStore.test.ts
  portal/src/stores/__tests__/identityStore.test.ts
  portal/src/stores/__tests__/orderStore.test.ts
  portal/src/stores/adminStore.ts
  portal/src/stores/metricsStore.ts
  portal/src/stores/providerStore.ts
  portal/tests/unit/mfa/components.test.tsx
Due: pkg/provider_daemon - Provider Services

fix(portal): resolve vi namespace and WalletAccount type errors in tests
  portal/src/stores/__tests__/adminStore.test.ts
  portal/src/stores/__tests__/customerDashboardStore.test.ts
  portal/src/stores/__tests__/identityStore.test.ts
  portal/src/stores/__tests__/orderStore.test.ts
Due: none

fix(provider): wire verification proof param
  pkg/provider_daemon/domain_verification_checker.go
Due: pkg/provider_daemon - Provider Services

fix(app): wire end blocker order
  app/app.go
Due: none

feat(app): add portal LLM chat agent
  lib/portal/__tests__/chat/agent.test.ts
  lib/portal/__tests__/chat/context.test.ts
  lib/portal/__tests__/chat/tools.test.ts
  lib/portal/index.ts
  lib/portal/package.json
  lib/portal/src/chat/agent.ts
  lib/portal/src/chat/chain-tools/deployments.ts
  lib/portal/src/chat/chain-tools/governance.ts
  lib/portal/src/chat/chain-tools/identity.ts
  lib/portal/src/chat/chain-tools/marketplace.ts
  lib/portal/src/chat/chain-tools/wallet.ts
  lib/portal/src/chat/context.ts
  lib/portal/src/chat/index.ts
  lib/portal/src/chat/providers/base.ts
  lib/portal/src/chat/providers/index.ts
  lib/portal/src/chat/providers/local.ts
  lib/portal/src/chat/providers/openai.ts
  lib/portal/src/chat/tools.ts
  lib/portal/src/chat/types.ts
  pnpm-lock.yaml
  portal/src/components/chat/ActionConfirmation.tsx
  portal/src/components/chat/ChatMessage.tsx
  portal/src/components/chat/ChatPanel.tsx
  portal/src/components/chat/index.ts
  portal/src/config/env.ts
  portal/src/config/index.ts
  portal/src/config/portal.ts
  portal/src/layouts/AppLayout.tsx
  portal/src/lib/portal-adapter.ts
  portal/src/stores/chatStore.ts
  portal/src/stores/index.ts
  portal/tests/unit/chat/ActionConfirmation.test.tsx
Due: none

feat(settlement): unify hpc settlement and add cli
  app/mac.go
  app/types/app.go
  tests/integration/settlement/doc.go
  x/hpc/keeper/billing_integration_test.go
  x/hpc/keeper/keeper.go
  x/hpc/keeper/settlement.go
  x/hpc/keeper/settlement_integration.go
  x/hpc/keeper/settlement_integration_test.go
  x/hpc/keeper/test_helpers_test.go
  x/settlement/client/cli/cli_integration_test.go
  x/settlement/client/cli/query.go
  x/settlement/client/cli/tx.go
  x/settlement/keeper/escrow.go
  x/settlement/keeper/invariants.go
  x/settlement/keeper/invariants_test.go
  x/settlement/keeper/settlement_test.go
  x/settlement/module.go
Due: x/hpc - HPC Scheduling

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
