Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

feat(portal): add i18n and a11y improvements
  pnpm-lock.yaml
  portal/package.json
  portal/src/app/(customer)/dashboard/CustomerDashboardPage.tsx
  portal/src/app/layout.tsx
  portal/src/app/not-found.tsx
  portal/src/app/page.tsx
  portal/src/components/dashboard/AllocationCard.tsx
  portal/src/components/dashboard/BillingSummary.tsx
  portal/src/components/dashboard/NotificationsFeed.tsx
  portal/src/components/dashboard/QuickActions.tsx
  portal/src/components/dashboard/TerminateAllocationDialog.tsx
  portal/src/components/dashboard/UsageSummary.tsx
  portal/src/components/layout/Footer.tsx
  portal/src/components/layout/Header.tsx
  portal/src/components/layout/Navigation.tsx
  portal/src/components/layout/Sidebar.tsx
  portal/src/components/orders/EscrowDeposit.tsx
  portal/src/components/orders/OrderConfirmation.tsx
  portal/src/components/orders/OrderWizard.tsx
  portal/src/components/orders/PriceCalculator.tsx
  portal/src/components/orders/ResourceConfig.tsx
  portal/src/components/shared/LanguageSwitcher.tsx
  portal/src/components/shared/SkipToContent.tsx
  portal/src/components/shared/ThemeToggle.tsx
  portal/src/components/shared/index.ts
  portal/src/components/ui/Button.tsx
  portal/src/components/ui/Input.tsx
  portal/src/components/ui/Toast.tsx
  portal/src/components/wallet/WalletButton.tsx
  portal/src/components/wallet/WalletLoginButtons.tsx
  portal/src/components/wallet/WalletModal.tsx
  portal/src/features/orders/types.ts
  portal/src/i18n/I18nProvider.tsx
  portal/src/i18n/index.ts
  portal/src/i18n/locales/de.json
  portal/src/i18n/locales/en.json
  portal/src/i18n/locales/es.json
  portal/src/i18n/locales/ja.json
  portal/src/lib/utils.ts
  portal/src/providers/AppProviders.tsx
Due: none

fix(app): stabilize i18n provider
  portal/src/i18n/I18nClientSync.tsx
  portal/src/i18n/I18nProvider.tsx
Due: none

test(portal): add portal e2e flows
  lib/portal/hooks/useIdentity.tsx
  portal/playwright.config.ts
  portal/tests/e2e/auth-flow.spec.ts
  portal/tests/e2e/auth.spec.ts
  portal/tests/e2e/dashboard.spec.ts
  portal/tests/e2e/fixtures.ts
  portal/tests/e2e/hpc.spec.ts
  portal/tests/e2e/identity.spec.ts
  portal/tests/e2e/marketplace.spec.ts
  portal/tests/e2e/payment.spec.ts
  portal/tests/e2e/utils.ts
  portal/tests/unit/hpc/components.test.tsx
Due: none

fix(ci): add vk api timeout retries
  .github/AGENT_PREFLIGHT.md
  .github/agents/ralph-orchestrator.agent.md
  AGENTS.md
  _docs/failure-analysis.md
  _docs/ralph/_patent_text.txt
  scripts/_validate-syntax.ps1
  scripts/agent-preflight.ps1
  scripts/agent-preflight.sh
  scripts/codex-monitor/autofix.mjs
  scripts/codex-monitor/maintenance.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
  scripts/ve-kanban.ps1
  scripts/ve-orchestrator.ps1
Due: none

feat(observability): add distributed tracing instrumentation
  cmd/inference-sidecar/main.go
  cmd/provider-daemon/main.go
  deploy/monitoring/tempo/tempo.yaml
  go.mod
  go.sum
  pkg/observability/logger.go
  pkg/observability/otel_tracer.go
  pkg/observability/tracing.go
  pkg/observability/tracing_grpc.go
  pkg/observability/tracing_http.go
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/hpc_node_aggregator.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/status_callback.go
  pkg/provider_daemon/waldur_callbacks.go
  pkg/waldur/client.go
Due: pkg/provider_daemon - Provider Services

feat(portal): wallet-signed request auth
  cmd/provider-daemon/main.go
  lib/portal/src/auth/wallet-sign.ts
  lib/portal/src/provider-api/client.ts
  pkg/provider_daemon/auth/canonical_json.go
  pkg/provider_daemon/auth/chain_query.go
  pkg/provider_daemon/auth/cosmos_verify.go
  pkg/provider_daemon/auth/cosmos_verify_test.go
  pkg/provider_daemon/auth/nonce_store.go
  pkg/provider_daemon/portal_api.go
  portal/tests/unit/hpc/components.test.tsx
Due: pkg/provider_daemon - Provider Services

feat(admin): admin dashboard
  portal/src/app/admin/audit/page.tsx
  portal/src/app/admin/escrow/page.tsx
  portal/src/app/admin/health/page.tsx
  portal/src/app/admin/page.tsx
  portal/src/app/admin/providers/page.tsx
  portal/src/app/admin/system/page.tsx
  portal/src/app/admin/users/page.tsx
  portal/src/app/admin/veid/page.tsx
  portal/src/components/layout/Sidebar.tsx
  portal/src/stores/adminStore.ts
  portal/src/types/admin.ts
Due: none

feat(app): add notification system
  go.mod
  go.sum
  pkg/email/notifications.go
  pkg/email/sender.go
  pkg/email/templates/templates.go
  pkg/notifications/apns/client.go
  pkg/notifications/cipher.go
  pkg/notifications/events/handler.go
  pkg/notifications/events/types.go
  pkg/notifications/firebase/client.go
  pkg/notifications/memory_store.go
  pkg/notifications/preferences.go
  pkg/notifications/service.go
  pkg/notifications/service_test.go
  pkg/notifications/store.go
  pkg/notifications/types.go
  portal/src/app/(customer)/account/settings/page.tsx
  portal/src/app/api/notifications/preferences/route.ts
  portal/src/app/api/notifications/read/route.ts
  portal/src/app/api/notifications/route.ts
  portal/src/components/layout/Header.tsx
  portal/src/components/notifications/NotificationCenter.tsx
  portal/src/components/notifications/NotificationItem.tsx
  portal/src/components/notifications/NotificationPreferences.tsx
  portal/src/components/notifications/hooks/useNotifications.ts
  portal/src/lib/notifications/store.ts
  portal/src/types/notifications.ts
Due: none

feat(provider): enhance portal api endpoints
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_billing.go
  pkg/provider_daemon/portal_chain_query.go
  pkg/provider_daemon/portal_events.go
  pkg/provider_daemon/portal_metrics.go
  pkg/provider_daemon/portal_middleware.go
  pkg/provider_daemon/portal_models.go
  pkg/provider_daemon/portal_organizations.go
  pkg/provider_daemon/portal_provider.go
  pkg/provider_daemon/portal_tickets.go
Due: pkg/provider_daemon - Provider Services

fix(provider): address portal lint issues
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_middleware.go
Due: pkg/provider_daemon - Provider Services

feat(portal): add vibe kanban companion
  pnpm-lock.yaml
  portal/package.json
  portal/src/providers/AppProviders.tsx
Due: none

feat(hpc): add deployment phase tracking to SLURM bootstrap
  pkg/provider_daemon/slurm_k8s/adapter.go
  pkg/provider_daemon/slurm_k8s/bootstrap.go
Due: pkg/provider_daemon - Provider Services

test(infra): add load and chaos testing framework
  .github/workflows/chaos-test.yaml
  .github/workflows/load-test.yaml
  go.mod
  go.sum
  infra/chaos-mesh/latency-injection.yaml
  infra/chaos-mesh/network-partition.yaml
  infra/chaos-mesh/pod-failure.yaml
  infra/chaos-mesh/stress-test.yaml
  tests/chaos/README.md
  tests/chaos/framework/runner.go
  tests/chaos/framework/validators.go
  tests/load/FRAMEWORK.md
  tests/load/cmd/loadtest/main.go
  tests/load/framework/framework.go
  tests/load/framework/metrics.go
  tests/load/framework/report.go
  tests/load/scenarios/veid_submit.go
Due: none

fix(portal): add companion types
  portal/src/types/vibe-kanban-web-companion.d.ts
Due: none

feat: add production metrics dashboards
  deploy/monitoring/alertmanager/alertmanager.yaml
  deploy/monitoring/grafana/dashboards/business-metrics.json
  deploy/monitoring/grafana/dashboards/infrastructure-overview.json
  deploy/monitoring/grafana/dashboards/market-module.json
  deploy/monitoring/grafana/dashboards/ml-inference.json
  deploy/monitoring/grafana/dashboards/provider-daemon.json
  deploy/monitoring/grafana/dashboards/veid-module.json
  deploy/monitoring/grafana/dashboards/virtengine-overview.json
  deploy/monitoring/prometheus/rules/virtengine_alerts.yaml
Due: none

feat(api): enhance jira backend integration
  pkg/jira/adf.go
  pkg/jira/bridge.go
  pkg/jira/client.go
  pkg/jira/comment.go
  pkg/jira/jira_test.go
  pkg/jira/service.go
  pkg/jira/types.go
  pkg/servicedesk/bridge.go
  pkg/servicedesk/callbacks.go
  pkg/servicedesk/config.go
Due: none

feat(api): add wallet-signed request auth
  cmd/provider-daemon/main.go
  lib/portal/__tests__/auth/wallet-sign.test.ts
  lib/portal/src/auth/wallet-sign.ts
  pkg/provider_daemon/auth/auth_test.go
  pkg/provider_daemon/auth/chain_query.go
  pkg/provider_daemon/auth/cosmos_verify.go
  pkg/provider_daemon/auth/middleware.go
  pkg/provider_daemon/auth/nonce_store.go
  pkg/provider_daemon/auth/types.go
  pkg/provider_daemon/portal_api.go
Due: pkg/provider_daemon - Provider Services

feat(app): add notification system scaffolding
  go.mod
  go.sum
  pkg/email/service.go
  pkg/email/service_test.go
  pkg/email/templates.go
  pkg/email/types.go
  pkg/notifications/apns/client.go
  pkg/notifications/events/handler.go
  pkg/notifications/firebase/client.go
  pkg/notifications/inapp.go
  pkg/notifications/interfaces.go
  pkg/notifications/preferences.go
  pkg/notifications/push.go
  pkg/notifications/service.go
  pkg/notifications/service_test.go
  pkg/notifications/store.go
  pkg/notifications/tokens.go
  pkg/notifications/tokens_test.go
  pkg/notifications/types.go
  portal/src/app/(customer)/account/settings/page.tsx
  portal/src/app/api/notification-preferences/route.ts
  portal/src/app/api/notifications/data.ts
  portal/src/app/api/notifications/read/route.ts
  portal/src/app/api/notifications/route.ts
  portal/src/components/layout/Header.tsx
  portal/src/components/notifications/NotificationCenter.tsx
  portal/src/components/notifications/NotificationItem.tsx
  portal/src/components/notifications/NotificationPreferences.tsx
  portal/src/components/notifications/hooks/useNotifications.ts
  portal/src/components/notifications/index.ts
  portal/src/config/env.ts
  portal/src/types/notifications.ts
Due: none

feat(security): add encrypted data vault foundation (32A)
  pkg/data_vault/README.md
  pkg/data_vault/doc.go
  pkg/data_vault/errors.go
  pkg/data_vault/keys/key_manager.go
  pkg/data_vault/keys/key_manager_test.go
  pkg/data_vault/service.go
  pkg/data_vault/store.go
  pkg/data_vault/types.go
Due: none

feat(app): enhance adyen payment support
  pkg/payment/adyen_adapter.go
  pkg/payment/adyen_adapter_test.go
  pkg/payment/adyen_methods.go
  pkg/payment/adyen_methods_test.go
  pkg/payment/webhooks.go
Due: none

chore: fix lint issues in tests
  x/config/keeper/keeper_test.go
  x/enclave/keeper/keeper_test.go
  x/hpc/client/cli/query.go
  x/staking/keeper/rewards_test.go
Due: x/hpc - HPC Scheduling

feat(veid): add international document adapters
  pkg/veid/documents/adapter.go
  pkg/veid/documents/adapters/defaults.go
  pkg/veid/documents/adapters/mrz_adapter.go
  pkg/veid/documents/mrz/checkdigit.go
  pkg/veid/documents/mrz/countries.go
  pkg/veid/documents/mrz/countries_test.go
  pkg/veid/documents/mrz/names.go
  pkg/veid/documents/mrz/parser.go
  pkg/veid/documents/mrz/parser_test.go
  pkg/veid/documents/nfc/reader.go
  pkg/veid/documents/ocr/detector.go
  pkg/veid/documents/ocr/languages.go
  pkg/veid/documents/registry.go
Due: none

feat(treasury): add exchange routing and custody controls
  _docs/runbooks/treasury-ops-runbook.md
  pkg/treasury/custody.go
  pkg/treasury/custody_test.go
  pkg/treasury/doc.go
  pkg/treasury/exchange.go
  pkg/treasury/exchange_test.go
  pkg/treasury/fx.go
  pkg/treasury/fx_test.go
  pkg/treasury/ledger.go
  pkg/treasury/ledger_test.go
  pkg/treasury/service.go
  pkg/treasury/types.go
  portal/src/app/admin/treasury/page.tsx
  portal/src/components/layout/Sidebar.tsx
  portal/src/stores/adminStore.ts
  portal/src/types/admin.ts
Due: none

feat(market): gate offerings on provider compliance
  app/types/marketplace_adapters.go
  x/market/types/marketplace/errors.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/msg_server.go
  x/market/types/marketplace/keeper/provider_eligibility.go
Due: x/market - Marketplace

feat(ci): add multi-workspace telegram routing
  .github/agents/Task Planner.agent.md
  _docs/ralph/slopdev-workshop-phase2.md
  scripts/codex-monitor/README.md
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/workspace-registry.json
Due: none

feat(slopes): add telegram heartbeat loop
  scripts/codex-monitor/README.md
  scripts/codex-monitor/monitor.mjs
Due: none

feat(slopes): add workspace registry routing
  scripts/codex-monitor/monitor.mjs
  scripts/shared/workspace-registry.mjs
Due: none

feat(slopes): add telegram agent command router
  scripts/codex-monitor/monitor.mjs
Due: none

feat(slopes): task planner automation + per-capita threshold
  .github/agents/Task Planner.agent.md
  scripts/codex-monitor/README.md
  scripts/codex-monitor/monitor.mjs
Due: none

docs(slopes): add multi-workspace operator guide
  _docs/operations/slopes-multi-workspace-operator-guide.md
Due: none

feat(app): add telegram background command
  scripts/telegram-bot.mjs
Due: none

feat(portal): add wallet-signed auth verification
  cmd/provider-daemon/main.go
  lib/portal/src/auth/index.ts
  lib/portal/src/auth/types.ts
  lib/portal/src/auth/wallet-sign.ts
  pkg/provider_daemon/auth/auth_test.go
  pkg/provider_daemon/auth/chain_query.go
  pkg/provider_daemon/auth/cosmos_verify.go
  pkg/provider_daemon/auth/middleware.go
  pkg/provider_daemon/auth/nonce_store.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_middleware.go
Due: pkg/provider_daemon - Provider Services

fix(slopes): allow telegram commands during runs
  scripts/codex-monitor/monitor.mjs
Due: none

fix(slopes): allow telegram status/tasks during active agent
  scripts/codex-monitor/codex-shell.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/telegram-bot.mjs
Due: none

feat(escrow): render invoice PDFs
  go.mod
  go.sum
  pkg/billing/export_test.go
  pkg/billing/pdf_generator.go
Due: none

feat(provider): add SLA monitoring alerts
  deploy/monitoring/prometheus/rules/sla.yml
  go.mod
  go.sum
  pkg/notifications/types.go
  pkg/sla/alerter.go
  pkg/sla/credit.go
  pkg/sla/credit_test.go
  pkg/sla/monitor.go
  pkg/sla/monitor_test.go
  pkg/sla/remediator.go
  pkg/sla/store/memory.go
  pkg/sla/types.go
Due: none
