Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

test(hpc): add comprehensive E2E billing and settlement tests
  tests/e2e/hpc_billing_test.go
  tests/e2e/hpc_provider_test.go
Due: none

Potential fix for code scanning alert no. 5737: Workflow does not contain permissions
  .github/workflows/portal-ci.yml
Due: none

Potential fix for code scanning alert no. 5741: Workflow does not contain permissions
  .github/workflows/portal-deploy-prod.yml
Due: none

feat(hpc): wire hpc templates cli
  cmd/virtengine/cmd/hpc/templates.go
  cmd/virtengine/cmd/root.go
Due: none

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  cmd/provider-daemon/main.go
  pkg/provider_daemon/waldur_offering_submitter.go
  sdk/proto/node/virtengine/marketplace/v1/tx.proto
Due: pkg/provider_daemon - Provider Services

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_bridge.go
  x/market/types/marketplace/codec.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/msg_server.go
  x/market/types/marketplace/msgs.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

● Quick git status $ cd "C:\Users\jonathan\AppData\Local\Temp\vibe-kanban\worktrees\42bf-test-hpc-impleme\virtengine"; git --no-pager status --short 2>&1 └ 1 line...
  _check_build.py
  _check_status.js
  _check_status.py
  run_build.bat
  run_build.ps1
  run_e2e_build.bat
  run_tasks.bat
  tests/e2e/hpc_marketplace_e2e_test.go
  tests/e2e/hpc_provider_test.go
Due: none

fix(ci): address lint errors and improve pre-push hook
  .githooks/pre-push
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/capture_protocol/server/scope_submission.go
  pkg/capture_protocol/server/upload.go
  pkg/dex/osmosis_adapter.go
  pkg/dex/service.go
  pkg/govdata/dvs_adapter_test.go
  pkg/govdata/eidas_adapter_test.go
  pkg/govdata/govdata_test.go
  pkg/payment/offramp/service.go
  pkg/payment/webhooks.go
  pkg/provider_daemon/slurm_k8s/adapter_test.go
  pkg/ratelimit/grpc_interceptor.go
  pkg/ratelimit/http_middleware.go
  pkg/ratelimit/integration.go
  pkg/ratelimit/redis_limiter_test.go
  pkg/security_monitoring/audit_log.go
  x/delegation/module.go
  x/hpc/alias.go
  x/hpc/genesis.go
  x/mfa/keeper/fido2_verify.go
  x/mfa/keeper/keeper.go
  x/mfa/keeper/msg_server.go
  x/mfa/keeper/sessions.go
  x/mfa/keeper/verification.go
  x/veid/keeper/biometric_hash_test.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/validator_sync.go
  x/veid/types/attestation_keys_test.go
  x/veid/types/attestation_nonce_test.go
Due: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(ci): handle errors in defer statements and improve randomness usage in tests
  pkg/enclave_runtime/crypto_test.go
  pkg/enclave_runtime/enclave_manager_test.go
  pkg/enclave_runtime/hardware_integration_test.go
  pkg/enclave_runtime/hardware_sev.go
  pkg/enclave_runtime/hardware_test.go
Due: none

feat(waldur): auto-create marketplace categories on localnet startup
  pkg/waldur/marketplace.go
Due: none

feat(cli): add request verification command and refactor existing commands
  sdk/go/cli/veid_query.go
  sdk/go/cli/veid_tx.go
Due: none

fix(ci): stabilize tests after rebase
  pkg/benchmark/memory_profile_test.go
  pkg/provider_daemon/hpc_scheduler_test.go
  pkg/provider_daemon/openstack_adapter_test.go
Due: pkg/provider_daemon - Provider Services

fix(cli): correct bech32 expected addresses in keys_output_test
  sdk/go/cli/keys_output_test.go
Due: none

fix: address various issues including lint errors, overflow checks, and improve error handling
  pkg/inference/tensorflow_runtime_stub.go
  pkg/verification/email/delivery.go
  pkg/verification/nonce/nonce_test.go
  pkg/verification/sms/chain_integration.go
  pkg/verification/sms/gateway.go
  sdk/go/doc.go
  sdk/go/util/jwt/es256k_test.go
  sdk/specs/doc.go
  x/config/keeper/msg_server.go
  x/encryption/crypto/ledger_test.go
  x/encryption/keeper/grpc_query.go
  x/encryption/keeper/keeper.go
  x/escrow/keeper/invoice.go
  x/fraud/types/proto_types.go
  x/hpc/keeper/msg_server.go
  x/market/types/marketplace/economics_test.go
  x/market/types/marketplace/price_discovery.go
  x/veid/types/market_integration.go
  x/veid/types/scope.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/inference - ML Inference

fix(tests): update bech32 addresses in CLI test cases
  sdk/go/cli/auth_suite_test.go
  sdk/go/cli/wasm_tx_test.go
Due: none

refactor: replace NewDefaultGenesisState with GenesisStateWithValSet for staking module compatibility
  sdk/go/cli/wasm_tx_test.go
Due: none

feat(hpc): add hpc templates shim
  cmd/virtengine/cmd/hpc/root.go
  cmd/virtengine/cmd/hpc/templates.go
  cmd/virtengine/cmd/root.go
Due: none

fix(provider): sanitize resize params and update protos
  pkg/provider_daemon/waldur_bridge.go
  sdk/go/node/marketplace/v1/tx.pb.go
Due: pkg/provider_daemon - Provider Services

fix(provider): use veid identity query
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

fix(ci): fix JWT test prefix issues and restore tierToLevel backward compat
  sdk/go/node/market/v1beta4/errors.go
  sdk/go/testdata/jwt/cases_jwt.json.tmpl
  sdk/go/util/jwt/es256k_test.go
  sdk/go/util/jwt/jwt_test.go
  sdk/specs/jwt-schema.json
  x/veid/keeper/eligibility_enhanced.go
Due: x/veid - Identity Verification

fix(ci): resolve lint warnings
  pkg/hpc_workload_library/registry.go
  pkg/workflow/redis_store.go
  x/enclave/keeper/health_test.go
  x/oracle/keeper/keeper.go
  x/provider/keeper/domain_verification_test.go
Due: none

fix(ci): tighten lint coverage
  .githooks/pre-push
  .github/workflows/ci.yaml
  pkg/workflow/redis_store.go
Due: none

ci: fetch base ref for security lint
  .github/workflows/pr-security-check.yaml
Due: none

ci: simplify PR checks
  .github/workflows/ci.yaml
  .github/workflows/conprnaming.yaml
  .github/workflows/quality-gate.yaml
  .github/workflows/wip.yaml
Due: none

style: gofmt tests
  infra/terraform/tests/eks_test.go
  infra/tests/infra_test.go
  tests/compatibility/protocol_negotiation_test.go
  tests/e2e/fixtures/test_offerings.go
  tests/e2e/hpc_marketplace_e2e_test.go
  tests/e2e/mocks/waldur_api_mock.go
  tests/e2e/provider_daemon_e2e_test.go
  tests/e2e/provider_flow_test.go
  tests/e2e/veid_e2e_test.go
  tests/e2e/veid_fixtures.go
  tests/e2e/waldur/error_scenarios_test.go
  tests/e2e/waldur/provider_flow_test.go
  tests/e2e/waldur/settlement_test.go
  tests/e2e/waldur_e2e_test.go
  tests/integration/hpc/node_agent_test.go
  tests/security/ml_verification_test.go
Due: none

ci: fix security lint args
  .github/workflows/pr-security-check.yaml
Due: none

feat(hpc): wire hpc query cli commands
  x/hpc/client/cli/query.go
  x/hpc/module.go
Due: x/hpc - HPC Scheduling

fix(hpc): clamp pagination conversions
  x/hpc/client/cli/query.go
Due: x/hpc - HPC Scheduling

fix(veid): validate SSO attestations
  x/veid/keeper/sso_verification.go
Due: x/veid - Identity Verification

fix(cli): update deployment e2e flags
  tests/e2e/deployment_cli_test.go
Due: none

feat(veid): add edugain sso on-chain linkage
  pkg/verification/sso/attestation_signer.go
  pkg/verification/sso/chain_integration.go
  pkg/verification/sso/errors.go
  pkg/verification/sso/service.go
  pkg/verification/sso/types.go
  x/veid/types/sso_verification.go
Due: x/veid - Identity Verification

test(cli): add market query aliases
  sdk/go/cli/testutil/market.go
Due: none

fix(cli): close mock app in standalone test
  sdk/go/cli/genesis_init_test.go
Due: none

fix(cli): skip empty state test on windows
  sdk/go/cli/genesis_init_test.go
Due: none

docs: add tee incident response runbook
  _docs/runbooks/tee-incident-response.md
Due: none
