Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

feat: Implement network security rate limiting and associated tests
  app/netsecurity_config.go
  app/netsecurity_firewall.go
  app/netsecurity_ids.go
  app/netsecurity_manager.go
  app/netsecurity_noise.go
  app/netsecurity_peer.go
  app/netsecurity_protection.go
  app/netsecurity_ratelimit.go
  app/netsecurity_test.go
  create_dirs.go
  create_network_security_dirs.py
Due: none

Added deterministic alignment unit test using a fixed synthetic image and landmarks; it asserts identical aligned output across repeated calls.
  ml/facial_verification/tests/test_mtcnn.py
Due: none

● Grep "HandleBorderlineFallbackCompleted" (C:\Users\jON\AppData\Local\Temp\vibe-kanban\worktrees\09 d9-events-001-imple\virtengine\x\veid\keeper\borderline.go) └ No matches found
  x/veid/keeper/events.go
  x/veid/keeper/fallback_handler.go
  x/veid/keeper/msg_server.go
  x/veid/types/events.go
Due: x/veid - Identity Verification

No AGENTS.md found in the repo, so I proceeded with the default instructions.
  app/ante.go
  app/ante_veid.go
  app/app.go
Due: none

test(provider): add E2E provider daemon workflow tests
  tests/e2e/provider_daemon_e2e_test.go
Due: none

docs: add AGENTS.md for repository guidelines and contribution instructions
  AGENTS.md
Due: none

test: add VEID onboarding integration test suite
  tests/integration/veid_onboarding_test.go
Due: none

test: add end-to-end tests for MFA gating flow
  tests/e2e/mfa_gating_test.go
Due: none

\*pctfAdapter\)" (C:\Users\jON\AppData\Local\Temp\vibe-kanban\worktrees\2d0b-govdata-002-add\virtengine\pkg\govdata) └ 42 lines found
  pkg/govdata/adapters.go
  pkg/govdata/dvs_adapter.go
  pkg/govdata/dvs_adapter_test.go
  pkg/govdata/eidas_adapter.go
  pkg/govdata/eidas_adapter_test.go
  pkg/govdata/govuk_adapter.go
  pkg/govdata/govuk_adapter_test.go
  pkg/govdata/pctf_adapter.go
  pkg/govdata/pctf_adapter_test.go
  pkg/govdata/types.go
Due: none

I've successfully implemented the feasible enclave module enhancements:
  x/enclave/keeper/abci.go
  x/enclave/keeper/committee.go
  x/enclave/keeper/keeper.go
  x/enclave/keeper/metrics.go
  x/enclave/keeper/msg_server.go
  x/enclave/keeper/rate_limit.go
  x/enclave/module.go
  x/enclave/types/errors.go
  x/enclave/types/events.go
  x/enclave/types/genesis.go
Due: none

Thank you for the clarification on domain verification! Let me first commit the current changes, then implement domain verification.
  commit.bat
  sdk/go/node/provider/v1beta4/domain_events.go
  sdk/go/node/provider/v1beta4/errors.go
  sdk/go/node/provider/v1beta4/key.go
  x/provider/keeper/domain_verification.go
  x/provider/keeper/keeper.go
  x/provider/keeper/key.go
Due: none

└ 1 file found
  HPC_PROTO_README.md
  create_dirs.go
  create_network_security_dirs.py
  hpc_genesis.proto.txt
  hpc_query.proto.txt
  hpc_tx.proto.txt
  hpc_types.proto.txt
  setup_hpc_dirs.js
  setup_hpc_proto.bat
  setup_hpc_proto.sh
Due: none

docs: enhance AGENTS.md with MCP server usage guidelines and examples
  AGENTS.md
Due: none

feat(provider): implement DNS-based domain verification
  _docs/provider-domain-verification.md
  sdk/go/node/provider/v1beta4/domain_msgs.go
  sdk/proto/node/virtengine/provider/v1beta4/event.proto
  sdk/proto/node/virtengine/provider/v1beta4/msg.proto
  sdk/proto/node/virtengine/provider/v1beta4/service.proto
  x/provider/handler/server.go
  x/provider/keeper/domain_verification.go
  x/provider/keeper/domain_verification_test.go
Due: none

feat(cli): add enclave module CLI commands
  sdk/go/cli/enclave_query.go
  sdk/go/cli/enclave_tx.go
  sdk/go/cli/query.go
  sdk/go/cli/tx.go
  sdk/go/node/enclave/v1/errors.go
  sdk/go/node/enclave/v1/identity.go
  sdk/go/node/enclave/v1/msgs.go
  sdk/go/node/enclave/v1/query.go
  sdk/go/node/enclave/v1/types.go
Due: none

feat(enclave): enhance signature verification with security hardening
  x/enclave/keeper/abci.go
  x/enclave/keeper/keeper.go
  x/enclave/keeper/metrics.go
  x/enclave/keeper/signature_verification_test.go
Due: none

feat(enclave): add protobuf definitions for enclave module
  go.mod
  go.sum
  sdk/buf.yaml
  sdk/go/node/enclave/v1/events.pb.go
  sdk/go/node/enclave/v1/genesis.pb.go
  sdk/go/node/enclave/v1/query.pb.go
  sdk/go/node/enclave/v1/query.pb.gw.go
  sdk/go/node/enclave/v1/tx.pb.go
  sdk/go/node/enclave/v1/types.pb.go
  sdk/proto/node/virtengine/enclave/v1/events.proto
  sdk/proto/node/virtengine/enclave/v1/genesis.proto
  sdk/proto/node/virtengine/enclave/v1/query.proto
  sdk/proto/node/virtengine/enclave/v1/tx.proto
  sdk/proto/node/virtengine/enclave/v1/types.proto
  x/enclave/genesis.go
  x/enclave/genesis_test.go
  x/enclave/keeper/abci.go
  x/enclave/keeper/grpc_query.go
  x/enclave/keeper/keeper.go
  x/enclave/keeper/metrics.go
  x/enclave/keeper/msg_server.go
  x/enclave/module.go
  x/enclave/types/attested_result.go
  x/enclave/types/codec.go
  x/enclave/types/enclave_identity.go
  x/enclave/types/genesis.go
  x/enclave/types/msgs.go
  x/enclave/types/proto_stub.go
  x/enclave/types/query.go
  x/enclave/types/server.go
  x/enclave/types/types_alias.go
Due: none

● Grep "func.*BeginBlock.*sdk.Context" (C:\Users\jON\AppData\Local\Temp\vibe-kanban\worktrees\6da3-enclave-enh-001\virtengine\x) └ 6 lines found
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/errors.go
  vendor/github.com/virtengine/virtengine/sdk/go/node/provider/v1beta4/key.go
Due: none

Update documentation and configuration for VirtEngine migration and deployment
  SECURITY_SCOPE.md
  _docs/tee-deployment-guide.md
  _docs/tee-migration-plan.md
  pkg/edugain/config.go
  pkg/payment/stripe_adapter_test.go
  pkg/provider_daemon/playbooks/deploy_portal.yaml
  pkg/provider_daemon/playbooks/deploy_provider_daemon.yaml
  pkg/provider_daemon/playbooks/deploy_virtengine_node.yaml
  pkg/provider_daemon/playbooks/inventory.example.ini
  sdk/docs/cli-migration.md
  sdk/ts/README.md
  sdk/ts/src/sdl/SDL/SDL.spec.ts
  x/veid/types/verifiable_credential.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

feat(enclave): implement health monitoring system with heartbeats
  ENCLAVE-ENH-006-IMPLEMENTATION.md
  sdk/go/node/enclave/v1/query.go
  x/enclave/keeper/grpc_query.go
  x/enclave/keeper/health.go
  x/enclave/keeper/health_test.go
  x/enclave/keeper/heartbeat.go
  x/enclave/keeper/metrics.go
  x/enclave/keeper/msg_server.go
  x/enclave/types/codec.go
  x/enclave/types/errors.go
  x/enclave/types/events.go
  x/enclave/types/genesis.go
  x/enclave/types/health.go
  x/enclave/types/keys.go
  x/enclave/types/msgs.go
Due: none

feat(enclave): add IBC support for cross-chain enclave federation
  x/enclave/ibc/errors.go
  x/enclave/ibc/events.go
  x/enclave/ibc/handler.go
  x/enclave/ibc/keeper.go
  x/enclave/ibc/keeper_test.go
  x/enclave/ibc/keys.go
  x/enclave/ibc/module.go
  x/enclave/ibc/types.go
  x/enclave/keeper/metrics.go
Due: none

vet -composites=false ./x/market/keeper/external.go 2>&1 | Select-Object -First 20 └ 23 lines...
  x/market/keeper/external.go
  x/market/keeper/keeper.go
  x/market/keeper/veid_gating.go
  x/market/keeper/veid_gating_test.go
Due: x/market - Marketplace

Excellent! All tests pass. Let me create a summary document of what was implemented:
  pkg/enclave_runtime/real_enclave.go
  pkg/enclave_runtime/real_enclave_test.go
Due: none

### Files Created:
  x/mfa/keeper/verification.go
  x/mfa/keeper/verification_test.go
Due: x/mfa - Multi-Factor Auth

im\virtengine\x\veid\types) └ 1 line found
  x/veid/keeper/composite_scoring.go
  x/veid/keeper/composite_scoring_test.go
  x/veid/types/composite_scoring.go
  x/veid/types/composite_scoring_test.go
Due: x/veid - Identity Verification

● List directory x\mfa └ 12 files found
  x/mfa/keeper/keeper.go
  x/mfa/keeper/sessions.go
  x/mfa/keeper/sessions_test.go
Due: x/mfa - Multi-Factor Auth

- `WithWallets` iterator
  x/veid/keeper/keeper.go
  x/veid/keeper/wallet.go
  x/veid/types/identity_wallet.go
  x/veid/types/identity_wallet_test.go
Due: x/veid - Identity Verification

└ 2 lines found
  x/veid/keeper/tier_transitions.go
  x/veid/keeper/tier_transitions_test.go
Due: x/veid - Identity Verification

● List directory . └ 90 files found
  lib/portal/ACCESSIBILITY.md
  lib/portal/__tests__/a11y.test.ts
  lib/portal/components/accessible/index.tsx
  lib/portal/components/hpc/JobSubmissionForm.tsx
  lib/portal/components/identity/IdentityScoreDisplay.tsx
  lib/portal/components/identity/IdentityStatusCard.tsx
  lib/portal/components/marketplace/OfferingCard.tsx
  lib/portal/components/mfa/MFAEnrollmentWizard.tsx
  lib/portal/index.ts
  lib/portal/package-lock.json
  lib/portal/package.json
  lib/portal/scripts/a11y-lint.js
  lib/portal/utils/a11y-testing.ts
  lib/portal/utils/a11y.ts
  lib/portal/vitest.config.ts
Due: none

feat(mfa): enforce sensitive transaction gating
  app/ante_mfa.go
  x/mfa/types/sensitive_tx.go
Due: x/mfa - Multi-Factor Auth

fix(consensus): use ctx.BlockTime() instead of time.Now() for determinism
  x/mfa/keeper/fido2_verify.go
  x/mfa/keeper/msg_server.go
  x/review/keeper/keeper.go
  x/review/keeper/keeper_test.go
  x/review/types/aggregation.go
Due: x/mfa - Multi-Factor Auth

feat(veid): implement data retention and archival infrastructure (DATA-001)
  _docs/data-archival-guide.md
  _docs/data-retention-policy.md
  go.mod
  pkg/artifact_store/archive_backend.go
  pkg/artifact_store/archive_types.go
  pkg/artifact_store/errors.go
  pkg/artifact_store/filesystem_archive_backend.go
  x/veid/types/archival.go
  x/veid/types/keys.go
Due: x/veid - Identity Verification

● List directory . └ 90 files found
  docs/tokenomics-analysis.md
  pkg/economics/analysis/analysis_test.go
  pkg/economics/analysis/attack_cost.go
  pkg/economics/analysis/distribution.go
  pkg/economics/analysis/doc.go
  pkg/economics/analysis/game_theory.go
  pkg/economics/audit/audit_test.go
  pkg/economics/audit/auditor.go
  pkg/economics/audit/doc.go
  pkg/economics/doc.go
  pkg/economics/simulation/doc.go
  pkg/economics/simulation/fee_market.go
  pkg/economics/simulation/inflation.go
  pkg/economics/simulation/simulation_test.go
  pkg/economics/simulation/staking.go
  pkg/economics/types.go
Due: none

These build errors are in existing code (sdk/go/node), not in our new marketplace economics code. Let me verify just the marketplace package builds correctly:
  x/market/types/marketplace/economics.go
  x/market/types/marketplace/economics_test.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/incentives.go
  x/market/types/marketplace/liquidity.go
  x/market/types/marketplace/metrics.go
  x/market/types/marketplace/price_discovery.go
  x/market/types/marketplace/safeguards.go
Due: x/market - Marketplace

2. **Add error metrics** to high-traffic endpoints 3. **Migrate 2-3 reference modules** (nli, mfa, provider_daemon) 4. **Deploy monitoring** (alerts, dashboards)
  ERROR_CODE_POLICY.md
  REFACTOR-002-COMPLETE.md
  REFACTOR-002-SUMMARY.txt
  _docs/ERROR_HANDLING.md
  deploy/monitoring/alerts/errors.yml
  docs/api/ERROR_HANDLING.md
  docs/errors/ERROR_CATALOG.md
  docs/errors/MIGRATION.md
  go.mod
  pkg/errors/codes.go
  pkg/errors/errors_test.go
  pkg/errors/metrics.go
  pkg/errors/recovery.go
  pkg/errors/sentinel.go
  pkg/errors/types.go
  pkg/errors/wrap.go
Due: none

└ 85 lines read
  pkg/pruning/README.md
  pkg/pruning/disk_monitor.go
  pkg/pruning/disk_monitor_test.go
  pkg/pruning/manager.go
  pkg/pruning/manager_test.go
  pkg/pruning/metrics.go
  pkg/pruning/metrics_test.go
  pkg/pruning/snapshot_manager.go
  pkg/pruning/snapshot_manager_test.go
  pkg/pruning/state_manager.go
  pkg/pruning/state_manager_test.go
  pkg/pruning/types.go
  pkg/pruning/types_test.go
Due: none

● Edit x\veid\keeper\msg_server_test.go (+2 -35)
  go.mod
  sdk/go/node/veid/v1/borderline_msgs.go
  sdk/go/node/veid/v1/compliance_msgs.go
  sdk/go/node/veid/v1/model_msgs.go
  sdk/go/node/veid/v1/wallet_msgs.go
  x/veid/keeper/appeal.go
  x/veid/keeper/appeal_test.go
  x/veid/keeper/borderline.go
  x/veid/keeper/borderline_handler.go
  x/veid/keeper/borderline_test.go
  x/veid/keeper/fallback_handler.go
  x/veid/keeper/msg_appeal.go
  x/veid/keeper/msg_server.go
  x/veid/keeper/msg_server_test.go
  x/veid/types/borderline.go
  x/veid/types/borderline_msgs.go
  x/veid/types/errors_compliance.go
  x/veid/types/errors_model.go
  x/veid/types/msgs_model.go
  x/veid/types/proto_stub.go
  x/veid/types/proto_types.go
Due: x/veid - Identity Verification

I'll complete the full migration across ALL modules. Let me start systematically with panic recovery in critical services, then migrate each module.
  REFACTOR-002-FINAL-REPORT.md
  REFACTOR-002-MIGRATION-STATUS.md
  pkg/provider_daemon/audit.go
  pkg/provider_daemon/bid_engine.go
  pkg/provider_daemon/compromise.go
  pkg/provider_daemon/usage_meter.go
  pkg/workflow/engine.go
  scripts/migrate-errors.sh
Due: pkg/provider_daemon - Provider Services

docs(sre): implement comprehensive incident response procedures (OPS-001)
  docs/sre/COMMUNICATION_TEMPLATES.md
  docs/sre/ESCALATION_PROCEDURES.md
  docs/sre/INCIDENT_DRILLS.md
  docs/sre/INCIDENT_METRICS.md
  docs/sre/ON_CALL_ROTATION.md
  docs/sre/OPS-001-IMPLEMENTATION-SUMMARY.md
  docs/sre/README.md
Due: none

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
