Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001 + INFRA-003: Code Coverage Configuration
# Target: 80% minimum (enforced), 90%+ aspirational for unit tests
# Updated with stricter enforcement for CI/CD hardening
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
  # INFRA-003: Strict CI integration
  ci:
    - "github-actions"

# INFRA-003: GitHub Checks integration for required status checks
github_checks:
  annotations: true

coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # INFRA-003: Minimum 80% coverage enforced (fail CI if below)
        target: 80%
        threshold: 2%
        if_not_found: error  # Changed from success to enforce coverage
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
        # INFRA-003: Require informational comment even if passing
        informational: false
      # Aspirational target for overall project
      aspirational:
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        informational: true  # Don't fail, just report
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 85%  # Stricter for blockchain modules
        threshold: 1%
        if_not_found: error
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 80%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # INFRA-003: All new code must have 80% minimum coverage
        target: 80%
        if_not_found: success
        only_pulls: true
        # New code should not reduce coverage
        threshold: 0%
      # Aspirational patch coverage
      aspirational:
        target: 90%
        if_not_found: success
        only_pulls: true
        informational: true
      # Critical modules require 90% patch coverage (enforced)
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 90%
        if_not_found: success
        # INFRA-003: Critical security code must meet coverage
        informational: false
    changes:
      default:
        # Track changes to ensure coverage trends
        target: auto
        threshold: 5%
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

fix(slurm): make ssh test helper hermetic; fix incident responder data race
  pkg/security_monitoring/coverage_extra_test.go
  pkg/security_monitoring/incident_response.go
  pkg/slurm_adapter/coverage_extra_test.go
Due: none

test(portal): close the third checkout digest race and pin it with a probe (#1007)
  lib/portal/__tests__/marketplace/checkout-flow.test.tsx
Due: none

fix(release): clear residual stale virtengine-network references
  _build/Dockerfile.veid-pipeline
  _build/Dockerfile.virtengine
  deploy/veid-inference/Dockerfile
  infra/argocd/projects/virtengine-project.yaml
  infra/terraform/tests/go.mod
  make/test-upgrade.mk
  script/upgrades.sh
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
Due: none

fix(slurm): make ssh test helper hermetic; fix incident responder data race (#1008)
  pkg/security_monitoring/coverage_extra_test.go
  pkg/security_monitoring/incident_response.go
  pkg/slurm_adapter/coverage_extra_test.go
Due: none

fix(release): clear residual stale virtengine-network references (#1009)
  _build/Dockerfile.veid-pipeline
  _build/Dockerfile.virtengine
  deploy/veid-inference/Dockerfile
  infra/argocd/projects/virtengine-project.yaml
  infra/terraform/tests/go.mod
  make/test-upgrade.mk
  script/upgrades.sh
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
Due: none

ci: exclude _test.go files from API version check removed-symbol scan
  .github/workflows/compatibility.yaml
Due: none

ci: exclude _test.go files from API version check removed-symbol scan (#1010)
  .github/workflows/compatibility.yaml
Due: none

docs(sdk): remove 8 verified falsehoods across the SDK documentation surface
  sdk/.github/pull_request_template.md
  sdk/README.md
  sdk/python/README.md
  sdk/python/docs/getting-started.md
  sdk/python/pyproject.toml
  sdk/rust/Cargo.toml
  sdk/rust/README.md
  sdk/rust/docs/getting-started.md
  sdk/ts/README.md
Due: none

fix(slurm): stop cleanup goroutine racing with Disconnect on poolClose
  pkg/slurm_adapter/ssh_client.go
  pkg/slurm_adapter/ssh_fakeserver_test.go
Due: none

fix(slurm): stop cleanup goroutine racing with Disconnect on poolClose (#1011)
  pkg/slurm_adapter/ssh_client.go
  pkg/slurm_adapter/ssh_fakeserver_test.go
Due: none

docs(sdk): remove 8 verified falsehoods across the SDK documentation surface (#1012)
  sdk/.github/pull_request_template.md
  sdk/README.md
  sdk/python/README.md
  sdk/python/docs/getting-started.md
  sdk/python/pyproject.toml
  sdk/rust/Cargo.toml
  sdk/rust/README.md
  sdk/rust/docs/getting-started.md
  sdk/ts/README.md
Due: none

fix(ci): clear the lint and errcheck reds on the develop -> main integration PR
  .golangci.yaml
  pkg/slurm_adapter/coverage_extra_test.go
  pkg/slurm_adapter/ssh_fakeserver_test.go
  x/enclave/keeper/signature_equivalence_test.go
  x/fraud/types/fraud_report.go
  x/fraud/types/keys.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/keeper/waldur.go
  x/market/types/marketplace/waldur_command.go
  x/market/types/marketplace/waldur_ingest.go
  x/roles/keeper/sanction.go
Due: x/market - Marketplace, x/fraud - Fraud Detection

fix(ci): clear the lint and errcheck reds on the develop -> main integration PR (#1013)
  .golangci.yaml
  pkg/slurm_adapter/coverage_extra_test.go
  pkg/slurm_adapter/ssh_fakeserver_test.go
  x/enclave/keeper/signature_equivalence_test.go
  x/fraud/types/fraud_report.go
  x/fraud/types/keys.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/keeper/waldur.go
  x/market/types/marketplace/waldur_command.go
  x/market/types/marketplace/waldur_ingest.go
  x/roles/keeper/sanction.go
Due: x/market - Marketplace, x/fraud - Fraud Detection

fix(lint): clear the last two findings the lint gate reported
  pkg/slurm_adapter/ssh_fakeserver_test.go
  x/market/types/marketplace/keeper/waldur.go
Due: x/market - Marketplace

fix(lint): clear the last two findings the lint gate reported (#1014)
  pkg/slurm_adapter/ssh_fakeserver_test.go
  x/market/types/marketplace/keeper/waldur.go
Due: x/market - Marketplace

fix(deps): bump klauspost/compress and shamaton/msgpack for two advisories
  go.mod
  go.sum
Due: none

fix(deps): bump klauspost/compress and shamaton/msgpack for two advisories (#1015)
  go.mod
  go.sum
Due: none

fix(test): make the dead-letter test's broadcast failure non-positional
  pkg/provider_daemon/provider_mutation_test.go
Due: pkg/provider_daemon - Provider Services

fix(test): make the dead-letter test's broadcast failure non-positional (#1016)
  pkg/provider_daemon/provider_mutation_test.go
Due: pkg/provider_daemon - Provider Services

fix(deps): tidy sdk/go after the klauspost/compress and shamaton/msgpack bumps
  sdk/go/go.mod
  sdk/go/go.sum
Due: none

fix(deps): tidy sdk/go after the klauspost/compress and shamaton/msgpack bumps (#1017)
  sdk/go/go.mod
  sdk/go/go.sum
Due: none

ci(actions): close the last 2 node20 pins and add a gate that proves it
  .github/scripts/audit_node_runtime.py
  .github/scripts/falsify_audit_node_runtime.py
  .github/scripts/test_audit_node_runtime.py
  .github/workflows/ci.yaml
  .github/workflows/portal-deploy-pages.yaml
  .github/workflows/portal-deploy-prod.yaml
Due: none

ci(actions): close the last 2 node20 pins and add a gate that proves it (#1018)
  .github/scripts/audit_node_runtime.py
  .github/scripts/falsify_audit_node_runtime.py
  .github/scripts/test_audit_node_runtime.py
  .github/workflows/ci.yaml
  .github/workflows/portal-deploy-pages.yaml
  .github/workflows/portal-deploy-prod.yaml
Due: none

ci(actions): pass GH_TOKEN to the node-runtime audit, and refuse blind up front
  .github/scripts/audit_node_runtime.py
  .github/scripts/falsify_audit_node_runtime.py
  .github/scripts/test_audit_node_runtime.py
  .github/workflows/ci.yaml
Due: none

ci(actions): pass GH_TOKEN to the node-runtime audit, and refuse blind up front (#1019)
  .github/scripts/audit_node_runtime.py
  .github/scripts/falsify_audit_node_runtime.py
  .github/scripts/test_audit_node_runtime.py
  .github/workflows/ci.yaml
Due: none

ci(actions): classify and retry upstream reads so the audit stops false-red
  .github/scripts/audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

ci(actions): classify and retry upstream reads so the audit stops false-red (#1020)
  .github/scripts/audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

fix(deps): prune stale go.sum entries so go mod tidy is a no-op
  go.sum
Due: none

fix(deps): prune stale go.sum entries so go mod tidy is a no-op (#1021)
  go.sum
Due: none

ci(actions): never report an unreadable action as "no such manifest"
  .github/scripts/audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

ci(actions): never report an unreadable action as 'no such manifest' (#1022)
  .github/scripts/audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

fix(ci): gofmt the three unformatted files that fail the Lint gate
  pkg/security/path_test.go
  testutil/network_suite.go
  x/fraud/keeper/keeper.go
Due: x/fraud - Fraud Detection

fix(ci): gofmt the three unformatted files that fail the Lint gate (#1024)
  pkg/security/path_test.go
  testutil/network_suite.go
  x/fraud/keeper/keeper.go
Due: x/fraud - Fraud Detection

fix(ci): retry a 403 on a public action manifest anonymously
  .github/scripts/audit_node_runtime.py
  .github/scripts/falsify_audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

fix(ci): retry a 403 on a public action manifest anonymously (#1026)
  .github/scripts/audit_node_runtime.py
  .github/scripts/falsify_audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

fix(ci): read the anonymous retry over HTTPS, not through gh
  .github/scripts/audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none

fix(ci): read the anonymous retry over HTTPS, not through gh (#1027)
  .github/scripts/audit_node_runtime.py
  .github/scripts/test_audit_error_class.py
Due: none
