Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(ci): resolve lint warnings
  x/oracle/keeper/keeper.go
Due: none

fix(ci): fix JWT test prefix issues and restore tierToLevel backward compat
  sdk/go/util/jwt/es256k_test.go
  x/veid/keeper/eligibility_enhanced.go
Due: x/veid - Identity Verification

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_bridge.go
Due: pkg/provider_daemon - Provider Services

fix(ci): resolve all golangci-lint errors
  pkg/provider_daemon/waldur_callbacks.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(ci): resolve lint errors in artifact_store and enclave_runtime packages
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/moab_adapter/adapter_test.go
  x/veid/keeper/scoring_model_test.go
Due: x/veid - Identity Verification

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  infra/terraform/tests/go.sum
Due: none

fix: address various issues including lint errors, overflow checks, and improve error handling
  x/encryption/keeper/grpc_query.go
Due: x/encryption - Cryptography

fix(ci): fix errcheck, errchkjson, and gofmt lint errors
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/provider_daemon/waldur_callbacks.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  pkg/moab_adapter/adapter_test.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/provider_daemon/waldur_callbacks.go
  x/encryption/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, pkg/provider_daemon - Provider Services

fix(ci): resolve errcheck and gocritic lint errors
  sdk/go/util/jwt/es256k_test.go
Due: none

fix(ci): address lint errors and improve pre-push hook
  .githooks/pre-push
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(provider): normalize waldur lifecycle actions
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

chore(ci): include terraform tests in workspace
  infra/terraform/tests/go.mod
  infra/terraform/tests/go.sum
Due: none

style(sdk): gofmt jwt tests
  sdk/go/util/jwt/es256k_test.go
Due: none

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  pkg/moab_adapter/adapter_test.go
  pkg/provider_daemon/waldur_callbacks.go
  x/encryption/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, pkg/provider_daemon - Provider Services

fix(ci): resolve all golangci-lint errors
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification

test(ci): update infra test helpers
  cmd/virtengine/cmd/hpc/templates.go
  infra/tests/aws_helpers_test.go
Due: none

fix(ci): resolve lint errors in artifact_store and enclave_runtime packages
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
Due: none

test(ci): remove unused infra helper
  infra/tests/aws_helpers_test.go
Due: none

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  pkg/provider_daemon/waldur_bridge.go
  pkg/verification/signer/signer.go
  pkg/verification/sms/providers.go
  pkg/verification/sms/voip_detector.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(provider): normalize waldur lifecycle actions
  infra/terraform/tests/go.sum
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

fix(ci): address lint errors and improve pre-push hook
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

fix(ci): resolve errcheck and gocritic lint errors
  pkg/verification/sms/voip_detector.go
Due: none

fix(ci): address lint errors and improve pre-push hook
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(ci): fix errcheck, errchkjson, and gofmt lint errors
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/hpc_workload_library/batch_script.go
  pkg/verification/signer/signer.go
  pkg/verification/sms/providers.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(hpc): add template import for batch scripts
  pkg/hpc_workload_library/batch_script.go
Due: none

test(ci): update infra test helpers
  infra/tests/aws_helpers_test.go
Due: none

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
