Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001 + INFRA-003: Code Coverage Configuration
# Target: 80% minimum (enforced), 90%+ aspirational for unit tests
# Updated with stricter enforcement for CI/CD hardening
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
  # INFRA-003: Strict CI integration
  ci:
    - "github-actions"

# INFRA-003: GitHub Checks integration for required status checks
github_checks:
  annotations: true

coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # INFRA-003: Minimum 80% coverage enforced (fail CI if below)
        target: 80%
        threshold: 2%
        if_not_found: error  # Changed from success to enforce coverage
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
        # INFRA-003: Require informational comment even if passing
        informational: false
      # Aspirational target for overall project
      aspirational:
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        informational: true  # Don't fail, just report
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 85%  # Stricter for blockchain modules
        threshold: 1%
        if_not_found: error
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 80%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # INFRA-003: All new code must have 80% minimum coverage
        target: 80%
        if_not_found: success
        only_pulls: true
        # New code should not reduce coverage
        threshold: 0%
      # Aspirational patch coverage
      aspirational:
        target: 90%
        if_not_found: success
        only_pulls: true
        informational: true
      # Critical modules require 90% patch coverage (enforced)
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 90%
        if_not_found: success
        # INFRA-003: Critical security code must meet coverage
        informational: false
    changes:
      default:
        # Track changes to ensure coverage trends
        target: auto
        threshold: 5%
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

docs(security): accept residual risk for GO-2026-5932 (x/crypto/openpgp, no fix)
  .vulnerability-allowlist.yaml
  docs/security/GO-2026-5932-OPENPGP-ASSESSMENT.md
Due: none

docs(security): accept residual risk for GO-2026-5932 (x/crypto/openpgp, no fix) (#955)
  .vulnerability-allowlist.yaml
  docs/security/GO-2026-5932-OPENPGP-ASSESSMENT.md
Due: none

docs(security): finalize GO-2026-4740 residual-risk acceptance (secops re-verified)
  .vulnerability-allowlist.yaml
  docs/security/GO-2026-4740-MSGPACK-ASSESSMENT.md
Due: none

fix(veid): enforce privacy retention — wipe decrypted plaintext, schedule expiry/erasure sweep
  x/veid/keeper/decryption.go
  x/veid/keeper/evidence_pipeline.go
  x/veid/keeper/inference_receipt.go
  x/veid/keeper/privacy_retention_test.go
  x/veid/keeper/proposer_hook.go
  x/veid/module.go
Due: x/veid - Identity Verification

fix(ci): align the Go replace allowlist with the audited ledger forks
  scripts/supply-chain/go-module-policy.json
Due: none

fix(ci): align the Go replace allowlist with the audited ledger forks (#958)
  scripts/supply-chain/go-module-policy.json
Due: none

feat(x/market): pair VEID with escrow milestones for hardware/compute orders
  x/market/types/marketplace/attestation.go
  x/market/types/marketplace/errors.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/milestone_dispute.go
  x/market/types/marketplace/keeper/milestones.go
  x/market/types/marketplace/keeper/milestones_test.go
  x/market/types/marketplace/milestone_state.go
  x/market/types/marketplace/milestones.go
  x/market/types/marketplace/offering.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/settlement_gate.go
Due: x/market - Marketplace

feat(x/market): pair VEID with escrow milestones for hardware/compute orders (#959)
  x/market/types/marketplace/attestation.go
  x/market/types/marketplace/errors.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/milestone_dispute.go
  x/market/types/marketplace/keeper/milestones.go
  x/market/types/marketplace/keeper/milestones_test.go
  x/market/types/marketplace/milestone_state.go
  x/market/types/marketplace/milestones.go
  x/market/types/marketplace/offering.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/settlement_gate.go
Due: x/market - Marketplace

fix(ci): regenerate the protobuf inventory after the ledger repoint
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
Due: none

fix(ci): regenerate the protobuf inventory after the ledger repoint (#960)
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
Due: none

ci(ml): run ML determinism on the repo's Python 3.11, not a stray 3.10 pin
  .github/workflows/ml-determinism.yaml
Due: none

ci(ml): run ML determinism on the repo's Python 3.11, not a stray 3.10 pin (#961)
  .github/workflows/ml-determinism.yaml
Due: none

fix(veid): enforce privacy retention — wipe decrypted plaintext, schedule expiry/erasure sweep (#957)
  x/veid/keeper/decryption.go
  x/veid/keeper/evidence_pipeline.go
  x/veid/keeper/inference_receipt.go
  x/veid/keeper/privacy_retention_test.go
  x/veid/keeper/proposer_hook.go
  x/veid/module.go
Due: x/veid - Identity Verification

docs(security): finalize GO-2026-4740 residual-risk acceptance (secops re-verified) (#956)
  .vulnerability-allowlist.yaml
  docs/security/GO-2026-4740-MSGPACK-ASSESSMENT.md
Due: none

test(hpc): gate live kind/helm SLURM deploy behind VE_SLURM_KIND_E2E
  tests/integration/hpc/slurm_k8s_test.go
Due: none

test(hpc): gate live kind/helm SLURM deploy behind VE_SLURM_KIND_E2E (#962)
  tests/integration/hpc/slurm_k8s_test.go
Due: none

test(veid): cover the ZK proof primitives in x/veid/types/proof_types.go
  x/veid/types/proof_types_test.go
Due: x/veid - Identity Verification

test(veid): cover the ZK proof primitives in x/veid/types/proof_types.go (#963)
  x/veid/types/proof_types_test.go
Due: x/veid - Identity Verification

fix(sdk): keep sdk/ts suites green under ESM-only faker 10
  sdk/ts/jest.config.ts
  sdk/ts/test/helpers/generateMessage.ts
  sdk/ts/test/jest-faker-transform.cjs
Due: none

fix(sdk): keep sdk/ts suites green under ESM-only faker 10 (#964)
  sdk/ts/jest.config.ts
  sdk/ts/test/helpers/generateMessage.ts
  sdk/ts/test/jest-faker-transform.cjs
Due: none

test(veid): drive the e2e marketplace gating assertion through CheckIdentityGating
  tests/e2e/veid_e2e_test.go
Due: none

test(veid): drive the e2e marketplace gating assertion through CheckIdentityGating (#965)
  tests/e2e/veid_e2e_test.go
Due: none

ci(compat): run proto breaking check through the sdk buf module
  .github/workflows/compatibility.yaml
Due: none

ci(compat): run proto breaking check through the sdk buf module (#966)
  .github/workflows/compatibility.yaml
Due: none

ci(deps): migrate remaining workflows off Node-20 actions to Node-24-native majors
  .github/AGENTS.md
  .github/actions/deploy-region/action.yaml
  .github/actions/setup-macos/action.yaml
  .github/actions/setup-ubuntu/action.yaml
  .github/workflows/api-spec.yaml
  .github/workflows/audit-remediation.yaml
  .github/workflows/bosun-pr-attach.yaml
  .github/workflows/changelog.yaml
  .github/workflows/chaos-test.yaml
  .github/workflows/ci.yaml
  .github/workflows/compatibility.yaml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/dispatch.yaml
  .github/workflows/dr-failover-test.yaml
  .github/workflows/dr-tools-image.yaml
  .github/workflows/fuzz.yaml
  .github/workflows/infrastructure.yaml
  .github/workflows/labeler.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/load-test.yaml
  .github/workflows/ml-determinism.yaml
  .github/workflows/ml-model-verify.yaml
  .github/workflows/multi-region-deploy.yaml
  .github/workflows/portal-ci.yaml
  .github/workflows/portal-deploy-pages.yaml
  .github/workflows/portal-deploy-prod.yaml
  .github/workflows/pr-security-check.yaml
  .github/workflows/pr-shepherd.yaml
  .github/workflows/proto-generation.yaml
  .github/workflows/quality-gate.yaml
  .github/workflows/release.yaml
  .github/workflows/sdk-publish.yaml
  .github/workflows/security.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/staging-e2e.yaml
  .github/workflows/stale.yaml
  .github/workflows/standardize-yaml.yaml
  .github/workflows/supply-chain.yaml
  .github/workflows/veid-conformance.yaml
  .github/workflows/veid-e2e.yaml
Due: none

fix(inference): pin canonical feature schema to LF so the Windows checkout digest matches
  .gitattributes
  pkg/inference/line_ending_integrity_test.go
Due: pkg/inference - ML Inference

fix(inference): pin canonical feature schema to LF so the Windows checkout digest matches (#968)
  .gitattributes
  pkg/inference/line_ending_integrity_test.go
Due: pkg/inference - ML Inference

docs(veid): correct identity-linked token supply policy
  _docs/tokenomics-report.md
  docs/tokenomics-analysis.md
Due: none

feat(market): wire Msg and Query handlers for unified resolution
  api/openapi/virtengine-proto.swagger.json
  sdk/go/node/marketplace/v1/tx.pb.go
  sdk/proto/node/virtengine/marketplace/v1/tx.proto
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/tx.ts
  x/market/types/marketplace/codec.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/keeper/adr010_handlers_test.go
  x/market/types/marketplace/keeper/convert.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/msg_server.go
  x/market/types/marketplace/keeper/query_server.go
  x/market/types/marketplace/keeper/waldur.go
  x/market/types/marketplace/msgs.go
  x/marketplace/module_test.go
Due: x/market - Marketplace

feat(market): unified two-style market resolution with Waldur-backed supply
  README.md
  _docs/INDEX.md
  _docs/adr/ADR-010-unified-market-resolution-and-waldur-supply.md
  _docs/architecture/unified-market-waldur-design.md
  api/openapi/virtengine-proto.swagger.json
  docs/acquisition-pathways.md
  docs/api/README.md
  docs/api/reference/market.md
  sdk/proto/node/virtengine/marketplace/v1/query.proto
  sdk/proto/node/virtengine/marketplace/v1/tx.proto
  sdk/proto/node/virtengine/marketplace/v1/types.proto
  sdk/ts/src/generated/createNodeSDK.ts
  sdk/ts/src/generated/protos/index.virtengine.v1.ts
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/query.ts
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/query_virtengine.ts
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/tx.ts
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/tx_virtengine.ts
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/types.ts
  x/market/types/marketplace/allocation.go
  x/market/types/marketplace/genesis.go
  x/market/types/marketplace/genesis_waldur_test.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/resolution.go
  x/market/types/marketplace/keeper/resolution_keeper_test.go
  x/market/types/marketplace/keeper/waldur.go
  x/market/types/marketplace/keeper/waldur_keeper_test.go
  x/market/types/marketplace/offering.go
  x/market/types/marketplace/offering_source.go
  x/market/types/marketplace/offering_source_test.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/resolution.go
  x/market/types/marketplace/resolution_test.go
  x/market/types/marketplace/waldur_command.go
  x/market/types/marketplace/waldur_ingest.go
  x/marketplace/genesis.go
  x/marketplace/module.go
Due: x/market - Marketplace

feat(market): commit regenerated marketplace Go protobuf bindings
  sdk/go/node/marketplace/v1/query.pb.go
  sdk/go/node/marketplace/v1/query.pb.gw.go
  sdk/go/node/marketplace/v1/types.pb.go
Due: none

docs(market): record completed ADR-010 implementation status
  _docs/adr/ADR-010-unified-market-resolution-and-waldur-supply.md
  _docs/architecture/unified-market-waldur-design.md
Due: none

feat(market): wire capacity, daemon ingest/commands, v1.9.0 enablement
  api/openapi/virtengine-proto.swagger.json
  app/types/app.go
  app/types/marketplace_capacity.go
  app/types/marketplace_capacity_test.go
  cmd/provider-daemon/main.go
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/provider_mutation.go
  pkg/provider_daemon/provider_mutation_test.go
  pkg/provider_daemon/waldur_adr010_test.go
  pkg/provider_daemon/waldur_command_poller.go
  pkg/provider_daemon/waldur_ingest_worker.go
  pkg/provider_daemon/waldur_snapshot_ingest.go
  sdk/go/node/marketplace/v1/msgs.go
  sdk/go/node/marketplace/v1/query.pb.go
  sdk/proto/node/virtengine/marketplace/v1/query.proto
  sdk/ts/src/generated/protos/virtengine/marketplace/v1/query.ts
  upgrades/software/v1.9.0/init.go
  upgrades/software/v1.9.0/upgrade.go
  upgrades/software/v1.9.0/upgrade_test.go
  upgrades/types/types.go
  upgrades/upgrades.go
  upgrades/upgrades_test.go
  x/market/types/marketplace/keeper/adr010_handlers_test.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/query_server.go
  x/market/types/marketplace/keeper/resolution.go
  x/market/types/marketplace/offering_source_test.go
  x/market/types/marketplace/resolution.go
  x/market/types/marketplace/resolution_test.go
  x/marketplace/module_test.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

fix(market): pass keeper pointer for IKeeper conformance in ingest
  x/market/types/marketplace/keeper/waldur.go
Due: x/market - Marketplace

ci(deps): bump codecov-action v5->v6 to clear transitive node20 github-script
  .github/workflows/ci.yaml
  .github/workflows/portal-ci.yaml
  .github/workflows/veid-e2e.yaml
Due: none

fix(ci): clear the 24 lint findings reddening the develop lint gates
  pkg/inference/line_ending_integrity_test.go
  pkg/ratelimit/offline_test.go
  scripts/consensusdeterminism/main.go
  testutil/key_armor_compat_test.go
  x/market/types/marketplace/allocation.go
  x/market/types/marketplace/allocation_test.go
  x/market/types/marketplace/eligibility_scope.go
  x/market/types/marketplace/eligibility_scope_test.go
  x/market/types/marketplace/keeper/canonical_owner_test.go
  x/market/types/marketplace/keeper/milestone_dispute.go
  x/market/types/marketplace/keeper/milestones_test.go
  x/market/types/marketplace/mfa_gating.go
  x/market/types/marketplace/milestones.go
  x/market/types/marketplace/offering.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/order_test.go
  x/veid/keeper/feature_extraction_test.go
  x/veid/keeper/gdpr_portability_test.go
  x/veid/keeper/grpc_query_test.go
  x/veid/keeper/privacy_retention_test.go
  x/veid/keeper/web_evidence_determinism_test.go
  x/veid/types/proof_types_test.go
Due: x/veid - Identity Verification, x/market - Marketplace, pkg/inference - ML Inference

fix(ci): clear the 24 lint findings reddening the develop lint gates (#969)
  pkg/inference/line_ending_integrity_test.go
  pkg/ratelimit/offline_test.go
  scripts/consensusdeterminism/main.go
  testutil/key_armor_compat_test.go
  x/market/types/marketplace/allocation.go
  x/market/types/marketplace/allocation_test.go
  x/market/types/marketplace/eligibility_scope.go
  x/market/types/marketplace/eligibility_scope_test.go
  x/market/types/marketplace/keeper/canonical_owner_test.go
  x/market/types/marketplace/keeper/milestone_dispute.go
  x/market/types/marketplace/keeper/milestones_test.go
  x/market/types/marketplace/mfa_gating.go
  x/market/types/marketplace/milestones.go
  x/market/types/marketplace/offering.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/order_test.go
  x/veid/keeper/feature_extraction_test.go
  x/veid/keeper/gdpr_portability_test.go
  x/veid/keeper/grpc_query_test.go
  x/veid/keeper/privacy_retention_test.go
  x/veid/keeper/web_evidence_determinism_test.go
  x/veid/types/proof_types_test.go
Due: x/veid - Identity Verification, x/market - Marketplace, pkg/inference - ML Inference

test(veid): move veid-pipeline final stage off unpatchable distroless to upgraded slim-bookworm
  _build/Dockerfile.veid-pipeline
  ml/pipeline_runner.py
Due: none

test(veid): move veid-pipeline final stage off unpatchable distroless to upgraded slim-bookworm (#970)
  _build/Dockerfile.veid-pipeline
  ml/pipeline_runner.py
Due: none

test(veid): pin jaraco.context==6.1.0 to clear CVE-2026-23949 in veid-pipeline scan
  ml/requirements-deterministic.txt
Due: none
