Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001 + INFRA-003: Code Coverage Configuration
# Target: 80% minimum (enforced), 90%+ aspirational for unit tests
# Updated with stricter enforcement for CI/CD hardening
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
  # INFRA-003: Strict CI integration
  ci:
    - "github-actions"

# INFRA-003: GitHub Checks integration for required status checks
github_checks:
  annotations: true

coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # INFRA-003: Minimum 80% coverage enforced (fail CI if below)
        target: 80%
        threshold: 2%
        if_not_found: error  # Changed from success to enforce coverage
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
        # INFRA-003: Require informational comment even if passing
        informational: false
      # Aspirational target for overall project
      aspirational:
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        informational: true  # Don't fail, just report
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 85%  # Stricter for blockchain modules
        threshold: 1%
        if_not_found: error
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 80%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # INFRA-003: All new code must have 80% minimum coverage
        target: 80%
        if_not_found: success
        only_pulls: true
        # New code should not reduce coverage
        threshold: 0%
      # Aspirational patch coverage
      aspirational:
        target: 90%
        if_not_found: success
        only_pulls: true
        informational: true
      # Critical modules require 90% patch coverage (enforced)
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 90%
        if_not_found: success
        # INFRA-003: Critical security code must meet coverage
        informational: false
    changes:
      default:
        # Track changes to ensure coverage trends
        target: auto
        threshold: 5%
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

fix(app): remove redundant job wizard cast
  portal/src/features/hpc/components/JobWizard.tsx
Due: none

fix(encryption): document unsafe memory handling
  pkg/enclave_runtime/memory_scrub.go
  sdk/go/util/conv/string.go
Due: none

chore(deps): refresh codex-monitor lockfile
  scripts/codex-monitor/package-lock.json
Due: none

fix(sdk): harden unsafe memory helpers
  pkg/enclave_runtime/memory_scrub.go
  sdk/go/node/client/v1beta3/tx.go
  sdk/go/util/conv/string.go
  sdk/go/util/conv/string_test.go
Due: none

Security: Review unsafe pointer operations (G103) (~25 alerts) (#742)
  pkg/enclave_runtime/memory_scrub.go
  portal/src/features/hpc/components/JobWizard.tsx
  scripts/codex-monitor/package-lock.json
  sdk/go/node/client/v1beta3/tx.go
  sdk/go/util/conv/string.go
  sdk/go/util/conv/string_test.go
Due: none

fix(app): harden G101 handling
  .githooks/pre-commit
  .golangci.yaml
  pkg/edugain/types.go
  pkg/govdata/aamva_adapter_test.go
  pkg/govdata/eidas_adapter.go
  pkg/jira/jira_test.go
  pkg/ood_adapter/oauth2_test.go
  x/provider/keeper/domain_verification.go
  x/veid/types/audit_export.go
  x/veid/types/composite_scoring.go
  x/veid/types/scoring_model.go
  x/veid/types/verifiable_credential.go
Due: x/veid - Identity Verification

feat: enhance session tracking and task execution with improved idle detection and recovery mechanisms
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/agent-prompts.mjs
  scripts/codex-monitor/copilot-shell.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/session-tracker.mjs
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/tests/continue-detection.test.mjs
  scripts/codex-monitor/tests/task-executor.test.mjs
  scripts/codex-monitor/worktree-manager.mjs
Due: none

feat: update Ralph Orchestrator tools and enhance security workflows with SARIF file checks
  .github/agents/ralph-orchestrator.agent.md
  .github/workflows/pr-security-check.yaml
  .github/workflows/security.yaml
  scripts/codex-monitor/agent-endpoint.mjs
  scripts/codex-monitor/monitor.mjs
Due: none

feat: enhance task execution with GitHub issue commenting and timeout safety mechanisms
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/kanban-adapter.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/worktree-manager.mjs
Due: none

chore(encryption): document unsafe memory handling
  pkg/enclave_runtime/memory_scrub.go
  sdk/go/util/conv/string.go
Due: none

feat: enhance review agent and task executor functionality
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/agent-endpoint.mjs
  scripts/codex-monitor/config.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/pr-cleanup-daemon.mjs
  scripts/codex-monitor/review-agent.mjs
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/telegram-bot.mjs
  scripts/codex-monitor/tests/kanban-adapter.test.mjs
  scripts/codex-monitor/tests/task-executor.test.mjs
Due: none

Security: Review unsafe pointer operations (G103) (~25 alerts) (#743)
  pkg/enclave_runtime/memory_scrub.go
  sdk/go/util/conv/string.go
Due: none

fix(app): harden file path handling
  cmd/virtengine/cmd/testnetify/testnetify.go
  cmd/virtengine/cmd/testnetify/utils.go
  pkg/inference/model_loader.go
  pkg/pruning/snapshot_manager.go
  pkg/security/filepath_validator.go
  pkg/security/filepath_validator_test.go
  pkg/security/path.go
  pkg/slurm_adapter/ssh_client.go
  pkg/verification/keystorage/file.go
  x/provider/config/config.go
Due: pkg/inference - ML Inference

feat(scripts): enhance codex-monitor orchestration and task execution
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/agent-endpoint.mjs
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/get-telegram-chat-id.mjs
  scripts/codex-monitor/kanban-adapter.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/telegram-bot.mjs
  scripts/codex-monitor/tests/vk-api.test.mjs
  scripts/codex-monitor/ve-orchestrator.ps1
  scripts/codex-monitor/vitest.config.mjs
  scripts/codex-monitor/worktree-manager.mjs
Due: none

test(scripts): fix branch name truncation test to match 60-char limit
  scripts/codex-monitor/tests/worktree-manager.test.mjs
Due: none

chore(scripts): bump codex-monitor to v0.17.0
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
Due: none

Potential fix for code scanning alert no. 6349: Uncontrolled command line
  scripts/codex-monitor/autofix.mjs
Due: none

Potential fix for code scanning alert no. 6354: Second order command injection
  scripts/codex-monitor/workspace-monitor.mjs
Due: none

Potential fix for code scanning alert no. 6352: Uncontrolled command line
  scripts/codex-monitor/update-check.mjs
Due: none

Potential fix for code scanning alert no. 6351: Uncontrolled command line
  scripts/codex-monitor/sdk-conflict-resolver.mjs
Due: none

Potential fix for code scanning alert no. 6359: Incomplete string escaping or encoding
  scripts/codex-monitor/monitor.mjs
Due: none

Potential fix for code scanning alert no. 6353: Second order command injection
  scripts/codex-monitor/git-safety.mjs
Due: none

fix(hpc): harden http clients (#745)
  pkg/provider_daemon/hpc_node_aggregator.go
  sdk/go/node/client/http.go
  sdk/go/provider/client/client.go
  tests/chaos/framework/validators.go
  tools/trusted-setup/cmd/ceremony/main.go
  util/cli/upgrade_info.go
Due: pkg/provider_daemon - Provider Services

fix(app): handle gosec g101 findings
  .golangci.yaml
  cmd/provider-daemon/main.go
  cmd/virtengine/cmd/waldur/init_categories.go
  pkg/jira/jira_test.go
  sdk/go/cli/flags/flags.go
  x/deployment/simulation/operations.go
  x/deployment/simulation/proposals.go
  x/market/simulation/operations.go
  x/market/simulation/proposals.go
  x/provider/simulation/operations.go
  x/take/simulation/proposals.go
  x/veid/keeper/credential_issuance.go
Due: x/veid - Identity Verification

Security: Audit hardcoded credentials alerts (G101) (~60 alerts) (#746)
  .githooks/pre-commit
  .golangci.yaml
  cmd/provider-daemon/main.go
  cmd/virtengine/cmd/waldur/init_categories.go
  pkg/edugain/types.go
  pkg/govdata/aamva_adapter_test.go
  pkg/govdata/eidas_adapter.go
  pkg/jira/jira_test.go
  pkg/ood_adapter/oauth2_test.go
  sdk/go/cli/flags/flags.go
  x/deployment/simulation/operations.go
  x/deployment/simulation/proposals.go
  x/market/simulation/operations.go
  x/market/simulation/proposals.go
  x/provider/keeper/domain_verification.go
  x/provider/simulation/operations.go
  x/take/simulation/proposals.go
  x/veid/keeper/credential_issuance.go
  x/veid/types/audit_export.go
  x/veid/types/composite_scoring.go
  x/veid/types/scoring_model.go
  x/veid/types/verifiable_credential.go
Due: x/veid - Identity Verification

chore(app): document non-crypto rng usage
  app/sim_test.go
  pkg/usage/line_item_test.go
  sdk/go/testutil/coin.go
  sdk/go/testutil/deployment.go
  sdk/go/testutil/ids.go
  sdk/go/testutil/rand.go
  sdk/go/testutil/types.go
  tests/load/scenarios_test.go
  testutil/partition/filter.go
  testutil/sim/rand.go
  testutil/sims/state_helpers.go
  testutil/sims/tx_helpers.go
  x/market/simulation/proposals.go
Due: none

chore(app): document non-crypto rng usage (#747)
  app/sim_test.go
  pkg/usage/line_item_test.go
  sdk/go/testutil/coin.go
  sdk/go/testutil/deployment.go
  sdk/go/testutil/ids.go
  sdk/go/testutil/rand.go
  sdk/go/testutil/types.go
  tests/load/scenarios_test.go
  testutil/partition/filter.go
  testutil/sim/rand.go
  testutil/sims/state_helpers.go
  testutil/sims/tx_helpers.go
  x/market/simulation/proposals.go
Due: none

Security: Fix file path traversal vulnerabilities (G304) (~40 alerts) (#744)
  cmd/virtengine/cmd/testnetify/testnetify.go
  cmd/virtengine/cmd/testnetify/utils.go
  pkg/inference/model_loader.go
  pkg/pruning/snapshot_manager.go
  pkg/security/filepath_validator.go
  pkg/security/filepath_validator_test.go
  pkg/slurm_adapter/ssh_client.go
  pkg/verification/keystorage/file.go
  scripts/codex-monitor/autofix.mjs
  scripts/codex-monitor/git-safety.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/sdk-conflict-resolver.mjs
  scripts/codex-monitor/update-check.mjs
  scripts/codex-monitor/workspace-monitor.mjs
  x/provider/config/config.go
Due: pkg/inference - ML Inference

feat(provider): add agent lifecycle hooks, telegram sentinel, and monitor-monitor auto-exclusion
  .codex/hooks.json
  scripts/codex-monitor/agent-hooks.mjs
  scripts/codex-monitor/cli.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package.json
  scripts/codex-monitor/pr-cleanup-daemon.mjs
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/telegram-sentinel.mjs
  scripts/codex-monitor/tests/agent-hooks.test.mjs
  scripts/codex-monitor/tests/pr-cleanup-daemon.test.mjs
  scripts/codex-monitor/tests/telegram-sentinel.test.mjs
Due: none

fix(ci): stabilize workflows and tests
  .github/workflows/ci.yaml
  .github/workflows/infrastructure.yaml
  .github/workflows/portal-deploy-prod.yaml
  .github/workflows/supply-chain.yaml
  .golangci.yaml
  pkg/artifact_store/streaming.go
  pkg/artifact_store/streaming_test.go
  pkg/ood_adapter/adapter.go
  pkg/ood_adapter/mock_client.go
  pkg/ood_adapter/session_clone.go
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/hpc_job_clone.go
  pkg/provider_daemon/hpc_job_service.go
  pkg/provider_daemon/hpc_scheduler_adapters.go
  pkg/provider_daemon/hpc_scheduler_test.go
  portal/src/app/(customer)/marketplace/page.tsx
  portal/src/app/api/consent/[address]/route.ts
  portal/tests/e2e/dashboard.spec.ts
  portal/tests/e2e/marketplace.spec.ts
  portal/tests/e2e/smoke.spec.ts
  portal/tests/e2e/utils.ts
  scripts/dr/backup-chain-state.sh
  tests/benchmark/race_disabled.go
  tests/benchmark/race_enabled.go
  tests/benchmark/throughput_benchmark_test.go
  tests/integration/hpc/job_lifecycle_test.go
  tests/upgrade/test-cases.json
  x/mfa/keeper/grpc_query.go
  x/mfa/keeper/msg_server_test.go
Due: x/mfa - Multi-Factor Auth, pkg/provider_daemon - Provider Services

fix(deps): remediate dependabot alerts
  go.mod
  go.sum
  infra/terraform/tests/go.mod
  infra/terraform/tests/go.sum
  infra/tests/go.mod
  infra/tests/go.sum
  lib/admin/package.json
  lib/capture/package.json
  lib/portal/__tests__/wallet/errors.test.ts
  lib/portal/package.json
  ml/document_preprocessing/requirements.txt
  ml/face_extraction/requirements.txt
  ml/facial_verification/requirements.txt
  ml/requirements-deterministic.txt
  ml/text_detection/requirements.txt
  ml/training/requirements.txt
  mobile/veid-capture-app/package-lock.json
  mobile/veid-capture-app/package.json
  pnpm-lock.yaml
  portal/.eslintrc.cjs
  portal/.storybook/main.ts
  portal/next.config.mjs
  portal/package-lock.json
  portal/package.json
  portal/tests/setup.ts
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/portal/package.json
  sdk/portal/pnpm-lock.yaml
  sdk/python/pyproject.toml
  sdk/python/virtengine/wallet.py
  x/mfa/keeper/grpc_query.go
  x/mfa/keeper/msg_server_test.go
Due: x/mfa - Multi-Factor Auth

Ve/738 fix all common ci cd failures properly (#748)
  .github/AGENTS.md
  .github/workflows/ci.yaml
  .github/workflows/dr-failover-test.yaml
  .github/workflows/infrastructure.yaml
  .github/workflows/multi-region-deploy.yaml
  .github/workflows/portal-deploy-prod.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/staging-e2e.yaml
  .github/workflows/supply-chain.yaml
  .golangci.yaml
  CI_FIXES_SUMMARY.md
  go.mod
  pkg/artifact_store/streaming.go
  pkg/artifact_store/streaming_test.go
  pkg/ood_adapter/adapter.go
  pkg/ood_adapter/mock_client.go
  pkg/ood_adapter/session_clone.go
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/hpc_job_clone.go
  pkg/provider_daemon/hpc_job_service.go
  pkg/provider_daemon/hpc_scheduler_adapters.go
  pkg/provider_daemon/hpc_scheduler_test.go
  portal/src/app/(customer)/marketplace/page.tsx
  portal/src/app/api/consent/[address]/route.ts
  portal/tests/e2e/dashboard.spec.ts
  portal/tests/e2e/marketplace.spec.ts
  portal/tests/e2e/smoke.spec.ts
  portal/tests/e2e/utils.ts
  scripts/dr/backup-chain-state.sh
  tests/benchmark/race_disabled.go
  tests/benchmark/race_enabled.go
  tests/benchmark/throughput_benchmark_test.go
  tests/integration/hpc/job_lifecycle_test.go
  tests/upgrade/test-cases.json
  x/mfa/keeper/grpc_query.go
  x/mfa/keeper/msg_server_test.go
Due: x/mfa - Multi-Factor Auth, pkg/provider_daemon - Provider Services

fix(deps): remediate dependabot alerts (#749)
  go.mod
  go.sum
  infra/terraform/tests/go.mod
  infra/terraform/tests/go.sum
  infra/tests/go.mod
  infra/tests/go.sum
  lib/admin/package.json
  lib/capture/package.json
  lib/portal/__tests__/wallet/errors.test.ts
  lib/portal/package.json
  ml/document_preprocessing/requirements.txt
  ml/face_extraction/requirements.txt
  ml/facial_verification/requirements.txt
  ml/requirements-deterministic.txt
  ml/text_detection/requirements.txt
  ml/training/requirements.txt
  mobile/veid-capture-app/package-lock.json
  mobile/veid-capture-app/package.json
  pnpm-lock.yaml
  portal/.eslintrc.cjs
  portal/.storybook/main.ts
  portal/next.config.mjs
  portal/package-lock.json
  portal/package.json
  portal/tests/setup.ts
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/portal/package.json
  sdk/portal/pnpm-lock.yaml
  sdk/python/pyproject.toml
  sdk/python/virtengine/wallet.py
Due: none

feat: enhance environment variable handling and transport configuration
  .claude/settings.local.json
  .github/hooks/codex-monitor.hooks.json
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/README.md
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/claude-shell.mjs
  scripts/codex-monitor/cli.mjs
  scripts/codex-monitor/codex-shell.mjs
  scripts/codex-monitor/config.mjs
  scripts/codex-monitor/copilot-shell.mjs
  scripts/codex-monitor/hook-profiles.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/primary-agent.mjs
  scripts/codex-monitor/setup.mjs
  scripts/codex-monitor/tests/config-boolean-env.test.mjs
  scripts/codex-monitor/tests/hook-profiles.test.mjs
  scripts/codex-monitor/tests/setup-env-output.test.mjs
Due: none

release(codex-monitor): v0.18.1 minor update
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
Due: none

feat(ci): improve codex-monitor setup UX and WhatsApp onboarding
  scripts/codex-monitor/cli.mjs
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
  scripts/codex-monitor/setup.mjs
  scripts/codex-monitor/tests/setup-env-output.test.mjs
  scripts/codex-monitor/whatsapp-channel.mjs
Due: none
