Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

chore(compliance): establish SOC 2 Type II program
  _docs/compliance/soc2/README.md
  _docs/compliance/soc2/audit-readiness.md
  _docs/compliance/soc2/auditor-engagement.md
  _docs/compliance/soc2/continuous-compliance-program.md
  _docs/compliance/soc2/continuous-monitoring.md
  _docs/compliance/soc2/control-matrix.md
  _docs/compliance/soc2/control-objectives.md
  _docs/compliance/soc2/evidence-collection.md
  _docs/compliance/soc2/gap-analysis.md
  _docs/compliance/soc2/type-ii-report.md
  _docs/onboarding/access-control.md
  _docs/operations/incident-response.md
  _docs/operations/monitoring.md
  _docs/security/vendor-risk.md
  scripts/compliance/collect-soc2-evidence.sh
  scripts/compliance/soc2-evidence-manifest.yaml
Due: none

feat(payment): add reconciliation report generation for conversions
  pkg/payment/conversion.go
  pkg/payment/conversion_test.go
  pkg/payment/interfaces.go
  pkg/payment/types.go
Due: none

feat(portal): add metrics dashboard aggregation
  lib/portal/__tests__/metrics.test.ts
  lib/portal/types/metrics.ts
  portal/src/app/metrics/alerts/page.tsx
  portal/src/app/metrics/layout.tsx
  portal/src/app/metrics/page.tsx
  portal/src/components/layout/Sidebar.tsx
  portal/src/components/metrics/AlertConfigDialog.tsx
  portal/src/components/metrics/AlertsPanel.tsx
  portal/src/components/metrics/CustomDashboard.tsx
  portal/src/components/metrics/DashboardWidget.tsx
  portal/src/components/metrics/MetricCard.tsx
  portal/src/components/metrics/MetricsDashboard.tsx
  portal/src/components/metrics/ProviderBreakdown.tsx
  portal/src/components/metrics/TimeSeriesChart.tsx
  portal/src/components/metrics/index.ts
  portal/src/stores/dashboardConfigStore.ts
  portal/src/stores/index.ts
  portal/src/stores/metricsStore.ts
Due: none

fix(portal): handle locale-dependent currency format in BillingSummary tests
  portal/tests/unit/dashboard/components.test.tsx
Due: none

test(app): fix billing summary currency assertions
  portal/tests/unit/dashboard/components.test.tsx
Due: none

Refactor GitHub Actions workflow and enhance Next.js configuration
  .githooks/pre-push
  .github/workflows/security.yaml
  portal/next.config.mjs
  portal/tests/unit/dashboard/components.test.tsx
  scripts/codex-monitor/get-telegram-chat-id.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/ve-kanban.ps1
  scripts/ve-orchestrator.ps1
Due: none

chore(lint): add explanatory comments to noop observability functions
  pkg/observability/logger.go
Due: none

chore(portal): format hpc client
  portal/src/features/hpc/lib/hpc-client.ts
Due: none

fix(portal): wrap job wizard in suspense
  portal/src/app/hpc/jobs/new/page.tsx
Due: none

feat(escrow): close usage-invoice-settlement gaps
  pkg/provider_daemon/settlement_pipeline.go
  pkg/provider_daemon/settlement_pipeline_test.go
  pkg/provider_daemon/waldur_usage_reporter.go
  pkg/usage/line_item.go
  pkg/waldur/usage_line_items.go
  x/escrow/keeper/invoice.go
  x/escrow/keeper/keeper_test.go
  x/escrow/keeper/reconciliation.go
  x/escrow/types/billing/artifact_store.go
  x/escrow/types/billing/generator.go
  x/escrow/types/billing/invoice_test.go
  x/escrow/types/billing/keys.go
  x/escrow/types/billing/ledger.go
  x/escrow/types/billing/reconciliation.go
  x/escrow/types/billing/usage_line_item.go
  x/settlement/keeper/billing_integration.go
Due: x/escrow - Escrow, pkg/provider_daemon - Provider Services

fix(git-hooks): improve golangci-lint performance with caching and parallel execution
  .githooks/pre-commit
  .githooks/pre-push
Due: none

chore(roles): fix lint edge cases
  pkg/pruning/disk_monitor.go
  x/roles/types/genesis.go
Due: none

feat(payment): add dispute lifecycle and reporting
  pkg/payment/dispute_gateway.go
  pkg/payment/dispute_lifecycle.go
  pkg/payment/dispute_lifecycle_test.go
  pkg/payment/dispute_webhook.go
  pkg/payment/service.go
Due: none

test: update billing summary assertions
  portal/tests/unit/dashboard/components.test.tsx
Due: none

fix(veid): align verification type tests
  x/veid/types/domain_verification_test.go
  x/veid/types/email_verification_test.go
Due: x/veid - Identity Verification

feat(api): integrate real price feed
  pkg/payment/coingecko_adapter.go
  pkg/payment/doc.go
  pkg/payment/feed_cache.go
  pkg/payment/feed_cache_test.go
  pkg/payment/offramp/service.go
  pkg/payment/price_feed.go
  pkg/payment/service.go
  pkg/payment/types.go
Due: none

chore(portal): scope unsafe lint for billing/veid
  portal/.eslintrc.cjs
Due: none

fix(veid): re-enable msg_server tests with proper signature generation
  x/veid/keeper/msg_server.go
  x/veid/keeper/msg_server_test.go
Due: x/veid - Identity Verification

feat(veid): production ML model training pipeline and hash governance
  ml/training/train_ci.py
  x/veid/keeper/model_hash_governance.go
  x/veid/keeper/model_hash_governance_test.go
Due: x/veid - Identity Verification

fix(escrow): remove unused kTestSuite type in keeper_test.go
  x/escrow/keeper/keeper_test.go
Due: x/escrow - Escrow

fix(security): pre-mainnet security hardening + trusted setup
  _docs/security/crypto-review-checklist.md
  x/veid/keeper/keeper.go
  x/veid/keeper/key_rotation.go
  x/veid/keeper/msg_server.go
  x/veid/keeper/rate_limiter.go
  x/veid/keeper/security_hardening_test.go
  x/veid/keeper/trusted_setup.go
  x/veid/types/errors.go
  x/veid/types/keys.go
Due: x/veid - Identity Verification

feat(hpc): poll chain jobs for routing
  pkg/provider_daemon/chain_client.go
Due: pkg/provider_daemon - Provider Services

fix(portal): export typed portal declarations
  portal/src/types/virtengine-portal.d.ts
Due: none

feat(escrow): close usage-invoice-settlement gaps
  pkg/provider_daemon/settlement_pipeline.go
  pkg/provider_daemon/settlement_pipeline_test.go
  pkg/provider_daemon/waldur_usage_reporter.go
  pkg/usage/line_item.go
  pkg/waldur/usage_line_items.go
  x/escrow/keeper/invoice.go
  x/escrow/keeper/reconciliation.go
  x/escrow/types/billing/artifact_store.go
  x/escrow/types/billing/generator.go
  x/escrow/types/billing/invoice_test.go
  x/escrow/types/billing/keys.go
  x/escrow/types/billing/ledger.go
  x/escrow/types/billing/reconciliation.go
  x/escrow/types/billing/usage_line_item.go
  x/settlement/keeper/billing_integration.go
Due: x/escrow - Escrow, pkg/provider_daemon - Provider Services

chore(portal): add type roots for stubs
  portal/src/types/virtengine-portal.d.ts
  portal/tsconfig.json
Due: none

chore(portal): restore lint config
  portal/.eslintrc.cjs
Due: none

chore(portal): relax lint for legacy modules
  portal/.eslintrc.cjs
  portal/src/types/virtengine-capture.d.ts
  portal/src/types/virtengine-portal.d.ts
Due: none

chore(portal): extend portal type stubs
  lib/portal/hooks/useIdentity.tsx
  lib/portal/src/wallet/adapters/keplr.ts
  lib/portal/src/wallet/adapters/leap.ts
  portal/.eslintrc.cjs
  portal/src/types/vendor.d.ts
  portal/src/types/virtengine-portal.d.ts
  portal/tsconfig.json
Due: none

chore(portal): register vendor module stubs
  portal/src/types/vendor.d.ts
Due: none

chore(portal): restore portal tsconfig mappings
  portal/tsconfig.json
Due: none

chore(app): add portal vendor type stubs
  portal/src/lib/price-metrics.ts
  portal/src/types/prom-client/index.d.ts
  portal/src/types/redis/index.d.ts
  portal/src/types/vendor.d.ts
Due: none

perf(scale): add k6 HPC burst test and scaling recommendations doc
  docs/performance/BENCHMARKS.md
  docs/performance/SCALING_RECOMMENDATIONS.md
  tests/load/README.md
  tests/load/k6/hpc_burst.js
Due: none

refactor(veid): cover injected randomness proofs
  _docs/veid-zkproofs-security.md
  x/veid/keeper/privacy_proofs_test.go
Due: x/veid - Identity Verification

test(sdk): add unit tests for Escrow, MFA, Encryption, and Roles clients
  lib/portal/src/wallet/adapters/keplr.ts
  lib/portal/src/wallet/adapters/leap.ts
  sdk/ts/src/clients/EncryptionClient.spec.ts
  sdk/ts/src/clients/EscrowClient.spec.ts
  sdk/ts/src/clients/MFAClient.spec.ts
  sdk/ts/src/clients/RolesClient.spec.ts
Due: none

feat(market): add USD equivalent display to order creation flow
  portal/src/components/orders/EscrowDeposit.tsx
  portal/src/components/orders/PriceCalculator.tsx
Due: none

feat(portal): add VE portal scaffold
  _build/Dockerfile.ve-portal
  docker-compose.yaml
  sdk/portal/README.md
  sdk/portal/components.json
  sdk/portal/index.html
  sdk/portal/package.json
  sdk/portal/pnpm-lock.yaml
  sdk/portal/postcss.config.cjs
  sdk/portal/src/App.tsx
  sdk/portal/src/components/AccountSummary.tsx
  sdk/portal/src/components/AppShell.tsx
  sdk/portal/src/components/ChainStatusCard.tsx
  sdk/portal/src/components/WalletConnect.tsx
  sdk/portal/src/components/ui/button.tsx
  sdk/portal/src/hooks/useBalances.ts
  sdk/portal/src/hooks/useChainStatus.ts
  sdk/portal/src/hooks/useVeidStatus.ts
  sdk/portal/src/index.css
  sdk/portal/src/lib/utils.ts
  sdk/portal/src/main.tsx
  sdk/portal/src/pages/Account.tsx
  sdk/portal/src/pages/Home.tsx
  sdk/portal/src/pages/NotFound.tsx
  sdk/portal/src/services/chain.ts
  sdk/portal/src/services/market.ts
  sdk/portal/src/types/chain.ts
  sdk/portal/tailwind.config.d.ts
  sdk/portal/tailwind.config.js
  sdk/portal/tailwind.config.ts
  sdk/portal/tsconfig.app.json
  sdk/portal/tsconfig.json
  sdk/portal/tsconfig.node.json
  sdk/portal/vite.config.d.ts
  sdk/portal/vite.config.js
  sdk/portal/vite.config.ts
Due: none

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
