Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(ci): replace strategy-option=theirs with rebase, add empty-PR guard
  scripts/codex-monitor/agent-endpoint.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/task-executor.mjs
Due: none

fix(ci): restore deleted module files (error-detector, review-agent, sync-engine, task-store)
  scripts/codex-monitor/error-detector.mjs
  scripts/codex-monitor/review-agent.mjs
  scripts/codex-monitor/sync-engine.mjs
  scripts/codex-monitor/task-store.mjs
Due: none

fix(ci): restore executorToSdk export in task-complexity.mjs
  scripts/codex-monitor/task-complexity.mjs
Due: none

feat(codex-monitor): add worktree-manager and update task-executor in package.json; create _apply-edits script for task-executor modifications
  .gitignore
  scripts/codex-monitor/_apply-edits.mjs
  scripts/codex-monitor/package.json
Due: none

fix(ci): use shell:true on Windows for VK .cmd spawn (fixes EINVAL)
  scripts/codex-monitor/monitor.mjs
Due: none

feat: auto-commit orphaned agent work
  app/ante_gaspricing.go
  app/app.go
  app/gaspricing/keeper.go
  app/gaspricing/keeper_test.go
  scripts/codex-monitor/package-lock.json
  scripts/dr/backup-chain-state.sh
Due: none

feat: auto-commit orphaned agent work (#726)
  app/ante_gaspricing.go
  app/app.go
  app/gaspricing/keeper.go
  app/gaspricing/keeper_test.go
  scripts/codex-monitor/package-lock.json
  scripts/dr/backup-chain-state.sh
Due: none

feat: auto-commit orphaned agent work
  app/ante_gaspricing.go
  app/app.go
  app/gaspricing/dec_coins.go
  app/gaspricing/keeper_test.go
  cmd/ve-sim/main.go
  sim/analysis/export.go
  x/hpc/keeper/scheduling_test.go
  x/settlement/ibc/module.go
  x/settlement/ibc/rate_limit.go
Due: x/hpc - HPC Scheduling

feat: auto-commit orphaned agent work
  app/app.go
  app/types/app.go
  deploy/relayer/config.toml
  deploy/relayer/scripts/init-channels.sh
  x/settlement/ibc/keeper_test.go
Due: none

feat: auto-commit orphaned agent work (#728)
  app/app.go
  app/types/app.go
  deploy/relayer/config.toml
  deploy/relayer/scripts/init-channels.sh
  x/settlement/ibc/keeper_test.go
Due: none

fix(ci): sync engine no longer regresses tasks on VK restart
  scripts/codex-monitor/sync-engine.mjs
Due: none

chore(ci): bump codex-monitor to v0.15.1
  scripts/codex-monitor/package.json
Due: none

feat: auto-commit orphaned agent work (#727)
  app/ante_gaspricing.go
  app/app.go
  app/gaspricing/dec_coins.go
  app/gaspricing/keeper_test.go
  cmd/ve-sim/main.go
  sim/analysis/export.go
  x/hpc/keeper/scheduling_test.go
  x/settlement/ibc/module.go
  x/settlement/ibc/rate_limit.go
Due: x/hpc - HPC Scheduling

feat(ci): /tasks shows live agent branches, add /agentlogs command
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/telegram-bot.mjs
Due: none

chore(ci): bump codex-monitor to v0.15.2
  scripts/codex-monitor/package.json
Due: none

feat(ci): pause/resume tasks, daemon mode, sandbox config, /repos
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/agent-pool.mjs
  scripts/codex-monitor/cli.mjs
  scripts/codex-monitor/task-executor.mjs
  scripts/codex-monitor/telegram-bot.mjs
Due: none

chore(ci): bump codex-monitor to v0.16.0
  scripts/codex-monitor/package.json
Due: none

feat: auto-commit orphaned agent work
  x/hpc/keeper/scheduling.go
Due: x/hpc - HPC Scheduling

feat: auto-commit orphaned agent work (#732)
  x/hpc/keeper/scheduling.go
Due: x/hpc - HPC Scheduling

feat(provider): wire market query client for order discovery and bid retrieval
  pkg/provider_daemon/chain_client.go
  x/marketplace/module.go
Due: pkg/provider_daemon - Provider Services

feat(provider): wire market chain client for bid placement and order discovery
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/chain_client_test.go
Due: pkg/provider_daemon - Provider Services

[xl] [P0] feat(provider): wire market chain client stubs to... (#733)
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/chain_client_test.go
  x/marketplace/module.go
Due: pkg/provider_daemon - Provider Services

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
