Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(lint): remove dead helpers, extract repeated literals, fix signatures
  pkg/enclave_runtime/workload_binding.go
  pkg/enclave_runtime/workload_binding_test.go
  pkg/fundauth/canonical_test.go
  pkg/fundauth/inventory_test.go
  pkg/fundauth/keeper/keeper_test.go
  pkg/fundauth/registry.go
  pkg/fundauth/registry_test.go
  pkg/fundauth/strict_test.go
  pkg/fundauth/verify_test.go
  pkg/platformsecurity/contracts/persisted_schema_test.go
  pkg/platformsecurity/uniqueness/fixture_test.go
  pkg/platformsecurity/uniqueness/incident.go
  x/veid/keeper/consensus_verifier.go
  x/veid/keeper/evidence_object_migration.go
  x/veid/keeper/evidence_object_migration_test.go
  x/veid/keeper/evidence_payload_cutover.go
  x/veid/keeper/evidence_pipeline.go
  x/veid/keeper/inference_receipt_test.go
  x/veid/keeper/runtime_policy.go
  x/veid/keeper/scoring.go
Due: x/veid - Identity Verification

fix(veid): update newEvidenceMigrationKeeper call sites to the 2-value signature
  x/veid/keeper/evidence_payload_cutover_test.go
Due: x/veid - Identity Verification

fix(enclave_runtime): annotate bounded SNP/NSM narrowing conversions
  pkg/enclave_runtime/hardware_sev_linux.go
  pkg/enclave_runtime/nitro/nsm_linux.go
Due: none

fix(veid): drop dead verification-pipeline helpers, reuse null literal constant
  x/veid/keeper/evidence_payload_cutover_test.go
  x/veid/keeper/verification_pipeline.go
Due: x/veid - Identity Verification

fix(veid): restore params_metadata.json.sha256 to the embedded (LF) digest
  x/veid/zk/params/params_metadata.json.sha256
Due: x/veid - Identity Verification

test(veid): guard the embedded ZK params sha256 sidecars against eol drift
  scripts/veid-params-sidecar-verify.sh
  x/veid/zk/params/sidecar_integrity_test.go
Due: x/veid - Identity Verification

fix(scripts): make the sidecar guard fail closed when git cannot resolve the repo
  scripts/veid-params-sidecar-verify.sh
Due: none

fix(provider_daemon): stop HPCHeartbeatMonitor self-deadlocking on alerts
  pkg/provider_daemon/hpc_heartbeat_monitor.go
  pkg/provider_daemon/hpc_heartbeat_monitor_test.go
  tests/integration/hpc/template_resources_stub_test.go
  tests/integration/hpc/templates_test.go
Due: pkg/provider_daemon - Provider Services

ci(security): add .trivyignore for accepted Python CVEs in veid-pipeline
  .github/workflows/security.yaml
  .trivyignore
Due: none

ci(security): install libudev-dev in Go Vulnerability Scan job
  .github/workflows/security.yaml
Due: none

fix(veid): correct embedded params_metadata.json checksum
  x/veid/zk/params/params_metadata.json.sha256
Due: x/veid - Identity Verification

ci(hygiene): rename bosun-pr-attach.yml to .yaml for standardize-yaml compliance
  .github/workflows/bosun-pr-attach.yaml
Due: none

fix(security): update container base image digests to fix libcrypto3 CVE-2026-14456
  _build/Dockerfile.provider-daemon
  _build/Dockerfile.test
  _build/Dockerfile.virtengine
Due: none

fix(x/veid/keeper): fix consensus determinism gate issues by replacing map iteration with sorted keys and removing os.Getenv calls
  x/veid/keeper/evidence_object_store.go
  x/veid/keeper/evidence_payload_cutover.go
  x/veid/keeper/scoring.go
  x/veid/keeper/web_evidence_auth.go
  x/veid/keeper/web_scope_msg_server.go
Due: x/veid - Identity Verification

fix(deps): upgrade golang.org/x/mod v0.38.0 -> v0.40.0 and Alpine 3.20 -> 3.21
  _build/Dockerfile.provider-daemon
  _build/Dockerfile.virtengine
  go.mod
  go.sum
Due: none

ci(infra): fix Terraform validation for multi-region module
  .github/workflows/infrastructure.yaml
  infra/terraform/modules/multi-region/main.tf
Due: none

fix(lint): silence gosec integer overflow false positive in hardware_sev_linux.go
  pkg/enclave_runtime/hardware_sev_linux.go
Due: none

fix(lint): exclude vendor directory from golangci-lint
  .golangci.yaml
Due: none

fix(lint): correct vendor exclusion pattern for golangci-lint
  .golangci.yaml
Due: none

fix(lint): use issues.exclude-rules to exclude vendor directory
  .golangci.yaml
Due: none

ci(infra): fix Terraform validation for multi-region module (#930)
  .github/workflows/infrastructure.yaml
  infra/terraform/modules/multi-region/main.tf
Due: none

fix(deps): bump golang.org/x/crypto v0.55.0 -> v0.56.0, Go toolchain 1.26.0 -> 1.26.8
  go.mod
  go.sum
  go.work
Due: none

fix(veid): unblock Go Tests on main — params checksum panic, provider_daemon race, consensus determinism findings (#912)
  pkg/provider_daemon/compromise.go
  tests/compatibility/task85b_wire_compatibility_test.go
  tests/integration/veid/helpers_test.go
  tests/integration/veid/otp_verifier_test.go
  tests/integration/veid/veid_flow_test.go
  x/veid/keeper/evidence_object_store.go
  x/veid/keeper/evidence_payload_cutover.go
  x/veid/keeper/scoring.go
  x/veid/keeper/web_evidence_auth.go
  x/veid/keeper/web_scope_msg_server.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(ci): correct release target repo from virtengine/node to virtengine/virtengine (#852)
  .goreleaser.yaml
  install.sh
Due: none

fix(ci): fail loudly when VE_DEVCACHE is empty, add make tools, fix gitleaks Windows install (#855)
  .githooks/pre-commit
  make/setup-cache.mk
Due: none

docs(docs): correct the .cache section of the development-environment guide (#860)
  _docs/development-environment.md
Due: none

docs(ci): document the root make test-target cluster (#862)
  _docs/testing-guide.md
Due: none

fix(deps): upgrade next to 15.5.24 and pin patched transitives (#865)
  pnpm-lock.yaml
  pnpm-workspace.yaml
  portal/package.json
Due: none

fix(deps): clear the high advisories in sdk/ts (faker, js-yaml, brace-expansion) (#870)
  sdk/ts/package-lock.json
  sdk/ts/package.json
Due: none

fix(security): migrate key armor off unmaintained x/crypto/openpgp (GO-2026-5932) (#871)
  go.mod
  go.sum
  sdk/go/go.mod
  sdk/go/go.sum
  testutil/key_armor_compat_test.go
Due: none

docs(security): record GO-2026-4740 (msgpack DoS) as time-boxed residual risk (#873)
  .vulnerability-allowlist.yaml
  docs/security/GO-2026-4740-MSGPACK-ASSESSMENT.md
  docs/security/README.md
Due: none

fix(sdk): build sdk/go standalone against the local parent module (#875)
  scripts/protoinventory/inventory.test.mjs
  scripts/supply-chain/go-module-policy.json
  sdk/artifacts/proto/inventory.json
  sdk/artifacts/proto/inventory.json.sha256
  sdk/go/go.mod
  sdk/go/go.sum
Due: none

fix(portal): unblock Portal CI — stop exporting route-handler factories from route.ts (#876)
  portal/src/__tests__/consent-types.test.ts
  portal/src/app/api/consent/deletion/handlers.ts
  portal/src/app/api/consent/deletion/route.test.ts
  portal/src/app/api/consent/deletion/route.ts
  portal/src/app/api/consent/requests/handlers.ts
  portal/src/app/api/consent/requests/route.ts
  portal/src/app/api/notification-preferences/handlers.ts
  portal/src/app/api/notification-preferences/route.test.ts
  portal/src/app/api/notification-preferences/route.ts
  portal/src/features/orders/types.ts
  portal/src/features/orders/useOrderWizard.ts
Due: none

fix(sdk): derive golangci-lint's module major without direnv, fix devcache prereqs and stray mockery deletion (#880)
  sdk/Makefile
  sdk/make/setup-cache.mk
Due: none

ci(security): make the gosec gate cover every module and fail when it skips packages (#882)
  .github/scripts/check_gosec_coverage.py
  .github/tests/test_security_policy_gosec_coverage.py
  .github/workflows/security.yaml
Due: none

fix(sdk): derive mockery's module major from MOCKERY_VERSION instead of hardcoding v2 (#883)
  sdk/make/setup-cache.mk
Due: none

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
