Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

refactor: replace repeated string literals with constants
  cmd/hpc-node-agent/metrics.go
  pkg/config/secrets.go
  pkg/economics/analysis/attack_cost.go
  pkg/economics/analysis/game_theory.go
  pkg/economics/audit/audit_test.go
  pkg/economics/audit/auditor.go
  pkg/edugain/certificate_cache_test.go
  pkg/edugain/edugain_test.go
  pkg/enclave_runtime/config.go
  pkg/enclave_runtime/enclave_manager.go
  pkg/enclave_runtime/enclave_service.go
  pkg/enclave_runtime/hardware_common.go
  pkg/enclave_runtime/nitro_enclave.go
  pkg/enclave_runtime/production_config.go
  pkg/errors/errors_test.go
  pkg/govdata/aamva_adapter_test.go
  pkg/govdata/veid_integration.go
  pkg/moab_adapter/adapter.go
  pkg/observability/prometheus.go
  pkg/ood_adapter/client_test.go
  pkg/ood_adapter/oauth2_test.go
  pkg/payment/adapters.go
  pkg/payment/offramp/kyc_gate.go
  pkg/payment/payment_test.go
  pkg/pricefeed/pricefeed_test.go
  pkg/security/validation.go
  pkg/slurm_adapter/ssh_client.go
  scripts/supply-chain/assess-dependencies.go
  tests/benchmark/baselines.go
  tests/load/scale/degradation_analysis_test.go
  tests/security/key_rotation_test.go
  x/provider/types/daemon/status_update_test.go
Due: none

fix(ci): correct prealloc variable name in marketplace_scale_test
  tests/load/scale/marketplace_scale_test.go
Due: none

docs: add deployment and operations guide
  README.md
  docs/operations/DEPLOYMENT_GUIDE.md
Due: none

feat(escrow): implement invoice generation and ledger persistence
  _docs/billing-policy.md
  pkg/billing/export.go
  pkg/billing/pdf_generator.go
  x/escrow/keeper/invoice.go
  x/escrow/types/billing/INVOICE_LIFECYCLE.md
  x/escrow/types/billing/invoice_test.go
  x/escrow/types/billing/ledger.go
  x/escrow/types/billing/transitions.go
Due: x/escrow - Escrow

feat(escrow): add settlement and payout integration with invoicing
  x/escrow/keeper/payout.go
  x/escrow/keeper/payout_test.go
  x/escrow/keeper/settlement_integration.go
  x/escrow/keeper/settlement_integration_test.go
  x/escrow/types/billing/keys.go
  x/escrow/types/billing/reconciliation_service.go
  x/escrow/types/billing/reconciliation_test.go
  x/escrow/types/billing/treasury.go
Due: x/escrow - Escrow

refactor(support): delegate ticketing to Waldur/Jira
  x/support/README.md
  x/support/alias.go
  x/support/genesis.go
  x/support/genesis_test.go
  x/support/keeper/grpc_query.go
  x/support/keeper/keeper.go
  x/support/keeper/keeper_test.go
  x/support/keeper/msg_server.go
  x/support/keeper/msg_server_test.go
  x/support/types/codec.go
  x/support/types/errors.go
  x/support/types/events.go
  x/support/types/external_sync.go
  x/support/types/genesis.go
  x/support/types/keys.go
  x/support/types/msgs.go
  x/support/types/query.go
  x/support/types/server.go
  x/support/types/ticket.go
Due: none

fix(mfa): re-enable keeper tests with correct NewKeeper signature
  x/mfa/keeper/keeper_test.go
Due: x/mfa - Multi-Factor Auth

feat(app): add Jira/Waldur service desk integration
  pkg/servicedesk/bridge.go
  pkg/servicedesk/doc.go
  pkg/servicedesk/event_listener.go
  pkg/waldur/support.go
  pkg/waldur/support_test.go
Due: none

refactor(hpc): complete proto generation and re-enable tests
  sdk/proto/node/virtengine/hpc/v1/genesis.proto
  sdk/proto/node/virtengine/hpc/v1/query.proto
  sdk/proto/node/virtengine/hpc/v1/tx.proto
  sdk/proto/node/virtengine/hpc/v1/types.proto
  x/hpc/keeper/keeper_test.go
Due: x/hpc - HPC Scheduling

fix(settlement): re-enable settlement keeper tests (BankKeeper fix)
  x/settlement/keeper/escrow_test.go
  x/settlement/keeper/events_test.go
  x/settlement/keeper/rewards.go
  x/settlement/keeper/rewards_test.go
  x/settlement/keeper/settlement.go
  x/settlement/keeper/settlement_test.go
Due: none

refactor(fraud): complete proto generation with proper codec marshaling
  sdk/go/node/fraud/v1/genesis.pb.go
  sdk/proto/node/virtengine/fraud/v1/genesis.proto
  x/fraud/module.go
  x/fraud/types/proto_types.go
Due: x/fraud - Fraud Detection

feat(market): add on-chain sync status tracking and sync worker tests
  pkg/provider_daemon/offering_sync_worker_test.go
  x/market/types/marketplace/sync_status.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

chore(lint): fix golangci-lint warnings in target files
  app/genesis.go
  pkg/pruning/disk_monitor.go
  pkg/pruning/snapshot_manager.go
  pkg/pruning/state_manager_test.go
  x/roles/genesis.go
  x/veid/keeper/borderline_handler.go
Due: x/veid - Identity Verification

feat(hpc): add preconfigured SLURM workload library
  pkg/hpc_workload_library/batch_script.go
  pkg/hpc_workload_library/batch_script_test.go
  pkg/hpc_workload_library/manifest.go
  pkg/hpc_workload_library/manifest_test.go
  pkg/hpc_workload_library/registry.go
  pkg/hpc_workload_library/registry_test.go
  pkg/hpc_workload_library/templates.go
  pkg/hpc_workload_library/templates/batch-array.yaml
  pkg/hpc_workload_library/templates/gpu-compute.yaml
  pkg/hpc_workload_library/templates/interactive-session.yaml
  pkg/hpc_workload_library/templates/mpi-standard.yaml
  pkg/hpc_workload_library/templates/singularity-container.yaml
  pkg/hpc_workload_library/templates_test.go
Due: none

feat(provider): integrate SLURM adapter with provider daemon
  pkg/provider_daemon/hpc_credentials.go
  pkg/provider_daemon/hpc_credentials_test.go
  pkg/provider_daemon/slurm_integration.go
  pkg/provider_daemon/slurm_integration_test.go
Due: pkg/provider_daemon - Provider Services

feat(market): implement resource lifecycle control (14E)
  pkg/provider_daemon/audit.go
  pkg/provider_daemon/lifecycle_control.go
  pkg/provider_daemon/lifecycle_control_test.go
  pkg/provider_daemon/rollback.go
  pkg/provider_daemon/waldur_callbacks.go
Due: pkg/provider_daemon - Provider Services

test(veid): add ML determinism validation + conformance suite
  .github/workflows/ml-determinism.yaml
  _docs/ml-determinism-requirements.md
  pkg/inference/conformance_suite_test.go
  pkg/inference/determinism_config.go
Due: pkg/inference - ML Inference

test(provider): add E2E provider flow tests (register → provision → payout)
  tests/e2e/fixtures/test_offerings.go
  tests/e2e/mocks/waldur_mock.go
  tests/e2e/provider_flow_test.go
Due: none

test(veid): add E2E onboarding flow test (15B)
  tests/e2e/fixtures/test_scopes.go
  tests/e2e/helpers/veid_helpers.go
  tests/e2e/veid_onboarding_test.go
Due: none

test(hpc): add E2E tests for HPC job flow
  tests/e2e/fixtures/test_jobs.go
  tests/e2e/hpc_flow_test.go
  tests/e2e/mocks/slurm_mock.go
Due: none

fix(veid): address linting issues in ML determinism tests
  .github/workflows/ml-determinism.yaml
  pkg/inference/conformance_suite_test.go
  pkg/inference/determinism_config.go
Due: pkg/inference - ML Inference

fix(ci): replace hashFiles job gating
  .github/workflows/ci.yaml
Due: none

docs: update README with correct tests badge URL and refine task naming convention in Task Planner
  .github/agents/Task Planner.agent.md
  .github/workflows/ci.yaml
  README.md
Due: none

refactor(veid): switch to tolerance-based ML consensus
  _docs/ml-determinism-requirements.md
  pkg/inference/conformance_suite_test.go
  pkg/inference/determinism_config.go
Due: pkg/inference - ML Inference

Potential fix for code scanning alert no. 5728: Workflow does not contain permissions
  .github/workflows/ml-determinism.yaml
Due: none

fix(test): resolve integration test build failures
  .claude/settings.local.json
  _build/Dockerfile.provider-daemon
  _build/Dockerfile.test
  _build/Dockerfile.virtengine
  config/kong/kong.yaml
  config/waldur/Caddyfile
  config/waldur/caddy-includes/.gitkeep
  config/waldur/createdb-celery_results.sql
  config/waldur/homeport/config.template.json
  config/waldur/homeport/opt/waldur-homeport/.gitkeep
  config/waldur/keycloak/realm.json
  config/waldur/mastermind/auth.yaml
  config/waldur/mastermind/id_rsa
  config/waldur/mastermind/id_rsa.pub
  config/waldur/mastermind/logging.conf.py
  config/waldur/mastermind/marketplace-script.yaml
  config/waldur/mastermind/marketplace.yaml
  config/waldur/mastermind/notification-templates.yaml
  config/waldur/mastermind/override.conf.py
  config/waldur/mastermind/saml2.conf.py
  config/waldur/mastermind/saml2/credentials/.gitkeep
  config/waldur/mastermind/saml2/metadata/.gitkeep
  config/waldur/mastermind/support.yaml
  config/waldur/mastermind/valimo/.gitkeep
  config/waldur/mastermind/whitelabeling.yaml
  config/waldur/rabbitmq-enabled-plugins
  config/waldur/rabbitmq.conf
  config/waldur/whitelabeling/.gitkeep
  docker-compose.yaml
  docs/operations/DEPLOYMENT_GUIDE.md
  pkg/provider_daemon/slurm_k8s/adapter_test.go
  pkg/provider_daemon/slurm_k8s/mocks.go
  scripts/localnet.sh
  tests/integration/identity_test.go
  tests/integration/marketplace_test.go
  tests/integration/veid_onboarding_test.go
Due: pkg/provider_daemon - Provider Services

chore(sdk): rebrand Akash discovery type to VirtEngine
  app/testnet.go
  cmd/virtengine/cmd/genesis.go
  pkg/nli/query_executor.go
  sdk/go/cli/bme_suite_test.go
  sdk/go/cli/deployment_tx.go
  sdk/go/cli/genesis_init.go
  sdk/go/cli/oracle_suite_test.go
  sdk/go/cli/root.go
  sdk/go/grpc/gogoreflection/fix_registration.go
  sdk/go/inventory/v1/types.go
  sdk/go/manifest/v2beta3/manifest_cross_validation_test.go
  sdk/go/node/bme/v1/genesis.go
  sdk/go/node/client/virtengine.pb.go
  sdk/go/node/deployment/v1beta4/params.go
  sdk/go/node/escrow/v1/authz_test.go
  sdk/go/provider/client/client.go
  sdk/go/sdkutil/init.go
  sdk/go/sdl/v2_1_test.go
  sdk/go/sdl/v2_test.go
  sdk/go/testutil/base.go
  sdk/go/testutil/sdk.go
  sdk/proto/node/virtengine/discovery/v1/virtengine.proto
  sdk/ts/src/generated/protos/virtengine/discovery/v1/akash.ts
  x/deployment/simulation/proposals.go
Due: none

fix(sdk): add missing inventory v1 type definitions
  sdk/go/inventory/v1/types.go
Due: none

refactor(sdk): replace legacy Akash denominations with VirtEngine scheme
  sdk/.github/CODEOWNERS
  sdk/go/cli/bme_suite_test.go
  sdk/go/sdkutil/init.go
  x/escrow/keeper/keeper_test.go
Due: x/escrow - Escrow

ci: include sdk/ in pre-push quality gates
  .githooks/pre-push
Due: none

chore(deps): consolidate ledger-go dependencies to akash-network mono-repo
  go.mod
  sdk/go/go.mod
  sdk/go/go.sum
Due: none

chore(deps): migrate from akash-network to virtengine forks
  go.mod
  go.sum
  sdk/go/go.mod
  sdk/go/go.sum
Due: none

fix(app): add virt_staking module account and provider daemon chainClient
  app/mac.go
  cmd/provider-daemon/main.go
  pkg/provider_daemon/chain_client.go
Due: pkg/provider_daemon - Provider Services

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
