Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_bridge.go
Due: pkg/provider_daemon - Provider Services

fix(ci): fix errcheck, errchkjson, and gofmt lint errors
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/hpc_workload_library/batch_script.go
  pkg/verification/signer/signer.go
  pkg/verification/sms/providers.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(ci): resolve lint errors in artifact_store and enclave_runtime packages
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/moab_adapter/adapter_test.go
  x/veid/keeper/scoring_model_test.go
Due: x/veid - Identity Verification

fix(ci): address lint errors and improve pre-push hook
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(ci): resolve lint errors in artifact_store and enclave_runtime packages
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
Due: none

fix(ci): resolve all golangci-lint errors
  pkg/provider_daemon/waldur_callbacks.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(ci): resolve errcheck and gocritic lint errors
  sdk/go/util/jwt/es256k_test.go
Due: none

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  pkg/moab_adapter/adapter_test.go
  pkg/provider_daemon/waldur_callbacks.go
  x/encryption/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, pkg/provider_daemon - Provider Services

fix: address various issues including lint errors, overflow checks, and improve error handling
  x/encryption/keeper/grpc_query.go
Due: x/encryption - Cryptography

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  infra/terraform/tests/go.sum
Due: none

fix(ci): address lint errors and improve pre-push hook
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(ci): fix errcheck, errchkjson, and gofmt lint errors
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/provider_daemon/waldur_callbacks.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(provider): normalize waldur lifecycle actions
  infra/terraform/tests/go.sum
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

style(sdk): gofmt jwt tests
  sdk/go/util/jwt/es256k_test.go
Due: none

chore(ci): include terraform tests in workspace
  infra/terraform/tests/go.mod
  infra/terraform/tests/go.sum
Due: none

test(ci): update infra test helpers
  infra/tests/aws_helpers_test.go
Due: none

test(ci): remove unused infra helper
  infra/tests/aws_helpers_test.go
Due: none

fix(hpc): add template import for batch scripts
  pkg/hpc_workload_library/batch_script.go
Due: none

fix(hpc): remove unused batch template
  pkg/hpc_workload_library/batch_script.go
Due: none

feat(market): add component-based pricing
  lib/portal/types/marketplace.ts
  lib/portal/types/provider.ts
  pkg/provider_daemon/offering_sync_worker.go
  portal/src/app/provider/pricing/page.tsx
  portal/src/components/provider/ComponentPriceCalculator.tsx
  sdk/go/node/marketplace/v1/query.pb.go
  sdk/go/node/marketplace/v1/query.pb.gw.go
  sdk/go/node/marketplace/v1/types.pb.go
  sdk/proto-gen-fast.ps1
  sdk/proto/node/virtengine/marketplace/v1/query.proto
  sdk/proto/node/virtengine/marketplace/v1/types.proto
  x/market/types/marketplace/errors.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/query_server.go
  x/market/types/marketplace/offering.go
  x/market/types/marketplace/offering_sync.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/order_test.go
  x/market/types/marketplace/pricing_components.go
  x/market/types/marketplace/waldur_bridge.go
  x/market/types/marketplace/waldur_ingest.go
  x/marketplace/module.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

chore(deps): add pnpm lockfile
  pnpm-lock.yaml
Due: none

chore(ci): exclude temp from vet fallback
  .githooks/pre-push
Due: none

ci: fix dependency review license config
  .github/workflows/pr-security-check.yaml
Due: none

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

feat(hpc): wire hpc templates cli
  cmd/virtengine/cmd/hpc/templates.go
Due: none

fix(ci): address lint errors and improve pre-push hook
  .githooks/pre-push
  pkg/payment/webhooks.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

fix(ci): fix errcheck, errchkjson, and gofmt lint errors
  pkg/artifact_store/cid_validation.go
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/enclave_runtime/hardware_sev.go
  pkg/govdata/eidas_adapter.go
  pkg/hpc_workload_library/batch_script.go
  pkg/provider_daemon/azure_adapter_test.go
  pkg/provider_daemon/bid_engine_benchmark_test.go
  pkg/provider_daemon/offering_sync_worker_test.go
  pkg/provider_daemon/waldur_callbacks.go
  pkg/servicedesk/audit.go
  pkg/verification/oidc/verifier_test.go
  pkg/verification/signer/signer.go
  pkg/verification/sms/providers.go
  pkg/workflow/store_test.go
  x/benchmark/keeper/anomaly.go
  x/delegation/types/keys.go
  x/encryption/keeper/grpc_query.go
  x/veid/keeper/embedding_envelope.go
  x/veid/keeper/pipeline_version_integration_test.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, pkg/provider_daemon - Provider Services

fix(ci): handle errors in defer statements and improve randomness usage in tests
  pkg/enclave_runtime/hardware_sev.go
Due: none

fix(ci): resolve errcheck and gocritic lint errors
  app/netsecurity_firewall.go
  pkg/hpc_workload_library/batch_script.go
  pkg/provider_daemon/bid_engine_benchmark_test.go
  pkg/provider_daemon/waldur_callbacks.go
  pkg/verification/oidc/verifier_test.go
  pkg/verification/sms/voip_detector.go
  sdk/go/util/jwt/es256k_test.go
  x/benchmark/keeper/anomaly.go
  x/delegation/types/keys.go
  x/escrow/types/billing/audit.go
Due: x/escrow - Escrow, pkg/provider_daemon - Provider Services

feat(cli): add request verification command and refactor existing commands
  sdk/go/cli/veid_query.go
  sdk/go/cli/veid_tx.go
Due: none

fix(cli): correct bech32 expected addresses in keys_output_test
  sdk/go/cli/keys_output_test.go
Due: none

refactor: replace NewDefaultGenesisState with GenesisStateWithValSet for staking module compatibility
  sdk/go/cli/wasm_tx_test.go
Due: none

fix(ci): resolve lint errors in artifact_store and enclave_runtime packages
  pkg/artifact_store/cid_validation.go
  pkg/dex/price_feed.go
  pkg/economics/audit/auditor.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/config.go
  pkg/enclave_runtime/enclave_service.go
  pkg/govdata/eidas_adapter.go
  pkg/moab_adapter/adapter_test.go
  pkg/servicedesk/audit.go
  pkg/verification/sms/providers.go
  pkg/workflow/store_test.go
  sdk/go/cli/wasm_tx_test.go
  x/escrow/types/billing/audit.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/pipeline_version_integration_test.go
  x/veid/keeper/scoring_model_test.go
Due: x/veid - Identity Verification, x/escrow - Escrow

fix: address various issues including lint errors, overflow checks, and improve error handling
  sdk/go/util/jwt/es256k_test.go
  x/config/keeper/msg_server.go
  x/encryption/keeper/grpc_query.go
  x/encryption/keeper/keeper.go
  x/escrow/keeper/invoice.go
  x/fraud/types/proto_types.go
  x/hpc/keeper/msg_server.go
  x/veid/types/scope.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  app/netsecurity_firewall.go
  pkg/artifact_store/streaming_test.go
  pkg/economics/audit/auditor.go
  pkg/enclave_runtime/config.go
  pkg/enclave_runtime/hardware_sev.go
  pkg/hpc_workload_library/batch_script.go
  pkg/moab_adapter/adapter_test.go
  pkg/provider_daemon/offering_sync_worker.go
  pkg/provider_daemon/offering_sync_worker_test.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/provider_daemon/waldur_callbacks.go
  pkg/verification/signer/signer.go
  pkg/verification/sms/providers.go
  pkg/verification/sms/voip_detector.go
  x/config/keeper/msg_server.go
  x/delegation/types/keys.go
  x/encryption/keeper/grpc_query.go
  x/encryption/keeper/keeper.go
  x/escrow/keeper/invoice.go
  x/fraud/types/proto_types.go
  x/hpc/keeper/msg_server.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/eligibility_enhanced.go
  x/veid/keeper/embedding_envelope.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/pipeline_version_integration_test.go
  x/veid/keeper/privacy_proofs.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/zkproofs_circuits.go
  x/veid/types/scope.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(ci): tighten lint coverage
  .githooks/pre-push
Due: none

fix(ci): resolve all golangci-lint errors
  pkg/artifact_store/streaming_test.go
  pkg/hpc_workload_library/batch_script.go
  pkg/provider_daemon/azure_adapter_test.go
  pkg/provider_daemon/offering_sync_worker.go
  pkg/provider_daemon/waldur_callbacks.go
  sdk/go/cli/keys_output_test.go
  sdk/go/cli/veid_query.go
  sdk/go/cli/veid_tx.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/privacy_proofs.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services
