Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(hpc): guard template param casts
  x/hpc/client/cli/tx.go
  x/hpc/client/cli/tx_job.go
Due: x/hpc - HPC Scheduling

fix(hpc): validate cli spec schemas
  x/hpc/client/cli/tx.go
  x/hpc/client/cli/tx_job.go
  x/hpc/client/cli/tx_provider.go
Due: x/hpc - HPC Scheduling

feat(portal): add wallet adapters and portal integration
  pnpm-lock.yaml
Due: none

feat(portal): finalize wallet connection flow
  lib/portal/components/PortalProvider.tsx
  lib/portal/index.ts
  lib/portal/src/components/wallet/AccountDisplay.tsx
  lib/portal/src/components/wallet/NetworkBadge.tsx
  lib/portal/src/components/wallet/WalletButton.tsx
  lib/portal/src/components/wallet/WalletModal.tsx
  lib/portal/src/components/wallet/index.ts
  lib/portal/src/wallet/adapters/cosmostation.ts
  lib/portal/src/wallet/adapters/keplr.ts
  lib/portal/src/wallet/adapters/leap.ts
  lib/portal/src/wallet/adapters/walletconnect.ts
  lib/portal/src/wallet/context.tsx
  lib/portal/src/wallet/types.ts
  lib/portal/types/config.ts
  portal/src/app/provider/orders/[id]/page.tsx
  portal/src/components/wallet/WalletButton.tsx
  portal/src/components/wallet/WalletConnectPanel.tsx
  portal/src/components/wallet/WalletLoginButtons.tsx
  portal/src/components/wallet/WalletModal.tsx
  portal/src/config/portal.ts
  portal/src/lib/portal-adapter.ts
  portal/tests/unit/stores/walletStore.test.tsx
  portal/tests/unit/wallet/walletProvider.test.tsx
Due: none

fix(deps): normalize walletconnect versions
  lib/portal/package.json
Due: none

fix(app): resolve portal build errors
  portal/src/app/provider/orders/[id]/page.tsx
  portal/src/components/capture/DocumentCapturePanel.tsx
  portal/src/components/capture/SelfieCapturePanel.tsx
  portal/src/components/hpc/HPCJobDetails.tsx
  portal/src/components/hpc/HPCJobSubmit.tsx
Due: none

fix(app): restore capture tips and MFA factors
  portal/src/components/capture/DocumentCapturePanel.tsx
  portal/src/components/capture/SelfieCapturePanel.tsx
  portal/src/components/mfa/MFASetup.tsx
Due: none

chore(deps): repair lockfile
  pnpm-lock.yaml
Due: none

feat(support): add encrypted on-chain support requests
  app/app.go
  app/app_configure.go
  app/modules.go
  app/types/app.go
  pkg/servicedesk/bridge.go
  pkg/servicedesk/config.go
  pkg/servicedesk/decryptor.go
  pkg/servicedesk/event_listener.go
  pkg/servicedesk/support_events.go
  pkg/servicedesk/types.go
  x/support/alias.go
  x/support/genesis.go
  x/support/genesis_test.go
  x/support/keeper/grpc_query.go
  x/support/keeper/keeper.go
  x/support/keeper/keeper_test.go
  x/support/keeper/msg_server.go
  x/support/keeper/msg_server_test.go
  x/support/keeper/support_request_test.go
  x/support/module.go
  x/support/types/codec.go
  x/support/types/errors.go
  x/support/types/genesis.go
  x/support/types/keys.go
  x/support/types/msgs.go
  x/support/types/payload.go
  x/support/types/query.go
  x/support/types/retention.go
  x/support/types/server.go
  x/support/types/support_events.go
  x/support/types/support_request.go
  x/support/types/support_response.go
  x/support/types/ticket.go
Due: none

fix(support): align servicedesk event subscription types
  pkg/servicedesk/event_listener.go
Due: none

fix(support): resolve servicedesk event parsing
  pkg/servicedesk/event_listener.go
  x/support/types/payload.go
  x/support/types/support_request.go
Due: none

fix(support): address lint and mapping issues
  pkg/servicedesk/types_test.go
  x/support/genesis.go
  x/support/keeper/msg_server.go
  x/support/types/external_sync.go
Due: none

fix(support): clamp response count safely
  x/support/keeper/msg_server.go
Due: none

fix(support): avoid uint conversion warnings
  x/support/keeper/msg_server.go
Due: none

fix(support): simplify response limit guard
  x/support/keeper/msg_server.go
Due: none

Commit changes from coding agent for workspace 82573db5-7f39-40e1-8297-7d864a7b2cf4
  app/types/app.go
  sdk/go/go.sum
  sdk/proto/node/virtengine/escrow/v1/query.proto
  x/escrow/keeper/billing_integration.go
  x/escrow/keeper/grpc_query.go
  x/hpc/keeper/billing.go
  x/hpc/keeper/billing_integration.go
  x/hpc/keeper/keeper.go
  x/hpc/keeper/settlement.go
  x/settlement/keeper/billing_integration.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/settlement.go
Due: x/escrow - Escrow, x/hpc - HPC Scheduling

Commit changes from coding agent for workspace 82573db5-7f39-40e1-8297-7d864a7b2cf4
  sdk/go/node/client/client_info.pb.go
  sdk/go/node/client/virtengine.pb.go
  sdk/go/node/deployment/v1beta4/paramsmsg.pb.go
  sdk/go/node/deployment/v1beta4/service.pb.go
  sdk/go/node/escrow/v1/authz.pb.go
  sdk/go/node/escrow/v1/query.pb.go
  sdk/go/node/escrow/v1/query.pb.gw.go
  sdk/go/node/hpc/v1/equal.go
  sdk/go/node/hpc/v1/genesis.pb.go
  sdk/go/node/hpc/v1/msgs.go
  sdk/go/node/hpc/v1/query.pb.go
  sdk/go/node/hpc/v1/query.pb.gw.go
  sdk/go/node/hpc/v1/tx.pb.go
  sdk/go/node/hpc/v1/types.pb.go
  sdk/go/node/oracle/v1/msgs.pb.go
  sdk/go/node/oracle/v1/service.pb.go
  sdk/go/node/provider/v1beta4/domain_events.go
  sdk/go/node/provider/v1beta4/domain_msgs.go
  sdk/go/node/provider/v1beta4/event.pb.go
  sdk/go/node/provider/v1beta4/msg.pb.go
  sdk/go/node/provider/v1beta4/provider.pb.go
  sdk/go/node/provider/v1beta4/service.pb.go
  sdk/go/node/take/v1/paramsmsg.pb.go
  sdk/go/node/take/v1/service.pb.go
  sdk/go/node/veid/v1/genesis.pb.go
  sdk/go/node/veid/v1/query.pb.go
  sdk/go/node/veid/v1/query.pb.gw.go
  sdk/go/node/veid/v1/tx.pb.go
  sdk/go/node/veid/v1/types.pb.go
  sdk/go/node/wasm/v1/genesis.pb.go
  sdk/go/node/wasm/v1/paramsmsg.pb.go
  sdk/go/node/wasm/v1/service.pb.go
  x/hpc/keeper/billing.go
  x/hpc/types/msgs.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/msg_server.go
  x/settlement/keeper/settlement.go
  x/settlement/module.go
Due: x/hpc - HPC Scheduling

fix(hpc): sync proto updates across cli and keeper
  pkg/provider_daemon/chain_client.go
  sdk/go/cli/hpc_query.go
  sdk/go/cli/hpc_tx.go
  sdk/go/cli/test_helpers_test.go
  sdk/go/node/hpc/v1/msgs.go
  sdk/go/node/provider/v1beta4/msgs.go
  sdk/go/node/veid/v1/params.go
  x/hpc/client/cli/query.go
  x/hpc/keeper/msg_server.go
  x/hpc/types/codec.go
  x/hpc/types/msgs.go
  x/settlement/keeper/billing_integration.go
Due: x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(app): stabilize support msg registration
  x/support/types/msgs.go
Due: none

feat(waldur): add offering publication sync and portal UI
  pkg/provider_daemon/offering_publication.go
  pkg/provider_daemon/offering_publication_test.go
  portal/src/app/provider/offerings/page.tsx
  portal/src/hooks/useOfferingSync.ts
  portal/src/types/offering.ts
  x/market/keeper/offering_registry.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

fix(ci): auto-format Go files in pre-push hook instead of failing
  .githooks/pre-push
Due: none

feat(portal): complete wallet integration with Keplr, Leap, Cosmostation
  lib/portal/__tests__/wallet/detector.test.ts
  lib/portal/__tests__/wallet/errors.test.ts
  lib/portal/__tests__/wallet/session.test.ts
  lib/portal/__tests__/wallet/transaction.test.ts
  lib/portal/index.ts
  lib/portal/package-lock.json
  lib/portal/src/components/wallet/AccountSelector.tsx
  lib/portal/src/components/wallet/TransactionModal.tsx
  lib/portal/src/components/wallet/WalletIcon.tsx
  lib/portal/src/components/wallet/WalletSkeleton.tsx
  lib/portal/src/components/wallet/index.ts
  lib/portal/src/wallet/detector.ts
  lib/portal/src/wallet/errors.ts
  lib/portal/src/wallet/index.ts
  lib/portal/src/wallet/session.ts
  lib/portal/src/wallet/transaction.ts
  portal/src/hooks/index.ts
  portal/src/hooks/useWalletAutoConnect.ts
  portal/src/hooks/useWalletErrors.ts
  portal/src/hooks/useWalletTransaction.ts
  portal/src/lib/portal-adapter.ts
Due: none

feat(hpc): add HPC query CLI commands
  x/hpc/client/cli/query.go
  x/hpc/client/cli/query_job.go
  x/hpc/client/cli/query_queue.go
  x/hpc/client/cli/query_test.go
Due: x/hpc - HPC Scheduling

feat(waldur): route customer orders to provider waldur
  cmd/provider-daemon/main.go
  pkg/provider_daemon/order_listener.go
  pkg/provider_daemon/order_router.go
  pkg/provider_daemon/order_router_test.go
  pkg/provider_daemon/status_callback.go
  pkg/provider_daemon/status_callback_test.go
  pkg/provider_daemon/waldur_orders.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/order_status_callback_test.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

fix(hpc): resolve CLI lint issues
  x/hpc/client/cli/query_queue.go
  x/hpc/client/cli/query_test.go
Due: x/hpc - HPC Scheduling

feat(app): route support tickets to waldur
  cmd/provider-daemon/main.go
  lib/portal/src/pages/support/SupportTicketCreateForm.tsx
  lib/portal/src/pages/support/SupportTicketDetail.tsx
  lib/portal/src/pages/support/SupportTicketList.tsx
  lib/portal/src/pages/support/index.ts
  pkg/provider_daemon/support.go
  pkg/provider_daemon/waldur_servicedesk.go
  pkg/servicedesk/bridge.go
  pkg/servicedesk/event_listener.go
  pkg/servicedesk/sync.go
  pkg/servicedesk/types.go
  portal/src/app/(customer)/support/[id]/page.tsx
  portal/src/app/(customer)/support/page.tsx
  portal/src/components/layout/Header.tsx
  portal/src/stores/supportStore.ts
  x/support/keeper/msg_server.go
  x/support/keeper/ticket.go
  x/support/types/messages.go
Due: pkg/provider_daemon - Provider Services

fix(waldur): address order routing lint
  pkg/provider_daemon/order_router.go
  pkg/provider_daemon/order_router_test.go
  pkg/provider_daemon/status_callback.go
  x/market/types/marketplace/keeper/keeper.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

feat(waldur): route customer orders to waldur
  cmd/provider-daemon/main.go
  pkg/provider_daemon/chain_callback_sink.go
  pkg/provider_daemon/order_listener.go
  pkg/provider_daemon/order_listener_test.go
  pkg/provider_daemon/order_router.go
  pkg/provider_daemon/status_callback.go
  pkg/provider_daemon/status_callback_test.go
  pkg/provider_daemon/waldur_orders.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/msg_server.go
  x/market/types/marketplace/order.go
  x/market/types/marketplace/order_test.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

fix(waldur): address order routing lint warnings
  pkg/provider_daemon/order_listener.go
  pkg/provider_daemon/status_callback.go
Due: pkg/provider_daemon - Provider Services

fix(waldur): clean order listener lint
  pkg/provider_daemon/order_listener.go
Due: pkg/provider_daemon - Provider Services

fix(portal): convert dynamic routes for GitHub Pages static export
  portal/next.config.mjs
  portal/src/app/(customer)/marketplace/[provider]/[sequence]/OfferingDetailClient.tsx
  portal/src/app/(customer)/marketplace/[provider]/[sequence]/page.tsx
  portal/src/app/(customer)/marketplace/[provider]/layout.tsx
  portal/src/app/(customer)/orders/[id]/OrderDetailClient.tsx
  portal/src/app/(customer)/orders/[id]/page.tsx
  portal/src/app/governance/proposals/[id]/ProposalDetailClient.tsx
  portal/src/app/governance/proposals/[id]/page.tsx
  portal/src/app/not-found.tsx
  portal/src/app/provider/orders/[id]/DeploymentDetailClient.tsx
  portal/src/app/provider/orders/[id]/page.tsx
Due: none

fix(waldur): align order status constants
  pkg/provider_daemon/status_callback.go
Due: pkg/provider_daemon - Provider Services

fix(waldur): cast order status constants
  pkg/provider_daemon/status_callback.go
Due: pkg/provider_daemon - Provider Services

chore(ci): harden pre-commit formatting
  .githooks/pre-commit
  AGENTS.md
Due: none

chore(ci): extend js/ts pre-commit automation
  .githooks/pre-commit
  AGENTS.md
  _docs/development-environment.md
  scripts/install-deps.ps1
  scripts/setup-env-gitbash.sh
Due: none

feat(provider): add hardware abstraction layer for TEE integration
  pkg/enclave_runtime/hardware/detector.go
  pkg/enclave_runtime/hardware/hardware_test.go
  pkg/enclave_runtime/hardware/manager.go
  pkg/enclave_runtime/hardware/mock_backend.go
  pkg/enclave_runtime/hardware/types.go
  pkg/enclave_runtime/sev/enclave.go
  pkg/enclave_runtime/sev/enclave_test.go
  pkg/enclave_runtime/sev/kds_client.go
  pkg/enclave_runtime/sev/report.go
  pkg/enclave_runtime/sev/report_test.go
  pkg/enclave_runtime/sev/vcek.go
Due: none

feat(provider): add Intel SGX and AWS Nitro Enclave TEE packages
  pkg/enclave_runtime/nitro/doc.go
  pkg/enclave_runtime/nitro/document.go
  pkg/enclave_runtime/nitro/enclave.go
  pkg/enclave_runtime/nitro/nitro_test.go
  pkg/enclave_runtime/nitro/nsm.go
  pkg/enclave_runtime/nitro/verifier.go
  pkg/enclave_runtime/sgx/dcap_client.go
  pkg/enclave_runtime/sgx/enclave.go
  pkg/enclave_runtime/sgx/pck_certs.go
  pkg/enclave_runtime/sgx/quote.go
Due: none

fix(sgx): remove invalid build tags from SGX package files
  pkg/enclave_runtime/sgx/enclave.go
  pkg/enclave_runtime/sgx/quote.go
Due: none

refactor(veid): inject deterministic randomness for proofs
  _docs/veid-zkproofs-security.md
  x/veid/keeper/determinism.go
  x/veid/keeper/keeper.go
  x/veid/keeper/privacy_proofs.go
  x/veid/keeper/privacy_proofs_test.go
  x/veid/keeper/randomness.go
  x/veid/keeper/zkproofs_benchmark_test.go
Due: x/veid - Identity Verification

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
