Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

fix(tests): update bech32 addresses in CLI test cases
  sdk/go/cli/auth_suite_test.go
  sdk/go/cli/wasm_tx_test.go
Due: none

feat(hpc): wire hpc query cli commands
  x/hpc/client/cli/query.go
  x/hpc/module.go
Due: x/hpc - HPC Scheduling

fix(hpc): clamp pagination conversions
  x/hpc/client/cli/query.go
Due: x/hpc - HPC Scheduling

fix(ci): tighten lint coverage
  .githooks/pre-push
  .github/workflows/ci.yaml
  pkg/workflow/redis_store.go
Due: none

style: gofmt tests
  infra/terraform/tests/eks_test.go
  infra/tests/infra_test.go
  tests/compatibility/protocol_negotiation_test.go
  tests/e2e/fixtures/test_offerings.go
  tests/e2e/hpc_marketplace_e2e_test.go
  tests/e2e/mocks/waldur_api_mock.go
  tests/e2e/provider_daemon_e2e_test.go
  tests/e2e/provider_flow_test.go
  tests/e2e/veid_e2e_test.go
  tests/e2e/veid_fixtures.go
  tests/e2e/waldur/error_scenarios_test.go
  tests/e2e/waldur/provider_flow_test.go
  tests/e2e/waldur/settlement_test.go
  tests/e2e/waldur_e2e_test.go
  tests/integration/hpc/node_agent_test.go
  tests/security/ml_verification_test.go
Due: none

fix(ci): resolve lint warnings
  pkg/hpc_workload_library/registry.go
  pkg/workflow/redis_store.go
  x/enclave/keeper/health_test.go
  x/oracle/keeper/keeper.go
  x/provider/keeper/domain_verification_test.go
Due: none

fix(ci): fix JWT test prefix issues and restore tierToLevel backward compat
  sdk/go/node/market/v1beta4/errors.go
  sdk/go/testdata/jwt/cases_jwt.json.tmpl
  sdk/go/util/jwt/es256k_test.go
  sdk/go/util/jwt/jwt_test.go
  sdk/specs/jwt-schema.json
  x/veid/keeper/eligibility_enhanced.go
Due: x/veid - Identity Verification

ci: fetch base ref for security lint
  .github/workflows/pr-security-check.yaml
Due: none

ci: simplify PR checks
  .github/workflows/ci.yaml
  .github/workflows/conprnaming.yaml
  .github/workflows/quality-gate.yaml
  .github/workflows/wip.yaml
Due: none

ci: fix security lint args
  .github/workflows/pr-security-check.yaml
Due: none

fix(ci): resolve all golangci-lint errors
  pkg/provider_daemon/waldur_callbacks.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(ci): fix errcheck, errchkjson, and gofmt lint errors
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/provider_daemon/waldur_callbacks.go
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

chore(ci): include terraform tests in workspace
  infra/terraform/tests/go.mod
  infra/terraform/tests/go.sum
Due: none

fix(ci): resolve errcheck and gocritic lint errors
  sdk/go/util/jwt/es256k_test.go
Due: none

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  go.work
  infra/terraform/tests/go.sum
Due: none

fix(ci): resolve lint errors in artifact_store and enclave_runtime packages
  pkg/dex/price_feed.go
  pkg/edugain/metadata.go
  pkg/enclave_runtime/enclave_service.go
  pkg/moab_adapter/adapter_test.go
  x/veid/keeper/scoring_model_test.go
Due: x/veid - Identity Verification

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_bridge.go
Due: pkg/provider_daemon - Provider Services

fix: address various issues including lint errors, overflow checks, and improve error handling
  x/encryption/keeper/grpc_query.go
Due: x/encryption - Cryptography

fix(ci): address lint errors and improve pre-push hook
  .githooks/pre-push
  x/veid/keeper/validator_sync.go
Due: x/veid - Identity Verification

style(sdk): gofmt jwt tests
  sdk/go/util/jwt/es256k_test.go
Due: none

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  pkg/moab_adapter/adapter_test.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/provider_daemon/waldur_callbacks.go
  x/encryption/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/scoring_model_test.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, x/encryption - Cryptography, pkg/provider_daemon - Provider Services

fix(provider): normalize waldur lifecycle actions
  pkg/provider_daemon/waldur_offering_submitter.go
  x/market/types/marketplace/msgs.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

test(ci): update infra test helpers
  cmd/virtengine/cmd/hpc/templates.go
  infra/terraform/tests/aws_helpers_test.go
  infra/terraform/tests/eks_test.go
  infra/terraform/tests/vpc_test.go
  infra/tests/aws_helpers_test.go
  infra/tests/infra_test.go
Due: none

test(ci): remove unused infra helper
  infra/tests/aws_helpers_test.go
Due: none

feat(veid): implement tf serving sidecar inference
  cmd/inference-sidecar/main.go
  cmd/inference-sidecar/server.go
  cmd/inference-sidecar/sidecar_integration_test.go
  pkg/inference/determinism.go
  pkg/inference/sidecar.go
  pkg/inference/tf_serving_client.go
  pkg/inference/tf_serving_client_test.go
Due: pkg/inference - ML Inference

Commit changes from coding agent for workspace a6625bec-853b-44cf-aaa0-86028cb69c87
  pkg/inference/model_loader.go
  pkg/inference/tf_serving_client.go
  sdk/go/cli/testutil/provider.go
  tests/e2e/deployment_cli_test.go
  tests/e2e/market_cli_test.go
Due: pkg/inference - ML Inference

fix(hpc): re-enable HPC keeper tests
  x/hpc/keeper/rewards_test.go
  x/hpc/keeper/scheduling_test.go
Due: x/hpc - HPC Scheduling

fix(cli): align e2e helpers with cli flags
  sdk/go/cli/testutil/provider.go
  tests/e2e/market_cli_test.go
  tests/e2e/market_grpc_test.go
  tests/e2e/provider_cli_test.go
  tests/e2e/provider_daemon_e2e_test.go
  tests/e2e/provider_flow_test.go
  tests/e2e/provider_grpc_test.go
  tests/e2e/veid_e2e_test.go
Due: none

fix(e2e): align mfa gating and veid tests
  tests/e2e/mfa_gating_test.go
  tests/e2e/provider_cli_test.go
  tests/e2e/veid_e2e_test.go
Due: none

fix(cli): remove duplicate provider exec helper
  sdk/go/cli/testutil/provider.go
Due: none

feat(market): implement portal marketplace messages
  sdk/docs/proto/node.md
  sdk/go/node/marketplace/v1/errors.go
  sdk/go/node/marketplace/v1/msgs.go
  sdk/go/node/marketplace/v1/tx.pb.go
  sdk/go/node/marketplace/v1/types.pb.go
  sdk/proto/node/virtengine/marketplace/v1/tx.proto
  sdk/proto/node/virtengine/marketplace/v1/types.proto
  x/market/types/marketplace/allocation.go
  x/market/types/marketplace/codec.go
  x/market/types/marketplace/events.go
  x/market/types/marketplace/ids.go
  x/market/types/marketplace/ids_test.go
  x/market/types/marketplace/keeper/convert.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/msg_server.go
  x/market/types/marketplace/marketplace_test.go
  x/market/types/marketplace/msgs.go
Due: x/market - Marketplace

fix(keeper): re-enable misc keeper tests
  x/config/keeper/keeper_test.go
  x/enclave/keeper/keeper_test.go
  x/escrow/keeper/keeper_test.go
  x/staking/keeper/rewards_test.go
Due: x/escrow - Escrow

Commit changes from coding agent for workspace 6877b911-634f-4e96-ab56-1b533e217373
  pkg/provider_daemon/waldur_offering_submitter.go
Due: pkg/provider_daemon - Provider Services

fix(ci): resolve all golangci-lint errors
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification

fix(ci): resolve errcheck and gocritic lint errors
  pkg/verification/sms/voip_detector.go
Due: none

Commit changes from coding agent for workspace f46c2a23-1d39-4aa5-8290-2fc1b25c24b0
  pkg/provider_daemon/waldur_bridge.go
  pkg/verification/signer/signer.go
  pkg/verification/sms/providers.go
  pkg/verification/sms/voip_detector.go
  x/veid/keeper/biometric_hash.go
  x/veid/keeper/borderline.go
  x/veid/keeper/consensus_verifier_test.go
  x/veid/keeper/data_lifecycle.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/zkproofs_circuits.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
