Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

feat(resources): add discovery and allocation module
  app/app.go
  app/app_configure.go
  app/modules.go
  app/types/app.go
  cmd/provider-daemon/main.go
  pkg/provider_daemon/chain_client.go
  pkg/provider_daemon/resource_sync.go
  sdk/go/node/resources/v1/genesis.pb.go
  sdk/go/node/resources/v1/query.pb.go
  sdk/go/node/resources/v1/query.pb.gw.go
  sdk/go/node/resources/v1/tx.pb.go
  sdk/go/node/resources/v1/types.pb.go
  sdk/proto/node/virtengine/resources/v1/genesis.proto
  sdk/proto/node/virtengine/resources/v1/query.proto
  sdk/proto/node/virtengine/resources/v1/tx.proto
  sdk/proto/node/virtengine/resources/v1/types.proto
  x/resources/alias.go
  x/resources/genesis.go
  x/resources/keeper/allocation.go
  x/resources/keeper/allocation_test.go
  x/resources/keeper/grpc_query.go
  x/resources/keeper/inventory.go
  x/resources/keeper/keeper.go
  x/resources/keeper/keeper_test.go
  x/resources/keeper/msg_server.go
  x/resources/module.go
  x/resources/types/codec.go
  x/resources/types/errors.go
  x/resources/types/genesis.go
  x/resources/types/keys.go
  x/resources/types/msgs.go
  x/resources/types/params.go
  x/resources/types/types.go
Due: pkg/provider_daemon - Provider Services

feat(hpc): workload template library + registry (partial)
  pkg/provider_daemon/hpc_templates/container_mapper.go
  pkg/provider_daemon/hpc_templates/resolver.go
  pkg/provider_daemon/hpc_templates/slurm_mapper.go
  pkg/provider_daemon/hpc_templates/slurm_mapper_test.go
  pkg/provider_daemon/hpc_templates/types.go
  tests/integration/hpc/templates_test.go
  x/hpc/client/cli/query_template.go
  x/hpc/client/cli/tx_template.go
  x/hpc/types/codec.go
  x/hpc/types/msg_template.go
  x/hpc/types/query_template.go
Due: x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(resources): harden time conversions
  pkg/provider_daemon/resource_sync.go
  x/resources/keeper/allocation.go
  x/resources/keeper/grpc_query.go
  x/resources/types/keys.go
Due: pkg/provider_daemon - Provider Services

feat(veid): add web-scope verification adapters
  pkg/identity_scopes/adapter.go
  pkg/identity_scopes/adapter_test.go
  pkg/identity_scopes/email_adapter.go
  pkg/identity_scopes/sms_adapter.go
  pkg/identity_scopes/sso_adapter.go
  pkg/provider_daemon/veid_scopes/webhooks.go
  pkg/provider_daemon/veid_scopes/webhooks_test.go
  pkg/verification/sso/attestation_signer.go
  pkg/verification/sso/chain_integration.go
  sdk/go/go.mod
  sdk/go/node/sdk/v1/sdk_deps.pb.go
  sdk/go/node/veid/v1/errors.go
  sdk/go/node/veid/v1/msgs.go
  sdk/go/node/veid/v1/query.pb.go
  sdk/go/node/veid/v1/query.pb.gw.go
  sdk/go/node/veid/v1/tx.pb.go
  sdk/go/node/veid/v1/types.pb.go
  sdk/proto/node/virtengine/veid/v1/query.proto
  sdk/proto/node/virtengine/veid/v1/tx.proto
  sdk/proto/node/virtengine/veid/v1/types.proto
  x/veid/keeper/email_verification.go
  x/veid/keeper/grpc_query.go
  x/veid/keeper/sms_verification.go
  x/veid/keeper/sso_linkage.go
  x/veid/keeper/web_scope_msg_server.go
  x/veid/keeper/web_scope_scoring.go
  x/veid/types/codec.go
  x/veid/types/email_verification.go
  x/veid/types/email_verification_test.go
  x/veid/types/errors.go
  x/veid/types/evidence.go
  x/veid/types/grpc_handlers.go
  x/veid/types/msgs.go
  x/veid/types/proto_types.go
  x/veid/types/sms_verification.go
  x/veid/types/sms_verification_test.go
  x/veid/types/sso_msgs.go
  x/veid/types/sso_verification.go
  x/veid/types/sso_verification_test.go
  x/veid/types/web_scope_proto.go
Due: x/veid - Identity Verification, pkg/provider_daemon - Provider Services

fix(resources): guard duration conversions
  x/resources/keeper/allocation.go
  x/resources/keeper/inventory.go
Due: none

fix(resources): harden time conversions
  x/resources/types/keys.go
Due: none

fix(mfa): pad ECDSA signature in tests
  scripts/codex-monitor/.cache/ve-last-notifier-start.txt
  scripts/codex-monitor/package-lock.json
  x/mfa/types/hardwarekey_test.go
Due: x/mfa - Multi-Factor Auth

chore(codex-monitor): ignore cache artifacts
  .gitignore
  scripts/codex-monitor/.cache/ve-last-notifier-start.txt
Due: none

feat(billing): add integration tests for usage ledger and invoice state machine
  tests/integration/settlement/README.md
  tests/integration/settlement/invoice_test.go
  tests/integration/settlement/usage_pipeline_test.go
  testutil/escrow_test_helpers.go
Due: none

feat(hpc): add workload template registry flows
  pkg/provider_daemon/workload_validator.go
  tests/integration/hpc/templates_test.go
  x/hpc/keeper/msg_server_templates.go
  x/hpc/keeper/workload_template.go
  x/hpc/keeper/workload_template_query.go
  x/hpc/types/msg_template.go
  x/hpc/types/query_template_alias.go
Due: x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services

fix(ci): stabilize codex-monitor tests
  scripts/codex-monitor/.cache/completed-tasks/2026-02-07.json
  scripts/codex-monitor/.cache/ve-last-notifier-start.txt
  scripts/codex-monitor/fleet-coordinator.mjs
  scripts/codex-monitor/tests/workspace-reaper.test.mjs
Due: none

docs(runbooks): add operator production runbooks
  _docs/runbooks/operator-runbooks.md
Due: none

fix(codex-monitor): restore complexity and dirty imports
  scripts/codex-monitor/monitor.mjs
Due: none

chore(codex-monitor): update lockfile metadata
  scripts/codex-monitor/package-lock.json
Due: none
