Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

codecov.yml:

# QUALITY-001: Code Coverage Configuration
# Target: 90%+ for unit tests, 85%+ for integration tests
ignore:
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/mocks/**"
  - "**/kubernetes_mock/**"
  - "**/testutil/**"
  - "**/cmd/**"
  - "vendor/**"
  - "**/simulation/**"
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    project:
      default:
        # Target 90% coverage for the overall project
        target: 90%
        threshold: 2%
        if_not_found: success
        if_ci_failed: error
        # Prevent coverage regression
        only_pulls: false
      # Separate target for x/ modules (critical path)
      x-modules:
        paths:
          - "x/**"
        target: 90%
        threshold: 1%
        if_not_found: success
      # Separate target for pkg/ (off-chain services)
      pkg:
        paths:
          - "pkg/**"
        target: 85%
        threshold: 2%
        if_not_found: success
    patch:
      default:
        # All new code must have 90% coverage
        target: 90%
        if_not_found: success
        only_pulls: true
      # Critical modules require 95% patch coverage
      critical:
        paths:
          - "x/veid/**"
          - "x/mfa/**"
          - "x/encryption/**"
          - "x/escrow/**"
        target: 95%
        if_not_found: success
# Component-level coverage tracking
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 2%
  individual_components:
    - component_id: x-veid
      name: "x/veid - Identity Verification"
      paths:
        - "x/veid/**"
    - component_id: x-mfa
      name: "x/mfa - Multi-Factor Auth"
      paths:
        - "x/mfa/**"
    - component_id: x-encryption
      name: "x/encryption - Cryptography"
      paths:
        - "x/encryption/**"
    - component_id: x-market
      name: "x/market - Marketplace"
      paths:
        - "x/market/**"
    - component_id: x-escrow
      name: "x/escrow - Escrow"
      paths:
        - "x/escrow/**"
    - component_id: x-fraud
      name: "x/fraud - Fraud Detection"
      paths:
        - "x/fraud/**"
    - component_id: x-hpc
      name: "x/hpc - HPC Scheduling"
      paths:
        - "x/hpc/**"
    - component_id: pkg-provider
      name: "pkg/provider_daemon - Provider Services"
      paths:
        - "pkg/provider_daemon/**"
    - component_id: pkg-inference
      name: "pkg/inference - ML Inference"
      paths:
        - "pkg/inference/**"

feat(cli): add interactive agent shell
  scripts/codex-monitor/README.md
Due: none

docs(provider): add AGENTS guides for core packages
  api/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

docs: align AGENTS required sections
  api/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

\
  .gitignore
Due: none

docs: add AGENTS documentation standards
  api/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

docs: update AGENTS guide to standardize section titles and remove unnecessary content
  scripts/codex-monitor/AGENTS.md
Due: none

docs(api): add missing AGENTS sections
  api/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

fix(monitor): format git push and PR creation commands for better readability
  scripts/codex-monitor/monitor.mjs
Due: none

feat(api): add delegation grpc queries
  tests/integration/delegation_rest_test.go
  x/delegation/genesis.go
  x/delegation/keeper/grpc_query.go
  x/delegation/keeper/grpc_query_test.go
  x/delegation/keeper/keeper.go
  x/delegation/module.go
Due: none

gofmt error
  pkg/provider_daemon/settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services

docs(scripts): document scripts folder utilities (#610)
  .gitignore
  api/AGENTS.md
  docs/AGENTS_INDEX.md
  pkg/provider_daemon/settlement_pipeline.go
  pkg/provider_daemon/waldur_callbacks.go
  scripts/AGENTS.md
  scripts/codex-monitor/AGENTS.md
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package.json
  scripts/codex-monitor/tests/workspace-reaper.test.mjs
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: pkg/provider_daemon - Provider Services

chore(provider): fix lint and integration pkg
  pkg/provider_daemon/waldur_callbacks.go
  tests/integration/doc.go
Due: pkg/provider_daemon - Provider Services

Merge origin/main into ve/codex-monitor-generic
  .gitignore
  scripts/codex-monitor/AGENTS.md
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package.json
  scripts/codex-monitor/ve-orchestrator.ps1
Due: none

fix(monitor): remove duplicate import declaration causing syntax error
  scripts/codex-monitor/monitor.mjs
Due: none

test(provider): add chain submitter tests
  pkg/provider_daemon/chain_submitter.go
  pkg/provider_daemon/chain_submitter_integration_test.go
  pkg/provider_daemon/chain_submitter_test.go
Due: pkg/provider_daemon - Provider Services

Summary: - Removed legacy market handler implementation and its ignored test file. - Verified module still wires gRPC MsgServer and gRPC gateway registration remains in module.go.
  x/market/handler/handler.go
  x/market/handler/handler_test.go
Due: x/market - Marketplace

feat(app): add v1.2.0 upgrade handler for new modules
  tests/upgrade/test-cases.json
  upgrades/software/v1.2.0/init.go
  upgrades/software/v1.2.0/upgrade.go
  upgrades/upgrade_v1_2_0_test.go
  upgrades/upgrades.go
Due: none

fix(app): resolve pre-push lint issues
  pkg/provider_daemon/waldur_callbacks.go
  scripts/codex-monitor/package-lock.json
  upgrades/upgrade_v1_2_0_test.go
Due: pkg/provider_daemon - Provider Services

feat: Bump version to 0.14.0 and update dependencies
  .github/agents/gsd-codebase-mapper.agent.md
  .github/agents/gsd-debugger.agent.md
  .github/agents/gsd-executor.agent.md
  .github/agents/gsd-integration-checker.agent.md
  .github/agents/gsd-phase-researcher.agent.md
  .github/agents/gsd-plan-checker.agent.md
  .github/agents/gsd-planner.agent.md
  .github/agents/gsd-project-researcher.agent.md
  .github/agents/gsd-research-synthesizer.agent.md
  .github/agents/gsd-roadmapper.agent.md
  .github/agents/gsd-verifier.agent.md
  .golangci.yaml
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/AGENTS.md
  scripts/codex-monitor/README.md
  scripts/codex-monitor/agent-work-analyzer.mjs
  scripts/codex-monitor/analyze-agent-work.mjs
  scripts/codex-monitor/autofix.mjs
  scripts/codex-monitor/config.mjs
  scripts/codex-monitor/docs/AGENT_LOGGING_SUMMARY.md
  scripts/codex-monitor/docs/agent-logging-quickstart.md
  scripts/codex-monitor/docs/agent-work-logging-design.md
  scripts/codex-monitor/lib/agent-work-logger.ps1
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
  scripts/codex-monitor/rotate-agent-logs.sh
  scripts/codex-monitor/setup.mjs
  scripts/codex-monitor/test-syntax.ps1
  scripts/codex-monitor/ve-orchestrator.ps1
  scripts/codex-monitor/workspace-monitor.mjs
Due: none
