Repository virtengine/virtengine: changes, and which Codecov flags are due for each by the changed paths.
All: x/veid - Identity Verification, x/mfa - Multi-Factor Auth, x/encryption - Cryptography, x/market - Marketplace, x/escrow - Escrow, x/fraud - Fraud Detection, x/hpc - HPC Scheduling, pkg/provider_daemon - Provider Services, pkg/inference - ML Inference

feat(codex-monitor): add distributed task claiming with idempotency
  scripts/codex-monitor/README.md
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/task-claims.mjs
  scripts/codex-monitor/tests/task-claims.test.mjs
Due: none

Perfect! Let me create a summary of what was implemented:
  scripts/codex-monitor/.cache/completed-tasks/2026-02-07.json
  scripts/codex-monitor/.cache/ve-last-notifier-start.txt
Due: none

fix(codex-monitor): prevent stale worktree path corruption in VK environments
  scripts/codex-monitor/ve-orchestrator.ps1
Due: none

feat(infra): implement comprehensive DR/BC infrastructure (INFRA-002)
  go.work
  infra/dr/DR_DRILL_PROCEDURES.md
  infra/dr/IMPLEMENTATION_SUMMARY.md
  infra/kubernetes/dr/backup-cronjobs.yaml
  infra/terraform/modules/multi-region/main.tf
Due: none

feat(compliance): gdpr consent tracking
  pkg/gdpr/audit.go
  pkg/gdpr/deletion.go
  pkg/gdpr/export.go
  pkg/gdpr/memory_store.go
  pkg/gdpr/rights.go
  portal/src/app/api/consent/[address]/route.ts
  portal/src/app/api/consent/data.ts
  portal/src/app/api/consent/deletion/route.ts
  portal/src/app/api/consent/export/route.ts
  portal/src/app/api/consent/grant/route.ts
  portal/src/app/api/consent/requests/route.ts
  portal/src/app/api/consent/withdraw/route.ts
  portal/src/app/privacy/page.tsx
  portal/src/components/consent/ConsentHistory.tsx
  portal/src/components/consent/ConsentManager.tsx
  portal/src/components/consent/DataExportStatus.tsx
  portal/src/types/consent.ts
  x/veid/keeper/consent_records.go
  x/veid/keeper/consent_records_test.go
  x/veid/keeper/gdpr_erasure.go
  x/veid/keeper/gdpr_portability.go
  x/veid/keeper/msg_server_test.go
  x/veid/keeper/wallet.go
  x/veid/keeper/wallet_test.go
  x/veid/types/consent_records.go
  x/veid/types/keys.go
Due: x/veid - Identity Verification

feat(slopes): add agent messaging types
  x/hpc/types/agent_message.go
  x/hpc/types/agent_message_test.go
Due: x/hpc - HPC Scheduling

chore(codex-monitor): revert lockfile drift
  scripts/codex-monitor/package-lock.json
Due: none

docs(settlement): verify settlement keeper tests are re-enabled and passing
  VERIFICATION.md
Due: none

fix(portal): show stats refresh time
  lib/portal/src/components/stats/StatsSection.tsx
Due: none

Update package.json
  scripts/codex-monitor/package.json
Due: none

docs(api): complete API documentation with OpenAPI specs and interactive docs
  api/openapi/virtengine-api.yaml
  docs/api/README.md
  docs/api/guides/rate-limits.md
  docs/api/openapi/README.md
  docs/api/openapi/swagger-ui.html
Due: none

fix(codex-monitor): fix fleet-coordinator test for git worktree environment
  scripts/codex-monitor/tests/fleet-coordinator.test.mjs
Due: none

feat(slopes): implement agent-side message handlers
  cmd/hpc-node-agent/agent.go
  cmd/hpc-node-agent/main.go
  cmd/hpc-node-agent/message_handler.go
Due: none

docs: update progress with series 36 plan
  _docs/ralph/progress.md
Due: none

feat(codex-monitor): add fleet coordination + shared knowledge system
  scripts/codex-monitor/config.mjs
  scripts/codex-monitor/fleet-coordinator.mjs
  scripts/codex-monitor/monitor.mjs
  scripts/codex-monitor/package.json
  scripts/codex-monitor/shared-knowledge.mjs
  scripts/codex-monitor/tests/fleet-coordinator.test.mjs
Due: none

feat(codex-monitor): add auth passthrough for pre-authenticated sessions
  scripts/codex-monitor/.env.example
  scripts/codex-monitor/claude-shell.mjs
  scripts/codex-monitor/codex-monitor.config.example.json
  scripts/codex-monitor/codex-monitor.schema.json
  scripts/codex-monitor/copilot-shell.mjs
Due: none

fix(ci): stabilize codex-monitor reaper
  scripts/codex-monitor/fleet-coordinator.mjs
  scripts/codex-monitor/tests/workspace-reaper.test.mjs
  scripts/codex-monitor/workspace-reaper.mjs
Due: none

fix(hpc): align template msg server and tests
  tests/integration/hpc/templates_test.go
  x/hpc/keeper/msg_server.go
  x/hpc/types/codec.go
Due: x/hpc - HPC Scheduling

\
  .gitignore
Due: none

fix(provider): add missing Get-CommitsAhead function to active orchestrator
  AGENTS.md
  _docs/operations/slopes-multi-workspace-operator-guide.md
  scripts/.cache/ve-orchestrator-copilot.json
  scripts/_check-parse.ps1
  scripts/_consolidate-refs.ps1
  scripts/_show-line.ps1
  scripts/_validate-syntax.ps1
  scripts/codex-monitor/.cache/completed-tasks/2026-02-07.json
  scripts/codex-monitor/autofix.mjs
  scripts/codex-monitor/codex-shell.mjs
  scripts/codex-monitor/copilot-shell.mjs
  scripts/codex-monitor/telegram-bot.mjs
  scripts/codex-monitor/ve-orchestrator.ps1
  scripts/ve-kanban.ps1
  scripts/ve-orchestrator.ps1
Due: none

ci: add PowerShell .ps1 syntax checking to pre-push hook
  .githooks/pre-push
  .gitignore
  pkg/provider_daemon/audit.log
  scripts/.cache/ve-orchestrator-copilot.json
  scripts/.cache/ve-orchestrator-state.json
  scripts/.cache/ve-orchestrator-status.json
  scripts/.cache/ve-success-metrics.json
  scripts/_check-ps1-syntax.ps1
  scripts/codex-monitor/ve-orchestrator.ps1
Due: pkg/provider_daemon - Provider Services

chore(cache): clean up cache files and update .gitignore for cache directory
  .gitignore
  scripts/.cache/ve-orchestrator-copilot.json
  scripts/.cache/ve-orchestrator-state.json
  scripts/.cache/ve-orchestrator-status.json
  scripts/.cache/ve-success-metrics.json
  scripts/codex-monitor/.cache/completed-tasks/2026-02-07.json
  scripts/codex-monitor/.npmignore
Due: none

fix: update package version to 0.13.2 in package.json and package-lock.json
  scripts/codex-monitor/package-lock.json
  scripts/codex-monitor/package.json
Due: none

test(veid): add identity-to-payout e2e flow
  tests/e2e/helpers/veid_helpers.go
  tests/e2e/identity_order_provision_payout_e2e_test.go
Due: none

chore(provider): add audit log artifact
  pkg/provider_daemon/audit.log
Due: pkg/provider_daemon - Provider Services

feat(api): add lifecycle management controls
  api/openapi/portal_api.yaml
  cmd/provider-daemon/main.go
  cmd/virtengine/cmd/access/access.go
  cmd/virtengine/cmd/access/lifecycle.go
  cmd/virtengine/cmd/access/lifecycle_test.go
  cmd/virtengine/cmd/root.go
  pkg/provider_daemon/api/generated/types.go
  pkg/provider_daemon/lifecycle_controller.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_chain_query.go
  pkg/provider_daemon/portal_chain_query_grpc.go
  pkg/provider_daemon/portal_lifecycle.go
  pkg/provider_daemon/portal_lifecycle_test.go
  pkg/provider_daemon/waldur_bridge.go
  pkg/provider_daemon/waldur_callbacks.go
  x/market/types/marketplace/keeper/keeper.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

feat(encryption): add versioned envelopes and vault rotation
  pkg/data_vault/access_control.go
  pkg/data_vault/consent.go
  pkg/data_vault/errors.go
  pkg/data_vault/keys/key_manager.go
  pkg/data_vault/keys/key_manager_test.go
  pkg/data_vault/service.go
  pkg/data_vault/store.go
  pkg/data_vault/types.go
  pkg/data_vault/vault_service.go
  pkg/data_vault/vault_service_test.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_vault.go
  pkg/provider_daemon/settlement_pipeline.go
  x/encryption/crypto/envelope.go
  x/encryption/crypto/envelope_test.go
  x/encryption/keeper/keeper.go
  x/encryption/types/envelope.go
  x/encryption/types/keys.go
  x/encryption/types/recipient_key_id.go
Due: x/encryption - Cryptography, pkg/provider_daemon - Provider Services

docs(provider): add AGENTS guides for core packages
  api/AGENTS.md
  scripts/codex-monitor/AGENTS.md
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

feat(market): add vm/container provisioning workflow
  cmd/provider-daemon/main.go
  pkg/provider_daemon/kubernetes_noop_client.go
  pkg/provider_daemon/provisioning_kubernetes.go
  pkg/provider_daemon/provisioning_kubernetes_test.go
  pkg/provider_daemon/provisioning_state.go
  pkg/provider_daemon/provisioning_waldur.go
  pkg/provider_daemon/provisioning_worker.go
  pkg/provider_daemon/settlement_pipeline.go
  x/market/types/marketplace/allocation.go
  x/market/types/marketplace/events.go
  x/market/types/marketplace/keeper/keeper.go
  x/market/types/marketplace/keeper/provisioning.go
  x/market/types/marketplace/keeper/usage.go
  x/market/types/marketplace/marketplace_test.go
  x/market/types/marketplace/service_types.go
  x/market/types/marketplace/service_types_test.go
Due: x/market - Marketplace, pkg/provider_daemon - Provider Services

feat(encryption): add versioned envelopes and vault rotation
  pkg/data_vault/access_control.go
  pkg/data_vault/consent.go
  pkg/data_vault/errors.go
  pkg/data_vault/keys/key_manager.go
  pkg/data_vault/keys/key_manager_test.go
  pkg/data_vault/service.go
  pkg/data_vault/store.go
  pkg/data_vault/types.go
  pkg/data_vault/vault_service.go
  pkg/data_vault/vault_service_test.go
  pkg/provider_daemon/portal_api.go
  pkg/provider_daemon/portal_vault.go
  x/encryption/crypto/envelope.go
  x/encryption/crypto/envelope_test.go
  x/encryption/keeper/keeper.go
  x/encryption/types/envelope.go
  x/encryption/types/keys.go
  x/encryption/types/recipient_key_id.go
Due: x/encryption - Cryptography, pkg/provider_daemon - Provider Services

docs(scripts): document scripts folder utilities
  scripts/AGENTS.md
Due: none

feat(dex): add fiat conversion settlement pipeline
  pkg/payments/offramp/bridge.go
  pkg/payments/offramp/doc.go
  pkg/payments/offramp/errors.go
  pkg/payments/offramp/mock_provider.go
  pkg/payments/offramp/types.go
  tests/integration/settlement/dex_offramp_test.go
  x/settlement/client/cli/query.go
  x/settlement/genesis.go
  x/settlement/keeper/dex.go
  x/settlement/keeper/dex_offramp_test.go
  x/settlement/keeper/grpc_query.go
  x/settlement/keeper/keeper.go
  x/settlement/keeper/payout_executor.go
  x/settlement/keeper/settlement.go
  x/settlement/module.go
  x/settlement/types/codec.go
  x/settlement/types/errors.go
  x/settlement/types/events.go
  x/settlement/types/fiat_conversion.go
  x/settlement/types/genesis.go
  x/settlement/types/keys.go
  x/settlement/types/payout.go
Due: none

chore(provider): silence unused settlement helpers
  pkg/provider_daemon/settlement_pipeline.go
Due: pkg/provider_daemon - Provider Services

docs: add AGENTS documentation standards
  .github/workflows/ci.yaml
  .github/workflows/quality-gate.yaml
  AGENTS.md
  api/AGENTS.md
  docs/AGENTS_INDEX.md
  docs/AGENTS_STANDARDS.md
  docs/templates/AGENTS.template.md
  scripts/codex-monitor/AGENTS.md
  scripts/validate-agents-docs.mjs
  sdk/ts/AGENTS.md
  x/provider/AGENTS.md
Due: none

Path conditions:
  x/veid - Identity Verification: any of: x/veid/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/mfa - Multi-Factor Auth: any of: x/mfa/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/encryption - Cryptography: any of: x/encryption/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/market - Marketplace: any of: x/market/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/escrow - Escrow: any of: x/escrow/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/fraud - Fraud Detection: any of: x/fraud/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  x/hpc - HPC Scheduling: any of: x/hpc/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/provider_daemon - Provider Services: any of: pkg/provider_daemon/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
  pkg/inference - ML Inference: any of: pkg/inference/**, but not: **/*.pb.go, **/*.pb.gw.go, **/mocks/**, **/kubernetes_mock/**, **/testutil/**, **/cmd/**, vendor/**, **/simulation/**
